# Building a SQL database
This notebook builds the necessary db files for the project using SQLite3.

Most data is taken from Chicago Data Portal https://data.cityofchicago.org/ using Socrata library.
The API endpoints for the data are:
- Red Light Violations: https://data.cityofchicago.org/resource/spqx-js37.json
- Congestion by Region 2018-Present: https://data.cityofchicago.org/resource/kf7e-cur8.json
- Congestion by Region 2013-2018: https://data.cityofchicago.org/resource/emtn-qqdi.json
- Traffic Crashes: https://data.cityofchicago.org/resource/85ca-t3if.json

Weather data is taken from https://openweathermap.org/weather-data and is saved as csv in data folder

Tables to build:
- daily_violations (one entry for each camera each day with total violations)
- intersection_locations (one entry for each intersection with lat/long)
- intersection_cams (one entry for each intersection with camera_ids)
- signal_crashes (one entry for each intersection crash with many columns)
- cam_locations (one entry for each cam, with lat/long)
- cam_startend (one entry for each cam with start end dates for min/max dates active)
- hourly_congestion (one entry per hour with bus speed averages for each region)
- hourly_weather (one entry per hour with many weather cols)
- region_data (one entry per region with locations and descriptions to place intersections)

## Required Imports

In [1]:
#!pip install "dask[complete]"
# from dask.distributed import Client, progress
# client = Client(n_workers=2, threads_per_worker=2, memory_limit='1GB')
# client

In [2]:
import pandas as pd
from sodapy import Socrata
#import matplotlib.pyplot as plt
from datetime import datetime
from modules.myfuncs import *
import warnings
import numpy as np
from geopy.geocoders import Nominatim
# import dask
# import dask.dataframe as dd
import gc


warnings.filterwarnings('ignore')

## Create/connect to db and build the TABLEs

In [3]:
# Create a db
conn = create_connection('database/rlc2.db')  # function I created in myfuncs file
c = conn.cursor()
#conn.close()

sqlite3 version: 2.6.0
connected to database/rlc2.db

## Set up the Socrata client

In [4]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:

url = "data.cityofchicago.org"
client = Socrata(url, None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

# TABLE builds

For every TABLE
- Use a Socrata client query to get all relevant data
- Preprocess data as needed
- Create Table

Our data
- rlc_cam is up to 1M redlight cams from 2015 to 2020
- crash_data is up to 1M crashes from 2015 to 2020
- traffic_data is up to 10M from 2015 to 2020

Weather data is taken from csv in data folder

## 1) Build intersection_chars TABLE from int_df

In [5]:
from modules.int_chars import *
import pandas as pd

int_chars.keys()
int_df = pd.DataFrame.from_dict(int_chars, orient='index')
int_df['intersection'] = int_chars.keys()
int_df.isna().sum()

roads             0
protected_turn    0
total_lanes       0
medians           0
exit              0
split             0
way               0
underpass         0
no_left           0
angled            0
triangle          0
one_way           0
turn_lanes        0
lat               0
long              0
rlc               0
intersection      0
dtype: int64

In [6]:
int_df = int_df[int_df['rlc']==1]
int_df.columns

Index(['roads', 'protected_turn', 'total_lanes', 'medians', 'exit', 'split',
       'way', 'underpass', 'no_left', 'angled', 'triangle', 'one_way',
       'turn_lanes', 'lat', 'long', 'rlc', 'intersection'],
      dtype='object')

In [7]:
cols_toint = ['protected_turn', 'total_lanes', 'medians', 'exit', 'split',
       'way', 'underpass', 'no_left', 'angled', 'triangle', 'one_way',
       'turn_lanes', 'rlc']
cols_tofloat = ['lat', 'long',]

int_df[cols_toint] = int_df[cols_toint].astype(int)
int_df[cols_tofloat] = int_df[cols_tofloat].astype(float)
int_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184 entries, 111TH AND HALSTED to WESTERN AND TOUHY
Data columns (total 17 columns):
roads             184 non-null object
protected_turn    184 non-null int64
total_lanes       184 non-null int64
medians           184 non-null int64
exit              184 non-null int64
split             184 non-null int64
way               184 non-null int64
underpass         184 non-null int64
no_left           184 non-null int64
angled            184 non-null int64
triangle          184 non-null int64
one_way           184 non-null int64
turn_lanes        184 non-null int64
lat               184 non-null float64
long              184 non-null float64
rlc               184 non-null int64
intersection      184 non-null object
dtypes: float64(2), int64(13), object(2)
memory usage: 25.9+ KB

In [8]:
int_df.head()

,roads,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection
111TH AND HALSTED,"[28 West, 11600 South]",2,6,2,0,0,4,0,0,1,0,0,2,41.692362,-87.642423,1,111TH AND HALSTED
115TH AND HALSTED,"[714 West, 11600 South]",4,6,2,0,0,4,0,0,0,0,0,4,41.685089,-87.642094,1,115TH AND HALSTED
119TH AND HALSTED,"[446 West, 11600 South]",4,6,2,0,0,4,0,0,0,0,0,4,41.677774,-87.641930,1,119TH AND HALSTED
31ST AND CALIFORNIA,"[2825 West, 3026 South]",2,6,0,0,0,4,0,0,0,0,0,4,41.837424,-87.695022,1,31ST AND CALIFORNIA
31ST ST AND MARTIN LUTHER KING DRIVE,"[440 East, 3030 South]",2,10,2,0,1,4,0,2,0,0,0,0,41.838441,-87.617338,1,31ST ST AND MARTIN LUTHER KING DRIVE

#### Now bring in my count information

In [9]:
daily_traffic = client.get("pfsx-4n4m", 
                     limit=2000,
                    )

daily_traffic = pd.DataFrame.from_records(daily_traffic) # Convert to pandas DataFrame

In [10]:
daily_traffic.info()
cols_tokeep = ['traffic_volume_count_location_address', 'total_passing_vehicle_volume',]
daily_traffic = daily_traffic[cols_tokeep]
daily_traffic.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 15 columns):
id                                             1279 non-null object
traffic_volume_count_location_address          1279 non-null object
street                                         1279 non-null object
date_of_count                                  1279 non-null object
total_passing_vehicle_volume                   1279 non-null object
vehicle_volume_by_each_direction_of_traffic    1279 non-null object
latitude                                       1279 non-null object
longitude                                      1279 non-null object
location                                       1279 non-null object
:@computed_region_rpca_8um6                    1266 non-null object
:@computed_region_vrxf_vc4k                    1266 non-null object
:@computed_region_6mkv_f3dw                    1279 non-null object
:@computed_region_bdys_3d7i                    1265 non-null object
:@computed_region_43wa_7qmu                    1266 non-null object
:@computed_region_awaf_s7ux                    1266 non-null object
dtypes: object(15)
memory usage: 150.0+ KB

  traffic_volume_count_location_address total_passing_vehicle_volume
0                             5838 West                         7100
1                              320 East                         8600
2                             1730 East                        53500
3                              125 East                          700
4                             2924 East                         4200

In [11]:
daily_traffic.total_passing_vehicle_volume = daily_traffic.total_passing_vehicle_volume.astype(int)
daily_traffic.head()

  traffic_volume_count_location_address  total_passing_vehicle_volume
0                             5838 West                          7100
1                              320 East                          8600
2                             1730 East                         53500
3                              125 East                           700
4                             2924 East                          4200

Combine my characteristics with my daily_traffic

In [12]:
int_df.roads

111TH AND HALSTED                         [28 West, 11600 South]
115TH AND HALSTED                        [714 West, 11600 South]
119TH AND HALSTED                        [446 West, 11600 South]
31ST AND CALIFORNIA                      [2825 West, 3026 South]
31ST ST AND MARTIN LUTHER KING DRIVE      [440 East, 3030 South]
                                                  ...
WESTERN AND FULLERTON                    [2160 North, 3130 West]
WESTERN AND MARQUETTE                    [6642 South, 2509 West]
WESTERN AND NORTH                        [1526 North, 2932 West]
WESTERN AND PRATT                        [1420 West, 6071 North]
WESTERN AND TOUHY                       [7254 North, 6071 North]
Name: roads, Length: 184, dtype: object

In [13]:
#int_chars.merge(daily_traffic, left_on='intersection', right_on='rkey')
def look_up_roads(road_list):
    total = 0
    #print(road_list)
    for road in road_list:
        count = daily_traffic[daily_traffic['traffic_volume_count_location_address']==road]['total_passing_vehicle_volume'].values[0]
        print(road)
        # print(road, '-', count)
        total += count
    # print(total)
    return total

int_df['daily_traffic'] = int_df['roads'].apply(look_up_roads)
int_df.drop(columns=['roads'], inplace=True)

28 West
11600 South
714 West
11600 South
446 West
11600 South
2825 West
3026 South
440 East
3030 South
2307 West
3636 South
2738 West
4855 South
3105 West
5413 South
2230 West
5420 South
4630 West
5231 South
120 East
6023 South
1708 West
7132 South
46 East
7539 South
540 West
8357 South
2830 West
8220 South
1240 East
8216 South
710 West
8940 South
1916 East
9348 South
9550 South
7121 West
3250 North
5410 South
5858 South
5858 South
5433 South
6607 West
6247 South
6231 South
1439 West
4432 South
1445 West
6217 South
1428 West
8212 South
1500 West
8822 South
3229 South
3247 South
1614 West
2855 North
1925 West
1345 North
1434 West
2435 North
1625 West
4034 North
1350 West
5116 North
1650 West
133 South
6050 West
3521 North
5842 West
4308 North
3317 West
3235 North
3317 West
2358 South
2307 West
6629 North
2307 West
6526 North
3120 West
3242 North
2314 West
5831 North
412 West
460 South
5434 West
3501 North
5532 West
3501 North
4444 West
643 North
5900 West
2459 North
5400 West
2366 North
5301 West
3658 North
5838 West
643 North
4810 North
5601 North
4042 West
2119 South
54 West
835 North
4706 West
4310 South
4550 West
3647 North
4459 West
2125 North
4444 West
1125 North
4632 West
2845 North
4710 West
2125 North
4631 West
815 South
4310 South
4310 South
4706 West
5800 North
4850 West
25 North
3935 West
3733 North
500 West
3733 North
1140 West
745 North
242 East
1730 East
1621 East
1629 North
1851 West
7141 South
7150 South
240 East
9401 South
1057 East
6559 South
2237 West
1614 West
3137 North
2293 North
3249 North
3137 North
3249 North
1434 West
2653 North
6041 West
3260 North
1614 West
3249 North
1508 North
1925 West
3249 North
3023 West
5110 North
4856 West
4050 North
3842 West
4464 North
4245 West
1059 West
5243 North
6058 West
5205 North
5313 West
2761 North
6325 West
4810 North
1440 West
5323 South
6325 West
1928 North
646 West
10621 South
519 West
6020 South
1101 West
8357 South
948 West
9550 South
624 West
840 North
500 West
2034 North
2136 North
600 West
159 North
929 West
2034 North
3837 West
114 North
3932 West
114 North
7368 West
3250 North
6516 North
6805 North
1050 West
5333 North
3335 West
1820 North
3056 West
3765 North
3056 West
4710 North
4240 West
5301 West
3620 North
6204 West
4065 North
2726 East
8121 South
2097 East
9450 South
2900 West
3001 South
3252 West
3001 South
4740 South
3016 West
6214 South
2939 West
7153 South
3249 West
2427 North
3308 West
2609 North
3120 West
2761 North
6082 North
6067 North
1533 North
4517 West
9124 South
71 East
355 West
150 North
3620 North
662 West
2426 North
5400 West
190 South
4640 West
435 North
10 East
4825 West
5050 North
2315 West
4581 North
6082 North
6067 North
211 South
5937 West
2335 West
220 North
350 East
200 South
230 East
646 North
4810 North
5601 North
6193 West
6333 North
4810 North
4851 West
2249 West
4247 North
5313 West
4810 North
4040 West
2004 South
2535 West
3636 South
6071 North
2314 West
3933 West
6224 South
4101 West
7825 South
4732 South
4709 South
4212 West
2032 North
2827 North
3945 West
3652 West
928 North
2739 North
3809 West
3914 West
928 North
3447 West
5040 North
4047 West
2415 North
3842 West
4059 North
5040 North
3845 West
4445 North
3758 West
1640 North
3741 West
3318 West
5040 North
5816 North
6137 North
813 West
1302 South
4637 West
1531 South
3915 West
700 South
667 North
2650 West
3116 West
270 North
909 West
5333 North
20 East
7539 South
7531 South
1716 East
7648 South
850 East
8538 South
1733 East
6840 South
7252 West
350 South
839 West
10748 South
28 West
120 West
2531 West
4855 South
2600 West
6642 South
2523 West
7234 South
2830 West
7521 South
2458 West
3643 North
2324 West
2160 North
2235 West
1837 South
2650 West
652 North
2307 West
6071 North
5232 North
2671 West
2160 North
3130 West
6642 South
2509 West
1526 North
2932 West
1420 West
6071 North
7254 North
6071 North

In [14]:
int_df.head()

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic
111TH AND HALSTED,2,6,2,0,0,4,0,0,1,0,0,2,41.692362,-87.642423,1,111TH AND HALSTED,43100
115TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.685089,-87.642094,1,115TH AND HALSTED,42500
119TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.677774,-87.641930,1,119TH AND HALSTED,41800
31ST AND CALIFORNIA,2,6,0,0,0,4,0,0,0,0,0,4,41.837424,-87.695022,1,31ST AND CALIFORNIA,41100
31ST ST AND MARTIN LUTHER KING DRIVE,2,10,2,0,1,4,0,2,0,0,0,0,41.838441,-87.617338,1,31ST ST AND MARTIN LUTHER KING DRIVE,36500

In [15]:
def make_table(df, table_name, c, conn):
    '''
    table_name string
    c cursor object
    conn sql connection object
    '''
    if table_name in sql_fetch_tables(c, conn):  # helper function in myfuncs
        delete_all_entries(c, conn, table_name) # in myfuncs
    
    df.to_sql(table_name, conn, if_exists='replace', index = False)    
    print(sql_fetch_tables(c, conn))

In [16]:
make_table(int_df, 'intersection_chars', c, conn)

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('intersection_chars',)]

## 1) Build daily_violations TABLE  from rlc_df

### Get red light violation data from Socrata query

In [17]:
# Red light violations
# Takes several minutes to run and holds about 500mb in memory to build

# First 1000000 results, returned as JSON from API / converted to Python list of dictionaries by sodapy
rlc_df = client.get("spqx-js37", #speed cams are at 'hhkd-xvj4' if you want to investigate?
                     #where='violation_date > 01-01-2020',
                     where='violation_date BETWEEN \'2015-01-01T00:00:00.000\' AND \'2020-12-31T00:00:00.000\'',
                     limit=1000000,
                    )

rlc_df = pd.DataFrame.from_records(rlc_df) # Convert to pandas DataFrame

### Preprocess Red Light Camera Data

Data Columns of interest:

INTERSECTION -
Intersection of the location of the red light enforcement camera(s). There may be more than one camera at each intersection. Plain Text

CAMERA ID -
A unique ID for each physical camera at an intersection, which may contain more than one camera. Plain Text

ADDRESS	-
The address of the physical camera (CAMERA ID). The address may be the same for all cameras or different, based on the physical installation of each camera. Plain Text

VIOLATION DATE -
The date of when the violations occurred. NOTE: The citation may be issued on a different date. Date & Time

VIOLATIONS - 
Number of violations for each camera on a particular day. Number

LATITUDE -
The latitude of the physical location of the camera(s) based on the ADDRESS column. Geocoded using the WGS84. Number

LONGITUDE -
The longitude of the physical location of the camera(s) based on the ADDRESS column. Geocoded using the WGS84.
Number

#### Investigate rlc_df

In [18]:
rlc_df.info()
rlc_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572559 entries, 0 to 572558
Data columns (total 10 columns):
intersection      572559 non-null object
camera_id         572325 non-null object
address           572559 non-null object
violation_date    572559 non-null object
violations        572559 non-null object
x_coordinate      542736 non-null object
y_coordinate      542736 non-null object
latitude          542736 non-null object
longitude         542736 non-null object
location          542736 non-null object
dtypes: object(10)
memory usage: 43.7+ MB

intersection          0
camera_id           234
address               0
violation_date        0
violations            0
x_coordinate      29823
y_coordinate      29823
latitude          29823
longitude         29823
location          29823
dtype: int64

#### Drop nan values and unnecessary columns
We see that we have all text/non-null objects.  Need to convert first before manipulating for preprocess.

There are a fair number of missing locations/lat/long.  Hope to be able to replace those missing values.
This represents a large enough portion of dataset that we should look them up.

The na values for camera_id will have to be dropped, since we don't know what they are.

We will not be using x andy y_coordinate, so we drop those.  We will also drop location.  We already have lat long in other columns.

In [19]:
#client_df.dropna(subset=['camera_id']).isna().sum()
try:
    # put this is a try in case we run it twice, it will skip it.
    rlc_df.dropna(subset=['camera_id'], inplace=True)
    
    # drop xy coord and location columns
    rlc_df = rlc_df.drop(columns=['x_coordinate', 'y_coordinate', 'location'], index=1)
except:
    pass



rlc_df.isna().sum()

intersection          0
camera_id             0
address               0
violation_date        0
violations            0
latitude          29809
longitude         29809
dtype: int64

#### Manipulate datatypes for preprocessing.

In [20]:
rlc_df['violations'] = rlc_df['violations'].apply(int)
rlc_df['latitude'] = rlc_df['latitude'].apply(float)
rlc_df['longitude'] = rlc_df['longitude'].apply(float)
rlc_df['violation_date'] = pd.to_datetime(rlc_df['violation_date'])
rlc_df['month'] = rlc_df['violation_date'].apply(lambda x: int(x.month))
rlc_df['day'] = rlc_df['violation_date'].apply(lambda x: int(x.day))  # fixed from dat to day!

rlc_df['weekday'] = rlc_df['violation_date'].apply(lambda x: int(datetime.weekday(x)))
rlc_df['year'] = rlc_df['violation_date'].apply(lambda x: int(x.year))

rlc_df.head()

,intersection,camera_id,address,violation_date,violations,latitude,longitude,month,day,weekday,year
0,31ST ST AND MARTIN LUTHER KING DRIVE,2121,3100 S DR MARTIN L KING,2015-01-01,19,NaN,NaN,1,1,3,2015
2,IRVING PARK AND LARAMIE,1533,5200 W IRVING PARK ROA,2015-01-01,2,NaN,NaN,1,1,3,2015
3,ELSTON AND IRVING PARK,1503,3700 W IRVING PARK ROA,2015-01-01,2,NaN,NaN,1,1,3,2015
4,IRVING PARK AND KILPATRICK,2764,4700 W IRVING PARK ROA,2015-01-01,3,NaN,NaN,1,1,3,2015
5,IRVING PARK AND CALIFORNIA,1234,2800 W IRVING PARK ROA,2015-01-01,1,NaN,NaN,1,1,3,2015

### Write the daily_violations TABLE - from rlc_df

In [21]:
def make_table(df, table_name, c, conn):
    '''
    table_name string
    c cursor object
    conn sql connection object
    '''
    if table_name in sql_fetch_tables(c, conn):  # helper function in myfuncs
        delete_all_entries(c, conn, table_name) # in myfuncs
    
    df.to_sql(table_name, conn, if_exists='replace', index = False)    
    print(sql_fetch_tables(c, conn))

In [22]:
make_table(rlc_df, 'daily_violations', c, conn)

[('cam_locations',), ('cam_startend',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('intersection_chars',), ('daily_violations',)]

## 2) Build cam_locations TABLE - from cam_locs AND cam_startend TABLE from cam_startend

#### Make a df with info for each camera
Will contain the following:
- camera_id
- location
- start date (when was the camera turned on)
- end date (when was the camera turned off)

In [209]:
cam_df = rlc_df.copy()
cam_df['start'] = cam_df['camera_id'].apply(lambda x: None)
cam_df['end'] = cam_df['camera_id'].apply(lambda x: None)

In [210]:
cam_start = cam_df.groupby(['camera_id'])['violation_date'].min().reset_index()
cam_end = cam_df.groupby(['camera_id'])['violation_date'].max().reset_index()

cam_startend = cam_start.copy()

#print(cam_end[cam_end['camera_id']=='1503'].values[0][1])  # for testing output
cam_startend['end'] = cam_start['camera_id'].apply(lambda x: cam_end[cam_end['camera_id']==x].values[0][1])

cam_startend.rename(columns={"violation_date": "start"}, inplace=True)
                                                   
print('NA values in cam_startend:', cam_startend.isna().sum(), end='\n\n', sep='\n')

print('Describe cam_startend:', cam_startend.describe(), end='\n\n', sep='\n')

NA values in cam_startend:
camera_id    0
start        0
end          0
dtype: int64

Describe cam_startend:
       camera_id                start                  end
count        363                  363                  363
unique       363                   18                   19
top         2023  2015-01-01 00:00:00  2020-12-31 00:00:00
freq           1                  284                  243
first        NaN  2015-01-01 00:00:00  2015-03-02 00:00:00
last         NaN  2018-03-05 00:00:00  2020-12-31 00:00:00

## Make a db table that has camera locations and intersections
Intersections are present (and addresses), but we do not have lat/long info for all cams

In [25]:
# DONT THINK I NEED THIS

#rlc_df.groupby('camera_id')['latitude'].max()  # Some cams do not have any data for lat long at all


# Some of the addresses are truncated and not able to lookup with geocode

# address_fix = {'2400 W VAN BUREN STREE': '2400 W VAN BUREN STREET',
#                '4700 W IRVING PARK ROA': '4700 W IRVING PARK ROAD',
#                '11500 S HALSTED STREE': '11500 S HALSTED STREET',
#                '5500 S WENTWORTH AVEN': '5500 S WENTWORTH AVENUE',
#                 '10300 S HALSTED STREE': '10300 S HALSTED STREET',
#                '3700 W IRVING PARK ROA': '3700 W IRVING PARK ROAD',
#                '1600 W IRVING PARK ROA': '1600 W IRVING PARK ROAD',
#                '7900 S JEFFERY BOULEV': '7900 S JEFFERY BOULEVARD',
#                '2800 W IRVING PARK ROA': '2800 W IRVING PARK ROAD',
#                '5200 W IRVING PARK ROA': '5200 W IRVING PARK ROAD',
#                '3100 S DR MARTIN L KING': '3100 S MARTIN KING DRIVE',
#                '1600 W DIVERSEY PARKWA': '1600 W DIVERSEY PARKWAY',
#                '140 W KINZIE': '140 W Kinzie St',
#                 '150 N SACRAMENTO BOUL': '150 N SACRAMENTO BOUL',
#                '800 N SACRAMENTO AVEN':'800 N SACRAMENTO AVENUE',
#                '3200 N LAKESHORE DRIV':'3200 N LAKE SHORE DRIVE',
#                '6400 W FULLERTON AVENU':'6400 W FULLERTON AVENUE',
#                '6400 N MILWAUKEE AVEN':'6400 N MILWAUKEE AVENUE',
#                '7900 S STONEY ISLAND':'7900 S Stony Island Ave',  
#                '150 N SACRAMENTO BOUL':'150 N SACRAMENTO BOULEVARD',
#                 '3200 N LAKESHORE DRIVE':'3200 N Lake Shore Dr',
#                '7900 S STONEY ISLAND AVENUE':'7900 S Stony Island Ave',
#                '5600 W FULLERTON AVENU':'5600 W FULLERTON AVENUE',
#                '8700 S LAFAYETTE AVEN':'8700 S LAFAYETTE AVENUE',
#                '4400 N MILWAUKEE AVEN':'4400 N MILWAUKEE AVENUE',
#               }

In [26]:
# we had some incorrect data in the code below, but have a creative fix.

cam_locs = rlc_df.groupby(['camera_id', 'intersection']).max().reset_index()
cam_locs.head()

# we find there is a mismatch between lens, one of them is duplicated
len(cam_locs)  # 364 total
len(cam_locs['camera_id'].unique()) # 363

cam_locs[cam_locs['camera_id'].duplicated()]  # 1421 is dupe
print('Two of them\n', cam_locs[cam_locs['camera_id'] == '1421'])  # we see two of them
print()

# Which one is it?
print('Damen/Diversey', rlc_df[(rlc_df['camera_id']=='1421') & (rlc_df['intersection']=='DAMEN AND DIVERSEY')]['camera_id'].count())
print('Laramie/Fullerton:', rlc_df[(rlc_df['camera_id']=='1421') & (rlc_df['intersection']=='LARAMIE AND FULLERTON')]['camera_id'].count())

# Turns out that a camera has two locations. One was only used one time.  We drop it.
cam_locs = cam_locs[(cam_locs['camera_id']!='1421') | (cam_locs['intersection']!='DAMEN AND DIVERSEY')]
print("Total cams", len(cam_locs))  # 363 total (got rid of the bad one)

Two of them
    camera_id           intersection                  address violation_date  \
83      1421     DAMEN AND DIVERSEY  2000 W DIVERSEY PARKWAY     2017-11-30
84      1421  LARAMIE AND FULLERTON    2400 N LARAMIE AVENUE     2020-12-31

    violations   latitude  longitude  month  day  weekday  year
83           1  41.932394 -87.678173     11   30        3  2017
84           6  41.924152 -87.756295     12   31        6  2020

Damen/Diversey 1
Laramie/Fullerton: 1219
Total cams 363

In [27]:
cam_locs.isna().sum()  # missing location for 19 cameras.  Let's fix it

camera_id          0
intersection       0
address            0
violation_date     0
violations         0
latitude          19
longitude         19
month              0
day                0
weekday            0
year               0
dtype: int64

Looks like we also are missing 19 of the 363 cam locations.  Let's look it up!

We actually changed this code.  We have gone to the maps to get intersection locations, but will leave old code in case we ever need exact location of cameras.

In [28]:

'''
This section goes through all of the rlc and assigns latlong
Many lights are missing it.  
For each light, there is an address though.
We use geocoding to get the latlong
'''

# let's get all of the red light cameras with their gps location.  
# This will aid in placing the accidents at rlc intersections later (if closer than threshold point to point)
# Some RLCs are missing location data,  but have addresses.  I can use geocoding I guess to look them up.


geolocator = Nominatim(user_agent="https://github.com/sciencelee/chicago_rlc")  # please change to match repo
 
 
def get_geocode(lat, long, address):
    if lat > 0:  # it's a location
        return (lat, long)
    else: # it's a proper location tuple, and assumed to be correct latlong
        if address in address_fix.keys(): address = address_fix[address]  # errors in the dataset chars omitted
        # if we make it this far, we have no record of this cam_id yet, and it doesn't have a proper location
        location = geolocator.geocode(address + ', Chicago, IL')
        if location == None:
            print(address+':'+address+' : could not geolocate') # print it out if we can't find (address errors)
        else:
            return (location.latitude, location.longitude)

        


# Got it down to one-liner for this. Found out you can't extract and assign series like you can variables
#cam_locs['location'] = cam_locs.apply(lambda x: get_geocode(x.latitude, x.longitude, x.address), axis=1)

In [29]:
# cam_locs['location'].head()
# cam_locs['latitude'] = cam_locs['location'].apply(lambda x: x[0])
# cam_locs['longitude'] = cam_locs['location'].apply(lambda x: x[1])

# cam_locs = cam_locs.drop(columns=['violation_date', 'violations', 'month', 'weekday', 'year', 'location'])

In [30]:
cam_locs.info()
cam_locs.isna().sum() # No longer missing location for 19 cameras.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 0 to 363
Data columns (total 11 columns):
camera_id         363 non-null object
intersection      363 non-null object
address           363 non-null object
violation_date    363 non-null datetime64[ns]
violations        363 non-null int64
latitude          344 non-null float64
longitude         344 non-null float64
month             363 non-null int64
day               363 non-null int64
weekday           363 non-null int64
year              363 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(3)
memory usage: 34.0+ KB

camera_id          0
intersection       0
address            0
violation_date     0
violations         0
latitude          19
longitude         19
month              0
day                0
weekday            0
year               0
dtype: int64

### Lat long fixes
During EDA, we found out that five cameras were in completely wrong lat/long location.  
Several others were located a little too far from the intersection to work properly.  When we rebuild the db, we will use bigger number than 30 m.

Here are the fixes I found easily.

In [31]:
# correct_camlocs = {'WENTWORTH AND GARFIELD': (41.79435532184194, -87.63114616279303),
#                    'KIMBALL AND LINCOLN': (41.99454797825689, -87.71403619467101),
#                     'IRVING PARK AND LARAMIE': (41.95330280770521, -87.75714705140294),
#                    'IRVING PARK AND KILPATRICK': (41.953454972337305, -87.74460631799197),
#                    '31ST ST AND MARTIN LUTHER KING DRIVE':(41.838438059816816, -87.61731906497867),
#                    '31ST AND CALIFORNIA':(41.83743605501678, -87.6950324427879),
#                    'ELSTON AND LAWRENCE': (41.96809435761252, -87.74010862196117),
#                    'OGDEN AND KOSTNER':(41.84767736575193, -87.73437725628261),
#                     'IRVING PARK AND CALIFORNIA':(41.95399037931945, -87.69821479681646),
#                    'LAKE SHORE DR AND BELMONT': (41.940128786177176, -87.63954362976928),
#                      }

In [32]:
cam_locs.head()

,camera_id,intersection,address,violation_date,violations,latitude,longitude,month,day,weekday,year
0,1002,WESTERN AND CERMAK,2200 S WESTERN AVENUE,2020-12-31,33,41.851984,-87.685786,12,31,6,2020
1,1003,WESTERN AND CERMAK,2400 W CERMAK ROAD,2020-12-31,9,41.852141,-87.685753,12,31,6,2020
2,1011,PETERSON AND WESTERN,6000 N WESTERN AVE,2020-12-31,28,41.990586,-87.689822,12,31,6,2020
3,1014,PETERSON AND WESTERN,2400 W PETERSON,2020-12-31,22,41.990609,-87.689735,12,31,6,2020
4,1023,IRVING PARK AND NARRAGANSETT,6400 W IRVING PK,2020-12-31,11,41.953025,-87.786683,12,31,6,2020

### Create cam_locations TABLE - from cam_locs AND cam_startend from cam_startend

In [33]:
make_table(cam_locs, 'cam_locations', c, conn)
make_table(cam_startend, 'cam_startend', c, conn)

[('cam_startend',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('intersection_chars',), ('daily_violations',), ('cam_locations',)]
[('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('intersection_chars',), ('daily_violations',), ('cam_locations',), ('cam_startend',)]

###  We still have missing lat/long info for our rlc_df.  Let's fix it
Before moving on.  Now that we have cam_locs, we can fix our rlc_df

In [34]:
rlc_df.isna().sum()  
cam_locs.head()

,camera_id,intersection,address,violation_date,violations,latitude,longitude,month,day,weekday,year
0,1002,WESTERN AND CERMAK,2200 S WESTERN AVENUE,2020-12-31,33,41.851984,-87.685786,12,31,6,2020
1,1003,WESTERN AND CERMAK,2400 W CERMAK ROAD,2020-12-31,9,41.852141,-87.685753,12,31,6,2020
2,1011,PETERSON AND WESTERN,6000 N WESTERN AVE,2020-12-31,28,41.990586,-87.689822,12,31,6,2020
3,1014,PETERSON AND WESTERN,2400 W PETERSON,2020-12-31,22,41.990609,-87.689735,12,31,6,2020
4,1023,IRVING PARK AND NARRAGANSETT,6400 W IRVING PK,2020-12-31,11,41.953025,-87.786683,12,31,6,2020

## Decided to eliminate cam position in favor of intersection lat/long
I hope this makes all of my position data consistent for gathering crash info.
When using cam location, it is sometimes up to 35 m up road where cam position is.  This would cause us to misidentify crashes from other intersections or miss some in the intersection of interest.  R

Remedy: Use center point of intersection for all cams.

How to do it:  I will change cam_locs data to match intersection instead of individual camera.

In [35]:
int_df.columns

Index(['protected_turn', 'total_lanes', 'medians', 'exit', 'split', 'way',
       'underpass', 'no_left', 'angled', 'triangle', 'one_way', 'turn_lanes',
       'lat', 'long', 'rlc', 'intersection', 'daily_traffic'],
      dtype='object')

In [36]:
def location_correction(int_df, intersect, latlong):
    # lookup function from intersection df to get the lat long
    # int_df is the intersection characteristic frame from 1) above
    # intersect is the intersection name used to link tables/df
    # latlong is either 'lat' or 'long'
    if latlong == 'lat':
        lat = int_df[int_df['intersection']==intersect]['lat'].values[0]
        if lat==None: print(lat, intersect)
        return lat
    else:
        long = int_df[int_df['intersection']==intersect]['long'].values[0]
        return long

cam_locs['latitude'] = cam_locs['intersection'].apply(lambda x: location_correction(int_df, x, 'lat'))
cam_locs['longitude'] = cam_locs['intersection'].apply(lambda x: location_correction(int_df, x, 'long'))

In [37]:
rlc_df.intersection.head()

0    31ST ST AND MARTIN LUTHER KING DRIVE
2                 IRVING PARK AND LARAMIE
3                  ELSTON AND IRVING PARK
4              IRVING PARK AND KILPATRICK
5              IRVING PARK AND CALIFORNIA
Name: intersection, dtype: object

In [38]:
int_df[int_df['intersection']=='IRVING PARK AND KILPATRICK']

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic
IRVING PARK AND KILPATRICK,1,6,0,0,0,4,0,0,0,0,1,3,41.953395,-87.744635,1,IRVING PARK AND KILPATRICK,37100

Make my cameras have a location that is center of intersection instead of exact cam location.

In [39]:
#⏳⏳⏳⏳⏳⏳
# THIS TAKES SOME TIME (8min on my macbook pro)
def read_loc(int_df, intersection):
    cam = int_df[int_df['intersection']==intersection]
    #print(cam)
    return (float(cam['lat']), float(cam['long']))
        


# create a location column so we only have to do it once
rlc_df['location'] = rlc_df['intersection'].apply(lambda x: read_loc(int_df, x))
rlc_df.head()

,intersection,camera_id,address,violation_date,violations,latitude,longitude,month,day,weekday,year,location
0,31ST ST AND MARTIN LUTHER KING DRIVE,2121,3100 S DR MARTIN L KING,2015-01-01,19,NaN,NaN,1,1,3,2015,"(41.83844057251972, -87.6173379501676)"
2,IRVING PARK AND LARAMIE,1533,5200 W IRVING PARK ROA,2015-01-01,2,NaN,NaN,1,1,3,2015,"(41.95333073394432, -87.75713632256794)"
3,ELSTON AND IRVING PARK,1503,3700 W IRVING PARK ROA,2015-01-01,2,NaN,NaN,1,1,3,2015,"(41.9537776271701, -87.71916140535721)"
4,IRVING PARK AND KILPATRICK,2764,4700 W IRVING PARK ROA,2015-01-01,3,NaN,NaN,1,1,3,2015,"(41.95339512528642, -87.74463497408772)"
5,IRVING PARK AND CALIFORNIA,1234,2800 W IRVING PARK ROA,2015-01-01,1,NaN,NaN,1,1,3,2015,"(41.95400234758005, -87.6982443011127)"

In [40]:
rlc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 572324 entries, 0 to 572558
Data columns (total 12 columns):
intersection      572324 non-null object
camera_id         572324 non-null object
address           572324 non-null object
violation_date    572324 non-null datetime64[ns]
violations        572324 non-null int64
latitude          542515 non-null float64
longitude         542515 non-null float64
month             572324 non-null int64
day               572324 non-null int64
weekday           572324 non-null int64
year              572324 non-null int64
location          572324 non-null object
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 56.8+ MB

In [41]:
# then add in the new lat longs to the df
rlc_df['latitude'] = rlc_df['location'].apply(lambda x: x[0])
rlc_df['longitude'] = rlc_df['location'].apply(lambda x: x[1])

In [42]:
rlc_df[rlc_df.latitude.isna()]['intersection'].unique()  # which intersections am I still missing

array([], dtype=object)

In [43]:
rlc_df.head()

,intersection,camera_id,address,violation_date,violations,latitude,longitude,month,day,weekday,year,location
0,31ST ST AND MARTIN LUTHER KING DRIVE,2121,3100 S DR MARTIN L KING,2015-01-01,19,41.838441,-87.617338,1,1,3,2015,"(41.83844057251972, -87.6173379501676)"
2,IRVING PARK AND LARAMIE,1533,5200 W IRVING PARK ROA,2015-01-01,2,41.953331,-87.757136,1,1,3,2015,"(41.95333073394432, -87.75713632256794)"
3,ELSTON AND IRVING PARK,1503,3700 W IRVING PARK ROA,2015-01-01,2,41.953778,-87.719161,1,1,3,2015,"(41.9537776271701, -87.71916140535721)"
4,IRVING PARK AND KILPATRICK,2764,4700 W IRVING PARK ROA,2015-01-01,3,41.953395,-87.744635,1,1,3,2015,"(41.95339512528642, -87.74463497408772)"
5,IRVING PARK AND CALIFORNIA,1234,2800 W IRVING PARK ROA,2015-01-01,1,41.954002,-87.698244,1,1,3,2015,"(41.95400234758005, -87.6982443011127)"

In [44]:
if 'location' in rlc_df.columns:
    rlc_df.drop(columns=['location'], inplace=True)

In [45]:
make_table(rlc_df, 'daily_violations', c, conn)

[('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',)]

## 4) Create intersection_cams TABLE - from int_cams

### We will now focus on trying to bring rlc intersections to our crashes
We find that we have 363 cameras at 183 intersections

In [46]:
len(cam_locs.latitude.unique())

183

In [47]:
int_cams = cam_locs.groupby(['intersection']) \
                    .agg({'latitude':pd.Series.max, 'longitude':pd.Series.max,}) \
                    .reset_index()

int_cams['cam1'] = int_cams['intersection'] \
                            .apply(lambda x: cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[0])

int_cams['cam2'] = int_cams['intersection'].apply( \
                            lambda x: None if len(cam_locs[cam_locs['intersection']==x])==1 \
                            else cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[1])

int_cams['cam3'] = int_cams['intersection'].apply( \
                            lambda x: None if len(cam_locs[cam_locs['intersection']==x])<3 \
                            else cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[2])                             

int_cams.head()

,intersection,latitude,longitude,cam1,cam2,cam3
0,111TH AND HALSTED,41.692362,-87.642423,2422,2424,None
1,115TH AND HALSTED,41.685089,-87.642094,2552,2553,None
2,119TH AND HALSTED,41.677774,-87.641930,2402,2404,None
3,31ST AND CALIFORNIA,41.837424,-87.695022,2061,2064,None
4,31ST ST AND MARTIN LUTHER KING DRIVE,41.838441,-87.617338,2121,2123,None

In [48]:
print('Total Cameras', len(cam_locs))
print('Total Intersections', len(int_cams))

Total Cameras 363
Total Intersections 183

### Create intersection_cams TABLE - from int_cams
first we add a column for region to each of my intersections
#### Should come back and add this later.  Need to also bring in congestion data though.

In [49]:
make_table(int_cams, 'intersection_cams', c, conn)

[('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',)]

## 5) Create signal_crashes TABLE - from crash_df AND all_crashes - from crash_df (pre)

In [50]:
# Crash Data
crash_data = client.get("85ca-t3if", 
                     where="crash_date BETWEEN \'2015-01-01T00:00:00.000\' AND \'2020-12-31T00:00:00.000\'",
                     limit=1000000,
                    )

crash_df = pd.DataFrame.from_records(crash_data) # Convert to pandas DataFrame

### Crash data preprocessing

In [51]:
# drop a few columns we don't need, including location (we have lat/long)
dropme = ['statements_taken_i', 'private_property_i', 'photos_taken_i', 'dooring_i', 'date_police_notified','location']

crash_df.drop(columns=dropme, inplace=True)

In [52]:
crash_df.isna().sum()

crash_record_id                       0
rd_no                                 0
crash_date                            0
posted_speed_limit                    0
traffic_control_device                0
device_condition                      0
weather_condition                     0
lighting_condition                    0
first_crash_type                      0
trafficway_type                       0
alignment                             0
roadway_surface_cond                  0
road_defect                           0
report_type                       11282
crash_type                            0
damage                                0
prim_contributory_cause               0
sec_contributory_cause                0
street_no                             0
street_direction                      3
street_name                           1
beat_of_occurrence                    5
num_units                             0
most_severe_injury                  943
injuries_total                      932
injuries_fatal                      932
injuries_incapacitating             932
injuries_non_incapacitating         932
injuries_reported_not_evident       932
injuries_no_indication              932
injuries_unknown                    932
crash_hour                            0
crash_day_of_week                     0
crash_month                           0
latitude                           2549
longitude                          2549
lane_cnt                         267438
intersection_related_i           361080
hit_and_run_i                    330477
crash_date_est_i                 431627
work_zone_i                      463325
work_zone_type                   463969
workers_present_i                465664
dtype: int64

We have 2.5k entries that have no location.  Let's drop them

In [53]:
crash_df.dropna(subset=['latitude',], inplace=True)  # get rid of na locations

### Let's look at what is in the data

In [54]:
# What's in this data?
col_interest = ['traffic_control_device', 'device_condition', 'weather_condition',
       'lighting_condition', 'first_crash_type', 'trafficway_type',
       'alignment', 'roadway_surface_cond', 'road_defect', 'report_type',
       'crash_type', 'hit_and_run_i', 'damage', 'prim_contributory_cause',
       'sec_contributory_cause', 'street_no', 'street_direction',
       'street_name', 'beat_of_occurrence', 'num_units', 'most_severe_injury', 
        'injuries_fatal', 'injuries_incapacitating',
       'injuries_non_incapacitating', 'injuries_reported_not_evident',
       'injuries_no_indication', 'injuries_unknown', 'crash_hour',
       'crash_day_of_week', 'crash_month', 'latitude', 'longitude', 'lane_cnt',
       'intersection_related_i', 'crash_date_est_i',
       'work_zone_i', 'work_zone_type',
       'workers_present_i']

for col in col_interest:
    print(col, crash_df[col].unique())

traffic_control_device ['NO CONTROLS' 'STOP SIGN/FLASHER' 'TRAFFIC SIGNAL' 'UNKNOWN'
 'OTHER WARNING SIGN' 'PEDESTRIAN CROSSING SIGN' 'OTHER' 'YIELD'
 'OTHER REG. SIGN' 'LANE USE MARKING' 'POLICE/FLAGMAN'
 'RAILROAD CROSSING GATE' 'SCHOOL ZONE' 'DELINEATORS'
 'OTHER RAILROAD CROSSING' 'FLASHING CONTROL SIGNAL' 'NO PASSING'
 'RR CROSSING SIGN' 'BICYCLE CROSSING SIGN']
device_condition ['NO CONTROLS' 'FUNCTIONING PROPERLY' 'NOT FUNCTIONING' 'UNKNOWN' 'OTHER'
 'FUNCTIONING IMPROPERLY' 'WORN REFLECTIVE MATERIAL' 'MISSING']
weather_condition ['CLEAR' 'RAIN' 'UNKNOWN' 'CLOUDY/OVERCAST' 'SNOW' 'SLEET/HAIL'
 'FOG/SMOKE/HAZE' 'FREEZING RAIN/DRIZZLE' 'OTHER' 'BLOWING SNOW'
 'SEVERE CROSS WIND GATE' 'BLOWING SAND, SOIL, DIRT']
lighting_condition ['DAYLIGHT' 'DARKNESS' 'DARKNESS, LIGHTED ROAD' 'UNKNOWN' 'DAWN' 'DUSK']
first_crash_type ['TURNING' 'REAR END' 'PARKED MOTOR VEHICLE'
 'SIDESWIPE OPPOSITE DIRECTION' 'ANGLE' 'SIDESWIPE SAME DIRECTION'
 'OTHER OBJECT' 'PEDESTRIAN' 'FIXED OBJECT' 'PEDALCYCLIST' 'HEAD ON'
 'REAR TO FRONT' 'REAR TO SIDE' 'REAR TO REAR' 'ANIMAL'
 'OTHER NONCOLLISION' 'OVERTURNED' 'TRAIN']
trafficway_type ['ONE-WAY' 'NOT DIVIDED' 'FOUR WAY' 'DIVIDED - W/MEDIAN (NOT RAISED)'
 'DIVIDED - W/MEDIAN BARRIER' 'UNKNOWN' 'PARKING LOT' 'ALLEY' 'OTHER'
 'T-INTERSECTION' 'CENTER TURN LANE' 'FIVE POINT, OR MORE' 'NOT REPORTED'
 'Y-INTERSECTION' 'RAMP' 'DRIVEWAY' 'TRAFFIC ROUTE'
 'UNKNOWN INTERSECTION TYPE' 'ROUNDABOUT' 'L-INTERSECTION']
alignment ['STRAIGHT AND LEVEL' 'CURVE ON HILLCREST' 'STRAIGHT ON GRADE'
 'CURVE, LEVEL' 'STRAIGHT ON HILLCREST' 'CURVE ON GRADE']
roadway_surface_cond ['DRY' 'WET' 'UNKNOWN' 'SNOW OR SLUSH' 'ICE' 'OTHER' 'SAND, MUD, DIRT']
road_defect ['NO DEFECTS' 'UNKNOWN' 'RUT, HOLES' 'SHOULDER DEFECT' 'OTHER'
 'WORN SURFACE' 'DEBRIS ON ROADWAY']
report_type ['ON SCENE' 'NOT ON SCENE (DESK REPORT)' nan 'AMENDED']
crash_type ['NO INJURY / DRIVE AWAY' 'INJURY AND / OR TOW DUE TO CRASH']
hit_and_run_i [nan 'Y' 'N']
damage ['OVER $1,500' '$500 OR LESS' '$501 - $1,500']
prim_contributory_cause ['IMPROPER BACKING' 'FAILING TO YIELD RIGHT-OF-WAY' 'UNABLE TO DETERMINE'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'IMPROPER OVERTAKING/PASSING' 'IMPROPER LANE USAGE'
 'IMPROPER TURNING/NO SIGNAL' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'FOLLOWING TOO CLOSELY' 'DISTRACTION - FROM INSIDE VEHICLE'
 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE'
 'FAILING TO REDUCE SPEED TO AVOID CRASH' 'DISREGARDING TRAFFIC SIGNALS'
 'NOT APPLICABLE' 'EXCEEDING AUTHORIZED SPEED LIMIT'
 'ROAD CONSTRUCTION/MAINTENANCE' 'DISTRACTION - FROM OUTSIDE VEHICLE'
 'WEATHER' 'EQUIPMENT - VEHICLE CONDITION' 'DISREGARDING STOP SIGN'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'DRIVING ON WRONG SIDE/WRONG WAY'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS' 'PHYSICAL CONDITION OF DRIVER'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)'
 'DISREGARDING OTHER TRAFFIC SIGNS' 'TEXTING'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST'
 'DISREGARDING YIELD SIGN' 'CELL PHONE USE OTHER THAN TEXTING'
 'DISREGARDING ROAD MARKINGS' 'BICYCLE ADVANCING LEGALLY ON RED LIGHT'
 'ANIMAL'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'RELATED TO BUS STOP' 'PASSING STOPPED SCHOOL BUS' 'TURNING RIGHT ON RED'
 'OBSTRUCTED CROSSWALKS' 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT']
sec_contributory_cause ['UNABLE TO DETERMINE' 'NOT APPLICABLE' 'FAILING TO YIELD RIGHT-OF-WAY'
 'IMPROPER LANE USAGE' 'FOLLOWING TOO CLOSELY'
 'DISTRACTION - FROM INSIDE VEHICLE'
 'FAILING TO REDUCE SPEED TO AVOID CRASH' 'DISREGARDING STOP SIGN'
 'EXCEEDING AUTHORIZED SPEED LIMIT' 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE'
 'WEATHER' 'EQUIPMENT - VEHICLE CONDITION' 'PHYSICAL CONDITION OF DRIVER'
 'DISREGARDING OTHER TRAFFIC SIGNS' 'IMPROPER BACKING'
 'DISREGARDING TRAFFIC SIGNALS'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)'
 'IMPROPER TURNING/NO SIGNAL' 'ROAD CONSTRUCTION/MAINTENANCE'
 'IMPROPER OVERTAKING/PASSING'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'DISTRACTION - FROM OUTSIDE VEHICLE'
 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'DRIVING ON WRONG SIDE/WRONG WAY' 'DISREGARDING ROAD MARKINGS'
 'DISREGARDING YIELD SIGN' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'PASSING STOPPED SCHOOL BUS' 'ANIMAL'
 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT' 'TURNING RIGHT ON RED'
 'CELL PHONE USE OTHER THAN TEXTING' 'RELATED TO BUS STOP'
 'OBSTRUCTED CROSSWALKS' 'BICYCLE ADVANCING LEGALLY ON RED LIGHT'
 'TEXTING']
street_no ['2158' '8301' '1632' ... '12437' '11181' '11167']
street_direction ['N' 'S' 'E' 'W']
street_name ['MARMORA AVE' 'CICERO AVE' '67TH ST' ... 'CRESTLINE ST' 'PARK PL'
 'BALDWIN AVE']
beat_of_occurrence ['2515' '834' '331' '224' '1732' '1115' '1822' '225' '1034' '1113' '131'
 '511' '2511' '234' '623' '1011' '222' '1412' '2411' '1821' '1654' '814'
 '524' '1922' '1414' '1235' '1925' '1513' '1221' '411' '2223' '1111' '334'
 '523' '1911' '1832' '1611' '733' '1224' '1032' '413' '1214' '1431' '423'
 '1634' '2521' '1621' '114' '233' '2211' '1523' '324' '1921' '1724' '824'
 '2534' '1733' '1215' '1834' '911' '822' '611' '1713' '1622' '211' '2423'
 '823' '833' '1813' '1532' '724' '1934' '1935' '1135' '1933' '1031' '933'
 '2531' '1233' '1234' '711' '1023' '2031' '2212' '923' '1012' '1824' '633'
 '1133' '1432' '2432' '111' '1711' '1912' '1422' '2533' '1712' '533' '122'
 '212' '2032' '121' '1433' '1932' '1212' '725' '831' '1022' '1913' '2222'
 '714' '1222' '811' '432' '1424' '313' '1624' '422' '2022' '2512' '2233'
 '2413' '632' '1731' '2524' '2532' '2523' '1522' '2535' '821' '2213' '914'
 '932' '1121' '1124' '614' '1434' '913' '434' '1232' '2433' '123' '812'
 '431' '2424' '1411' '2412' '513' '532' '912' '1211' '825' '1531' '1631'
 '2525' '1722' '835' '915' '832' '612' '1833' '634' '2033' '1123' '924'
 '412' '1223' '2012' '132' '323' '1524' '713' '1225' '1122' '1125' '2011'
 '1014' '214' '223' '1112' '935' '813' '732' '2013' '2522' '1723' '1623'
 '934' '1612' '322' '1632' '1511' '621' '2232' '1633' '726' '1131' '421'
 '1613' '1213' '1132' '1021' '922' '815' '321' '624' '631' '1421' '1033'
 '231' '1814' '2514' '731' '734' '1512' '1914' '512' '931' '1931' '622'
 '312' '522' '925' '1413' '715' '2221' '2431' '332' '1423' '722' '1134'
 '1811' '221' '735' '235' '333' '2234' '414' '424' '1231' '1013' '1533'
 '921' '1024' '232' '1823' '213' '112' '133' '712' '433' '2024' '314'
 '1924' '1915' '124' '1114' '1831' '2422' '311' '2513' '113' '1812' '2023'
 '613' '1923' '215' '723' '1614' '531' '1651' nan]
num_units ['2' '3' '1' '4' '5' '8' '7' '6' '11' '9' '10' '12' '14' '15' '18' '16']
most_severe_injury ['NO INDICATION OF INJURY' 'NONINCAPACITATING INJURY'
 'REPORTED, NOT EVIDENT' 'INCAPACITATING INJURY' 'FATAL' nan]
injuries_fatal ['0' '1' nan '2' '3' '4']
injuries_incapacitating ['0' '1' '2' nan '3' '5' '4' '6' '7']
injuries_non_incapacitating ['0' '1' '2' '3' '4' '5' nan '6' '10' '7' '8' '21' '14' '18' '9' '12' '11'
 '16']
injuries_reported_not_evident ['0' '1' '2' nan '3' '5' '4' '11' '8' '6' '7' '9' '10' '15']
injuries_no_indication ['3' '2' '1' '5' '4' '0' '6' '8' '9' nan '7' '11' '10' '12' '27' '19' '16'
 '13' '30' '50' '18' '21' '17' '14' '42' '46' '26' '15' '22' '61' '38'
 '20' '34' '29' '24' '40' '37' '28' '31' '36' '33' '32' '25' '39']
injuries_unknown ['0' nan]
crash_hour ['17' '16' '10' '1' '22' '14' '8' '4' '12' '11' '18' '15' '7' '6' '5' '20'
 '19' '3' '21' '13' '9' '23' '2' '0']
crash_day_of_week ['4' '6' '7' '5' '2' '3' '1']
crash_month ['7' '6' '3' '8' '5' '1' '12' '2' '10' '11' '9' '4']
latitude ['41.919663833' '41.741803599' '41.773455972' ... '41.975809664'
 '41.929591234' '41.990939307']
longitude ['-87.773287883' '-87.740953582' '-87.585022352' ... '-87.687248101'
 '-87.639940927' '-87.708505511']
lane_cnt [nan '4' '2' '6' '3' '0' '5' '1' '99' '8' '10' '7' '40' '9' '16' '12' '28'
 '20' '11' '14' '22' '15' '41' '433634' '25' '30' '35' '1191625' '60' '19'
 '400' '21' '902' '100' '299679' '17' '45' '218474' '80' '24' '44']
intersection_related_i [nan 'Y' 'N']
crash_date_est_i [nan 'Y' 'N']
work_zone_i [nan 'Y' 'N']
work_zone_type [nan 'MAINTENANCE' 'CONSTRUCTION' 'UTILITY' 'UNKNOWN']
workers_present_i [nan 'Y' 'N']

### Filter for desired crashes (intersections with signal)
This helps us.  
We can filter 'traffic_control_device' == 'TRAFFIC SIGNAL'.  
We can filter 'intersection_related_i' == 'Y'

This will leave us with only crashes that occurred at/because of intersections, and with a signal at the intersection.

intersection_related_i: A field observation by the police officer whether an intersection played a role in the crash. Does not represent whether or not the crash occurred within the intersection.

In [55]:
make_table(crash_df, 'all_crashes', c, conn)

crash_df = crash_df[(crash_df['traffic_control_device']=='TRAFFIC SIGNAL') & \
                    (crash_df['intersection_related_i']=='Y')]

[('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',)]

### Add the intersection to my crashes

Will look up each lat long for crash and get the corresponding intersection if we have it.
Look up using geo equations took forever.  Also slow using pythag thrm.

In [56]:
#⏳⏳⏳⏳⏳
# This takes too long to process.  Let's simplify it and make it a box instead.
box_side = 80  # effectively makes it check for crash being within 40m of intersection
box_lat = box_side / 111070 / 2 # 111070 is meters in deg lat in Chicago
box_long = box_side / 83000 / 2 # 83000 is meters in deg long in Chicago

def box_check(lat, long, int_df):
    answer = (int_df[  (int_df['lat'] > (lat - box_lat)) & 
                      (int_df['lat'] < (lat + box_lat)) &
                      (int_df['long'] > (long - box_long)) &
                      (int_df['long'] < (long + box_long))
                     ])
    if answer.empty: return None
    return answer['intersection'].values[0]
    
# THIS SEEMS TO WORK WITH SPEED AND ELIMINATES MEMORY PROBLEM
crash_df['intersection'] = crash_df.apply(lambda x: box_check(float(x.latitude), 
                                                              float(x.longitude), 
                                                              int_df), axis=1)

In [57]:
# #Ex: df[['two', 'three']] = df[['two', 'three']].astype(float)
crash_df['crash_date'] = pd.to_datetime(crash_df['crash_date'])
crash_df['year'] = crash_df['crash_date'].apply(lambda x: int(x.year))
crash_df['month'] = crash_df['crash_date'].apply(lambda x: int(x.month))
crash_df['day'] = crash_df['crash_date'].apply(lambda x: int(x.day))
crash_df['hour'] = crash_df['crash_date'].apply(lambda x: int(x.hour))

In [58]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60338 entries, 5 to 466383
Data columns (total 48 columns):
crash_record_id                  60338 non-null object
rd_no                            60338 non-null object
crash_date                       60338 non-null datetime64[ns]
posted_speed_limit               60338 non-null object
traffic_control_device           60338 non-null object
device_condition                 60338 non-null object
weather_condition                60338 non-null object
lighting_condition               60338 non-null object
first_crash_type                 60338 non-null object
trafficway_type                  60338 non-null object
alignment                        60338 non-null object
roadway_surface_cond             60338 non-null object
road_defect                      60338 non-null object
report_type                      58551 non-null object
crash_type                       60338 non-null object
damage                           60338 non-null object
prim_contributory_cause          60338 non-null object
sec_contributory_cause           60338 non-null object
street_no                        60338 non-null object
street_direction                 60338 non-null object
street_name                      60338 non-null object
beat_of_occurrence               60338 non-null object
num_units                        60338 non-null object
most_severe_injury               60322 non-null object
injuries_total                   60322 non-null object
injuries_fatal                   60322 non-null object
injuries_incapacitating          60322 non-null object
injuries_non_incapacitating      60322 non-null object
injuries_reported_not_evident    60322 non-null object
injuries_no_indication           60322 non-null object
injuries_unknown                 60322 non-null object
crash_hour                       60338 non-null object
crash_day_of_week                60338 non-null object
crash_month                      60338 non-null object
latitude                         60338 non-null object
longitude                        60338 non-null object
lane_cnt                         27069 non-null object
intersection_related_i           60338 non-null object
hit_and_run_i                    11421 non-null object
crash_date_est_i                 2676 non-null object
work_zone_i                      465 non-null object
work_zone_type                   361 non-null object
workers_present_i                97 non-null object
intersection                     8296 non-null object
year                             60338 non-null int64
month                            60338 non-null int64
day                              60338 non-null int64
hour                             60338 non-null int64
dtypes: datetime64[ns](1), int64(4), object(43)
memory usage: 22.6+ MB

### Create signal_crashes TABLE - from crash_df

In [59]:
make_table(crash_df, 'signal_crashes', c, conn)

[('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',)]

## 6) Create hourly_congestion TABLE from all_traffic
For this one, we have to combine two different datasets.  Chicago changed the way data was recorded in 2018.  Columns are similar, but more data collected.

In [60]:
# Congestion Data
traffic_df = client.get("emtn-qqdi", 
                     #where="TIME > \'2015-01-01T00:00:00.000\'",
                     where='TIME BETWEEN \'2015-01-01T00:00:00.000\' AND \'2020-12-31T00:00:00.000\'',
                     limit=10000000,
                    )

traffic_df = pd.DataFrame.from_records(traffic_df) # Convert to pandas DataFrame

### Clean up my datatypes before preprocessing
Won't be able to table it until we get both datasets

In [61]:
traffic_df.rename(columns={'number_of_reads':'num_reads'}, inplace=True)
traffic_df['time'] = pd.to_datetime(traffic_df['time'])
traffic_df['bus_count'] = traffic_df['bus_count'].astype(int)
traffic_df['num_reads'] = traffic_df['num_reads'].astype(int)
traffic_df['speed'] = traffic_df['speed'].astype(float)

### On to the other dataset

In [62]:
# Congestion data from later
traffic_df2 = client.get("kf7e-cur8", #2018 to present
                     select='time, region_id, speed, bus_count, num_reads',  # this set is huge, so we won't get all       
                     where="TIME < \'2021-01-01T00:00:00.000\'",
                     limit=10000000,
                    )

# Convert to pandas DataFrame
traffic_df2 = pd.DataFrame.from_records(traffic_df2)

In [63]:
#traffic2_df.rename(columns={'number_of_reads':'num_reads'}, inplace=True)
traffic_df2['time'] = pd.to_datetime(traffic_df2['time'])
traffic_df2['bus_count'] = traffic_df2['bus_count'].astype(int)
traffic_df2['num_reads'] = traffic_df2['num_reads'].astype(int)
traffic_df2['speed'] = traffic_df2['speed'].astype(float)

## Now get the congestion data processed
We have two separate traffic_dfs.  There is data prior to 2018 and after in two different api endpoints.

In [64]:
traffic_df.head()
traffic_df2.head()
traffic_df2.info()
print()
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959185 entries, 0 to 3959184
Data columns (total 5 columns):
time         datetime64[ns]
region_id    object
speed        float64
bus_count    int64
num_reads    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 151.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4168199 entries, 0 to 4168198
Data columns (total 5 columns):
time         datetime64[ns]
region_id    object
bus_count    int64
num_reads    int64
speed        float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 159.0+ MB

In [65]:
# Merge my two data sets for congestion by region
all_traffic = pd.merge(traffic_df, traffic_df2, how='outer')
print('traffic dfs merged')

traffic dfs merged

In [66]:
all_traffic['hour'] = all_traffic['time'].dt.hour
print('added hour column')

all_traffic['day'] = all_traffic.time.dt.day
print('added day column')

all_traffic['month'] = all_traffic.time.dt.month
print('added month column')

all_traffic['year'] = all_traffic.time.dt.year
print('added year column')

all_traffic['weekday'] = all_traffic.time.dt.weekday
print('added weekday column')

added hour column
added day column
added month column
added year column
added weekday column

In [67]:
print(len(all_traffic))  # lots of dupes 
all_traffic = all_traffic.groupby(['year', 'month', 'day', 'hour', 'region_id']).mean().reset_index()
all_traffic.info()

7917308
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331680 entries, 0 to 1331679
Data columns (total 9 columns):
year         1331680 non-null int64
month        1331680 non-null int64
day          1331680 non-null int64
hour         1331680 non-null int64
region_id    1331680 non-null object
bus_count    1331680 non-null float64
num_reads    1331680 non-null float64
speed        1331680 non-null float64
weekday      1331680 non-null float64
dtypes: float64(4), int64(4), object(1)
memory usage: 91.4+ MB

In [68]:
all_traffic.head()

   year  month  day  hour region_id  bus_count   num_reads      speed  weekday
0  2015      1    1     0         1   7.333333   90.166667  27.455000      3.0
1  2015      1    1     0        10  35.666667  386.666667  25.796667      3.0
2  2015      1    1     0        11  15.833333  231.666667  25.816667      3.0
3  2015      1    1     0        12  19.166667  259.500000  18.636667      3.0
4  2015      1    1     0        13  26.000000  367.833333  20.681667      3.0

In [69]:
# couple minutes
make_table(all_traffic, 'hourly_congestion', c, conn)

[('hourly_weather',), ('region_data',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',)]

# Speed fix for congestion
Congestion is measured by average bus speed.

The problem:
- Overnight (between 11 and 5am) we have few bus routes.
- Some regions have no buses overnight
- Some regions have only a few buses 
- Some buses are ending routes and have only a few reads
- Some buses are stationary (next morning staging)

The fix:
- replace speed for few buses/reads if speed is low
- we assume low buses/reads to be overnight when congestion is minimal
- replacement speed is a low congestion quantile speed (90% or so)

In [70]:
## Let's get the 0.90 quantile for every region, and then use that to fill in missing data

regions_90 = all_traffic.groupby(['region_id'])['speed'].quantile(0.9).reset_index()

In [71]:
regions_90.head()

  region_id      speed
0         1  25.058333
1        10  26.385000
2        11  26.803400
3        12  23.070000
4        13  24.091667

In [72]:
#### 5 MINUTES OR SO

#my read on this is that few buses run 24/7, so the data is unreliable.  
# buses stage for next morning.  You can see them all along Clark, LSD etc.  
# They have speed=0 and may be recording.  Could talk to owner of dataset.

# I will draw the cutoff at 100 reads, 5 buses, speed < 10
# in that case I will put in a quantile speed for the region


def speed_check(bus, speed, reads, region_id, regions_90):
    if (bus <= 5 or reads < 100) and speed < 25 or speed > 40:
        return regions_90[regions_90['region_id']==region_id]['speed'].values[0]
    else:
        return speed
    

# apply is SLOOOOOOWWW, but not sure how else to accomplish this without iter
all_traffic['speed'] = all_traffic.apply(lambda x: speed_check(x.bus_count, x.speed, x.num_reads, x.region_id, regions_90), axis=1)

In [73]:
make_table(all_traffic, 'hourly_congestion', c, conn)

[('hourly_weather',), ('region_data',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',)]

## 7) Create hourly_weather from wx_df

In [74]:
# Import weather data from csv
wx_df = pd.read_csv('data/chi_wx.csv')

In [75]:
wx_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1420070400,2015-01-01 00:00:00 +0000 UTC,-21600,Chicago IL. USA,41.878114,-87.629798,265.96,258.16,264.85,267.708,...,230,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
1,1420074000,2015-01-01 01:00:00 +0000 UTC,-21600,Chicago IL. USA,41.878114,-87.629798,266.13,256.52,265.35,267.926,...,230,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
2,1420077600,2015-01-01 02:00:00 +0000 UTC,-21600,Chicago IL. USA,41.878114,-87.629798,266.17,257.70,265.35,268.098,...,230,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
3,1420081200,2015-01-01 03:00:00 +0000 UTC,-21600,Chicago IL. USA,41.878114,-87.629798,266.39,257.56,265.35,268.157,...,240,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1420084800,2015-01-01 04:00:00 +0000 UTC,-21600,Chicago IL. USA,41.878114,-87.629798,266.47,256.50,265.35,268.121,...,240,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [76]:
wx_df['time'] = pd.to_datetime(wx_df['dt_iso'].apply(lambda x: x[:-4]))
wx_df.head()
wx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55219 entries, 0 to 55218
Data columns (total 26 columns):
dt                     55219 non-null int64
dt_iso                 55219 non-null object
timezone               55219 non-null int64
city_name              55219 non-null object
lat                    55219 non-null float64
lon                    55219 non-null float64
temp                   55219 non-null float64
feels_like             55219 non-null float64
temp_min               55219 non-null float64
temp_max               55219 non-null float64
pressure               55219 non-null int64
sea_level              0 non-null float64
grnd_level             0 non-null float64
humidity               55219 non-null int64
wind_speed             55219 non-null float64
wind_deg               55219 non-null int64
rain_1h                6587 non-null float64
rain_3h                816 non-null float64
snow_1h                1538 non-null float64
snow_3h                91 non-null float64
clouds_all             55219 non-null int64
weather_id             55219 non-null int64
weather_main           55219 non-null object
weather_description    55219 non-null object
weather_icon           55219 non-null object
time                   55219 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(13), int64(7), object(5)
memory usage: 11.0+ MB

In [77]:
wx_df['rain_3h'] = wx_df['rain_3h'].fillna(0)
wx_df['rain_1h'] = wx_df['rain_1h'].fillna(0)
wx_df['snow_3h'] = wx_df['snow_3h'].fillna(0)
wx_df['snow_1h'] = wx_df['snow_1h'].fillna(0)
wx_df['temp'] = wx_df['temp_max']
wx_df['year'] = wx_df.time.dt.year
wx_df['month'] = wx_df.time.dt.month
wx_df['day'] = wx_df.time.dt.day
wx_df['hour'] = wx_df.time.dt.hour
wx_df['weekday'] = wx_df.time.dt.weekday

In [78]:
wx_df.describe()

,dt,timezone,lat,lon,temp,feels_like,temp_min,temp_max,pressure,sea_level,...,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,year,month,day,hour,weekday
count,5.521900e+04,55219.000000,5.521900e+04,5.521900e+04,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,0.0,...,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000,55219.000000
mean,1.513951e+09,-19252.525399,4.187811e+01,-8.762980e+01,285.518514,280.257647,281.898104,285.518514,1016.055542,NaN,...,0.047967,0.013533,0.001809,61.031294,750.721907,2017.485087,6.395969,15.782557,11.455894,2.998443
std,5.388285e+07,1714.737534,7.105492e-15,4.263295e-14,11.064564,13.182997,10.354815,11.064564,7.584028,NaN,...,0.708266,0.123137,0.066962,32.047140,112.093082,1.695629,3.444176,8.817962,6.908119,1.999746
min,1.420070e+09,-21600.000000,4.187811e+01,-8.762980e+01,245.370000,233.180000,242.150000,245.370000,965.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,200.000000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,1.467211e+09,-21600.000000,4.187811e+01,-8.762980e+01,276.480000,269.890000,274.150000,276.480000,1011.000000,NaN,...,0.000000,0.000000,0.000000,40.000000,800.000000,2016.000000,3.000000,8.000000,5.000000,1.000000
50%,1.514524e+09,-18000.000000,4.187811e+01,-8.762980e+01,285.193000,279.250000,281.161000,285.193000,1016.000000,NaN,...,0.000000,0.000000,0.000000,75.000000,802.000000,2017.000000,6.000000,16.000000,11.000000,3.000000
75%,1.560530e+09,-18000.000000,4.187811e+01,-8.762980e+01,295.150000,291.900000,290.950000,295.150000,1021.000000,NaN,...,0.000000,0.000000,0.000000,90.000000,803.000000,2019.000000,9.000000,23.000000,17.000000,5.000000
max,1.606864e+09,-18000.000000,4.187811e+01,-8.762980e+01,311.480000,309.890000,306.132000,311.480000,1044.000000,NaN,...,35.000000,8.400000,6.000000,100.000000,804.000000,2020.000000,12.000000,31.000000,23.000000,6.000000

In [79]:
try:
    wx_df = wx_df.drop(columns=['dt', 
                        'dt_iso', 
                        'timezone', 
                        'city_name', 
                        'lat', 
                        'lon', 
                        'feels_like', 
                        'temp_min', 
                        'temp_max',
                        'pressure',
                        'sea_level',
                        'grnd_level',
                        'humidity',
                        'wind_speed',
                        'wind_deg',
                        'clouds_all',
                        'weather_description',
                        'weather_icon',
                        'weather_id',
                        'weather_main',
                       ], axis=1)
except:
    print('Failed')

In [80]:
print(len(wx_df))
print(wx_df.duplicated().sum())


print('Total hours in 6 years:', 365.25 * 24 * 6)
print('Unique entries:', len(wx_df.drop_duplicates()))  
# missing a few entries (700+ out of 52k)  Am I missing a month??

print()
print(wx_df.time.min(), wx_df.time.max())  # OH!!!!  I am missin last month
print('Total hours in 6 years (-1 mos):', 365.25 * 24 * 6 - 31 * 24)  # okay, we are only missing a few


wx_df.drop_duplicates(inplace=True)

55219
3331
Total hours in 6 years: 52596.0
Unique entries: 51888

2015-01-01 00:00:00+00:00 2020-12-01 23:00:00+00:00
Total hours in 6 years (-1 mos): 51852.0

In [81]:
make_table(wx_df, 'hourly_weather', c, conn)

[('region_data',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',), ('hourly_weather',)]

## 8) Create TABLE region_data from region_df

In [82]:
# THis time we only grab what we need

region_df = client.get("kf7e-cur8", # regional congestion current data
                         select='region_id, region, description, north, south, east, west',
                         limit=1000
                    )

# Convert to pandas DataFrame
region_df = pd.DataFrame.from_records(region_df)  # should only return most recent for each region

In [83]:
region_df = region_df.groupby('region_id').max().reset_index()

In [84]:
# need these as floats so we can compare them
region_df[['north', 'south', 'east', 'west']] = region_df[['north', 'south', 'east', 'west']].astype(float)
region_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
region_id      29 non-null object
region         29 non-null object
description    29 non-null object
north          29 non-null float64
south          29 non-null float64
east           29 non-null float64
west           29 non-null float64
dtypes: float64(4), object(3)
memory usage: 1.7+ KB

### Add region to my crash df

In [85]:
crash_df[['latitude', 'longitude']] = crash_df[['latitude', 'longitude']].astype(float)
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60338 entries, 5 to 466383
Data columns (total 48 columns):
crash_record_id                  60338 non-null object
rd_no                            60338 non-null object
crash_date                       60338 non-null datetime64[ns]
posted_speed_limit               60338 non-null object
traffic_control_device           60338 non-null object
device_condition                 60338 non-null object
weather_condition                60338 non-null object
lighting_condition               60338 non-null object
first_crash_type                 60338 non-null object
trafficway_type                  60338 non-null object
alignment                        60338 non-null object
roadway_surface_cond             60338 non-null object
road_defect                      60338 non-null object
report_type                      58551 non-null object
crash_type                       60338 non-null object
damage                           60338 non-null object
prim_contributory_cause          60338 non-null object
sec_contributory_cause           60338 non-null object
street_no                        60338 non-null object
street_direction                 60338 non-null object
street_name                      60338 non-null object
beat_of_occurrence               60338 non-null object
num_units                        60338 non-null object
most_severe_injury               60322 non-null object
injuries_total                   60322 non-null object
injuries_fatal                   60322 non-null object
injuries_incapacitating          60322 non-null object
injuries_non_incapacitating      60322 non-null object
injuries_reported_not_evident    60322 non-null object
injuries_no_indication           60322 non-null object
injuries_unknown                 60322 non-null object
crash_hour                       60338 non-null object
crash_day_of_week                60338 non-null object
crash_month                      60338 non-null object
latitude                         60338 non-null float64
longitude                        60338 non-null float64
lane_cnt                         27069 non-null object
intersection_related_i           60338 non-null object
hit_and_run_i                    11421 non-null object
crash_date_est_i                 2676 non-null object
work_zone_i                      465 non-null object
work_zone_type                   361 non-null object
workers_present_i                97 non-null object
intersection                     8296 non-null object
year                             60338 non-null int64
month                            60338 non-null int64
day                              60338 non-null int64
hour                             60338 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(41)
memory usage: 22.6+ MB

In [86]:
# add in the region for my crashes
# Resource hog
crash_df.columns


def which_region(lat, long, region_df):
    #print(lat, long)
    row = region_df[(region_df['east'] >= long) &
                    (region_df['west'] < long) &
                    (region_df['north'] >= lat) &
                    (region_df['south'] < lat)]['region_id'].max()
    return row

#df.iloc[:5]
# takes some 5min
crash_df['region_id'] = crash_df.apply(lambda x: which_region(x.latitude, x.longitude, region_df), axis=1)

In [87]:
len(crash_df)
crash_df.columns

crash_df['time'] = pd.to_datetime(crash_df.crash_date)
crash_df['year'] = crash_df.time.dt.year
crash_df['month'] = crash_df.time.dt.month
crash_df['day'] = crash_df.time.dt.day
crash_df['hour'] = crash_df.time.dt.hour
crash_df['weekday'] = crash_df.time.dt.weekday

In [88]:
make_table(region_df, 'region_data', c, conn)
print()
make_table(crash_df, 'signal_crashes', c, conn)  # also update my crash data

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',)]

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',)]

### Add region_id to intersection_cams
While I'm here and I have the function ready.
I would like to add region_id number to my red light camera (daily_violations TABLE)
The region there will help me link the daily_violations and hourly_congestion TABLEs

*** NOTE: Makes more sense to come back and put the region into the intersection_cameras table to speed this up

In [89]:
# 10 minutes
#rlc['region_id'] = 
int_cams['region_id'] = int_cams.apply(lambda x: which_region(x.latitude, x.longitude, region_df), axis=1)

In [90]:
## commit my change
make_table(int_cams, 'intersection_cams', c, conn)

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',), ('intersection_cams',)]

### Use this code to test any of your tables for proper data storage

In [91]:
query = c.execute("SELECT camera_id, violations FROM daily_violations;").fetchall()
print(query[:5])
print(len(query))

[('2121', 19), ('1533', 2), ('1503', 2), ('2764', 3), ('1234', 1)]
572324

## Before I go, I want to add intersections to my crashes to link the db tables

In [92]:
sql_fetch_tables(c, conn)

[('intersection_chars',),
 ('cam_locations',),
 ('cam_startend',),
 ('daily_violations',),
 ('all_crashes',),
 ('hourly_congestion',),
 ('hourly_weather',),
 ('region_data',),
 ('signal_crashes',),
 ('intersection_cams',)]

In [93]:
df = pd.read_sql_query("SELECT * FROM signal_crashes", conn)
camloc_df = pd.read_sql_query('SELECT * FROM cam_locations', conn)
ints_df = pd.read_sql_query('SELECT * FROM intersection_cams', conn)

In [94]:
#ints_df.astype({'longitude':float})
pd.options.display.max_rows = 200

In [95]:
# Now I am desperate.  This takes too long to process.  Let's simplify it and make it a box instead.
box_side = 80  # effectively makes it check for crash being within 25m of interscection
box_lat = box_side / 111070 / 2 # 111070 is meters in deg lat in Chicago
box_long = box_side / 83000 / 2 # 83000 is meters in deg long in Chicago

def box_check(lat, long, int_df):
    n = lat + box_lat
    s = lat - box_lat
    e = long + box_long
    w = long - box_long
    # print('n', n, 's', s, 'e', e, 'w', w, 'lat:', lat, 'long:', long)
    answer = int_df[  (int_df['lat'] > s) &
                      (int_df['lat'] < n) &
                      (int_df['long'] > w) &
                      (int_df['long'] < e)
                      
                     ]
    if answer.empty: return None
    return answer['intersection'].values[0]

    
# THIS SEEMS TO WORK AT SPEED AND ELIMINATES MEMORY PROBLEM
for i in range(5000, 5200): 
    lat = float(df.iloc[i]['latitude'])
    long = float(df.iloc[i]['longitude'])
    n = lat + box_lat
    s = lat - box_lat
    e = long + box_long
    w = long - box_long
    answer = int_df[  (int_df['lat'] > s) &
                      (int_df['lat'] < n) &
                      (int_df['long'] > w) &
                      (int_df['long'] < e)]['intersection'].values
    if len(answer): print(answer[0])
    
# 99th Halsted: 41.714230	-87.643043
# MOMENT OF TRUTH
df['intersection'] = df.apply(lambda x: box_check(float(x.latitude), float(x.longitude), int_df), axis=1)

71ST AND ASHLAND
PETERSON AND WESTERN
95TH AND STONEY ISLAND
FULLERTON AND NARRAGANSETT
PULASKI AND MONTROSE
KEDZIE AND 63RD
71ST AND ASHLAND
WESTERN AND ARMITAGE
HARLEM AND NORTHWEST HWY
ASHLAND AND 63RD
SHERIDAN AND FOSTER
CICERO AND HARRISON
WESTERN AND TOUHY
87TH AND VINCENNES
WESTERN AND 79TH
PETERSON AND WESTERN
ASHLAND AND DIVISION
WESTERN AND 63RD
CERMAK AND PULASKI
79TH AND HALSTED
PULASKI AND IRVING PARK
HARLEM AND BELMONT
4700 WESTERN
35TH AND WESTERN
LARAMIE AND MADISON
FOSTER AND NAGLE
HAMLIN AND MADISON

In [96]:
df.intersection.count() / len(df)
len(df.intersection.unique())

183

In [97]:
make_table(df, 'signal_crashes', c, conn)

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',)]

Make a table that just has every date and hour for every intersection.  Will help out my queries

In [198]:
my_ints = int_df.intersection

In [199]:
grouped_dates = wx_df.groupby(['year', 'month', 'day']).sum().reset_index()[['year', 'month', 'day']]
grouped_dates = grouped_dates[grouped_dates['year']>2015]

In [200]:
# didn't work 
grouped_dates.head()
grouped_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1797 entries, 365 to 2161
Data columns (total 3 columns):
year     1797 non-null int64
month    1797 non-null int64
day      1797 non-null int64
dtypes: int64(3)
memory usage: 56.2 KB

In [201]:
# Should only have to do this once
#for i in range(len(wx_df)):
big_df = grouped_dates.copy()
big_df['intersection'] = int_df.iloc[0,:]

for i in range(1, len(int_df)):
    print(int_df.iloc[i, :]['intersection'])
    df = grouped_dates.copy()
    df['intersection'] = int_df.iloc[i,:]['intersection']
    big_df = pd.concat([big_df, df])

115TH AND HALSTED
119TH AND HALSTED
31ST AND CALIFORNIA
31ST ST AND MARTIN LUTHER KING DRIVE
35TH AND WESTERN
4700 WESTERN
55TH AND KEDZIE
55TH AND WESTERN
55TH and PULASKI
63RD AND STATE
71ST AND ASHLAND
75TH AND STATE
79TH AND HALSTED
79TH AND KEDZIE
83RD AND STONY ISLAND
87TH AND VINCENNES
95TH AND STONEY ISLAND
99TH AND HALSTED
ADDISON AND HARLEM
ARCHER AND CICERO
Archer and Central
ARCHER/NARRAGANSETT AND 55TH
ASHLAND AND 47TH
ASHLAND AND 63RD
ASHLAND AND 87TH
ASHLAND AND 95TH
ASHLAND AND ARCHER
ASHLAND AND DIVERSEY
ASHLAND AND DIVISION
ASHLAND AND FULLERTON
ASHLAND AND IRVING PARK
ASHLAND AND LAWRENCE
ASHLAND AND MADISON
AUSTIN AND ADDISON
AUSTIN AND IRVING PARK
BELMONT AND KEDZIE
BLUE ISLAND AND DAMEN
BROADWAY/SHERIDAN AND DEVON
CALIFORNIA AND DEVON
CALIFORNIA AND DIVERSEY
CALIFORNIA AND PETERSON
CANAL AND ROOSEVELT
CENTRAL AND ADDISON
CENTRAL AND BELMONT
CENTRAL AND CHICAGO
CENTRAL AND DIVERSEY
CENTRAL AND FULLERTON
CENTRAL AND IRVING PARK
CENTRAL AND LAKE
CENTRAL AND MILWAUKEE
CERMAK AND PULASKI
CHICAGO AND CLARK
CICERO AND 47TH
CICERO AND ADDISON
CICERO AND ARMITAGE
CICERO AND CHICAGO
CICERO AND DIVERSEY
CICERO AND FULLERTON
CICERO AND HARRISON
CICERO AND I55
CICERO AND NORTH
CICERO AND PETERSON
CICERO AND WASHINGTON
CLARK AND FULLERTON
CLARK AND IRVING PARK
COLUMBUS AND ILLINOIS
CORNELL DRIVE AND 57TH
CORTLAND AND ASHLAND
COTTAGE GROVE AND 71ST
COTTAGE GROVE AND 95TH
DAMEN AND 63RD
DAMEN AND DIVERSEY
DAMEN AND ELSTON
DAMEN AND FULLERTON
DIVERSEY AND AUSTIN
DIVERSEY AND WESTERN
DIVISION AND DAMEN
ELSTON AND ADDISON
ELSTON AND FOSTER
ELSTON AND IRVING PARK
ELSTON AND LAWRENCE
FOSTER AND BROADWAY
FOSTER AND NAGLE
FOSTER AND NORTHWEST HIGHWAY
FULLERTON AND NARRAGANSETT
GARFIELD AND ASHLAND
GRAND AND OAK PARK
HALSTED AND 103RD
HALSTED AND 63RD
HALSTED AND 83RD
HALSTED AND 95TH
HALSTED AND DIVISION
HALSTED AND FULLERTON
HALSTED AND MADISON
HALSTED AND NORTH
HAMLIN AND LAKE
HAMLIN AND MADISON
HARLEM AND BELMONT
HARLEM AND NORTHWEST HWY
HOLLYWOOD AND SHERIDAN
HOMAN/KIMBALL AND NORTH
IRVING PARK AND CALIFORNIA
IRVING PARK AND KEDZIE
IRVING PARK AND KILPATRICK
IRVING PARK AND LARAMIE
IRVING PARK AND NARRAGANSETT
JEFFERY AND 79TH
JEFFERY AND 95TH
KEDZIE AND 26TH
KEDZIE AND 31ST
KEDZIE AND 47TH
KEDZIE AND 63RD
KEDZIE AND 71ST
KEDZIE AND ARMITAGE
KIMBALL AND DIVERSEY
KIMBALL AND LINCOLN
KOSTNER AND NORTH
LAFAYETTE AND 87TH
LAKE AND UPPER WACKER
LAKE SHORE DR AND BELMONT
LARAMIE AND FULLERTON
LARAMIE AND MADISON
LASALLE AND KINZIE
LAWRENCE AND CICERO
LAWRENCE AND WESTERN
LINCOLN AND MCCORMICK
MADISON AND CENTRAL
MADISON AND WESTERN
MICHIGAN AND JACKSON
MICHIGAN AND ONTARIO
MILWAUKEE AND CENTRAL
MILWAUKEE AND DEVON
MILWAUKEE AND MONTROSE
MONTROSE AND WESTERN
NORTHWEST HIGHWAY AND FOSTER
OGDEN AND KOSTNER
PERSHING AND WESTERN
PETERSON AND WESTERN
PULASKI AND 63RD
PULASKI AND 79TH
PULASKI AND ARCHER
PULASKI AND ARMITAGE
PULASKI AND BELMONT
PULASKI AND CHICAGO
PULASKI AND DIVERSEY
PULASKI AND DIVISION
PULASKI AND FOSTER
PULASKI AND FULLERTON
PULASKI AND IRVING PARK
PULASKI AND LAWRENCE
PULASKI AND MONTROSE
PULASKI AND NORTH
PULASKI AND PETERSON
RIDGE AND CLARK
ROOSEVELT AND HALSTED
ROOSEVELT AND KOSTNER
ROOSEVELT AND PULASKI
SACRAMENTO AND CHICAGO
SACRAMENTO AND LAKE
SHERIDAN AND FOSTER
STATE AND 79TH
STONEY ISLAND AND 76TH
STONEY ISLAND AND 79TH
STONY ISLAND/CORNELL AND 67TH
TOUHY AND OSCEOLA
VAN BUREN AND WESTERN
VINCENNES AND 111TH
WENTWORTH AND GARFIELD
WESTERN AND 51ST
WESTERN AND 63RD
WESTERN AND 71ST
WESTERN AND 79TH
WESTERN AND ADDISON
WESTERN AND ARMITAGE
WESTERN AND CERMAK
WESTERN AND CHICAGO
WESTERN AND DEVON
WESTERN AND FOSTER
WESTERN AND FULLERTON
WESTERN AND MARQUETTE
WESTERN AND NORTH
WESTERN AND PRATT
WESTERN AND TOUHY

In [202]:
big_df.intersection.isna().sum()

1797

In [203]:
big_df.intersection.unique()
big_df.dropna(subset=['intersection'], inplace=True)

In [204]:
big_df.head()

     year  month  day       intersection
365  2016      1    1  115TH AND HALSTED
366  2016      1    2  115TH AND HALSTED
367  2016      1    3  115TH AND HALSTED
368  2016      1    4  115TH AND HALSTED
369  2016      1    5  115TH AND HALSTED

In [205]:
pd.options.display.max_rows = 500
big_df[5000:5500]

      year  month  day                          intersection
1771  2019     11    7                   31ST AND CALIFORNIA
1772  2019     11    8                   31ST AND CALIFORNIA
1773  2019     11    9                   31ST AND CALIFORNIA
1774  2019     11   10                   31ST AND CALIFORNIA
1775  2019     11   11                   31ST AND CALIFORNIA
1776  2019     11   12                   31ST AND CALIFORNIA
1777  2019     11   13                   31ST AND CALIFORNIA
1778  2019     11   14                   31ST AND CALIFORNIA
1779  2019     11   15                   31ST AND CALIFORNIA
1780  2019     11   16                   31ST AND CALIFORNIA
1781  2019     11   17                   31ST AND CALIFORNIA
1782  2019     11   18                   31ST AND CALIFORNIA
1783  2019     11   19                   31ST AND CALIFORNIA
1784  2019     11   20                   31ST AND CALIFORNIA
1785  2019     11   21                   31ST AND CALIFORNIA
1786  2019     11   22                   31ST AND CALIFORNIA
1787  2019     11   23                   31ST AND CALIFORNIA
1788  2019     11   24                   31ST AND CALIFORNIA
1789  2019     11   25                   31ST AND CALIFORNIA
1790  2019     11   26                   31ST AND CALIFORNIA
1791  2019     11   27                   31ST AND CALIFORNIA
1792  2019     11   28                   31ST AND CALIFORNIA
1793  2019     11   29                   31ST AND CALIFORNIA
1794  2019     11   30                   31ST AND CALIFORNIA
1795  2019     12    1                   31ST AND CALIFORNIA
1796  2019     12    2                   31ST AND CALIFORNIA
1797  2019     12    3                   31ST AND CALIFORNIA
1798  2019     12    4                   31ST AND CALIFORNIA
1799  2019     12    5                   31ST AND CALIFORNIA
1800  2019     12    6                   31ST AND CALIFORNIA
1801  2019     12    7                   31ST AND CALIFORNIA
1802  2019     12    8                   31ST AND CALIFORNIA
1803  2019     12    9                   31ST AND CALIFORNIA
1804  2019     12   10                   31ST AND CALIFORNIA
1805  2019     12   11                   31ST AND CALIFORNIA
1806  2019     12   12                   31ST AND CALIFORNIA
1807  2019     12   13                   31ST AND CALIFORNIA
1808  2019     12   14                   31ST AND CALIFORNIA
1809  2019     12   15                   31ST AND CALIFORNIA
1810  2019     12   16                   31ST AND CALIFORNIA
1811  2019     12   17                   31ST AND CALIFORNIA
1812  2019     12   18                   31ST AND CALIFORNIA
1813  2019     12   19                   31ST AND CALIFORNIA
1814  2019     12   20                   31ST AND CALIFORNIA
1815  2019     12   21                   31ST AND CALIFORNIA
1816  2019     12   22                   31ST AND CALIFORNIA
1817  2019     12   23                   31ST AND CALIFORNIA
1818  2019     12   24                   31ST AND CALIFORNIA
1819  2019     12   25                   31ST AND CALIFORNIA
1820  2019     12   26                   31ST AND CALIFORNIA
1821  2019     12   27                   31ST AND CALIFORNIA
1822  2019     12   28                   31ST AND CALIFORNIA
1823  2019     12   29                   31ST AND CALIFORNIA
1824  2019     12   30                   31ST AND CALIFORNIA
1825  2019     12   31                   31ST AND CALIFORNIA
1826  2020      1    1                   31ST AND CALIFORNIA
1827  2020      1    2                   31ST AND CALIFORNIA
1828  2020      1    3                   31ST AND CALIFORNIA
1829  2020      1    4                   31ST AND CALIFORNIA
1830  2020      1    5                   31ST AND CALIFORNIA
1831  2020      1    6                   31ST AND CALIFORNIA
1832  2020      1    7                   31ST AND CALIFORNIA
1833  2020      1    8                   31ST AND CALIFORNIA
1834  2020      1    9                   31ST AND CALIFORNIA
1835  2020      1   10                   31ST AND CALIFORNIA
1836  2020      1   11                   31ST AND CALIFORNIA
1837  2020      1   12                   31ST AND CALIFORNIA
1838  2020      1   13                   31ST AND CALIFORNIA
1839  2020      1   14                   31ST AND CALIFORNIA
1840  2020      1   15                   31ST AND CALIFORNIA
1841  2020      1   16                   31ST AND CALIFORNIA
1842  2020      1   17                   31ST AND CALIFORNIA
1843  2020      1   18                   31ST AND CALIFORNIA
1844  2020      1   19                   31ST AND CALIFORNIA
1845  2020      1   20                   31ST AND CALIFORNIA
1846  2020      1   21                   31ST AND CALIFORNIA
1847  2020      1   22                   31ST AND CALIFORNIA
1848  2020      1   23                   31ST AND CALIFORNIA
1849  2020      1   24                   31ST AND CALIFORNIA
1850  2020      1   25                   31ST AND CALIFORNIA
1851  2020      1   26                   31ST AND CALIFORNIA
1852  2020      1   27                   31ST AND CALIFORNIA
1853  2020      1   28                   31ST AND CALIFORNIA
1854  2020      1   29                   31ST AND CALIFORNIA
1855  2020      1   30                   31ST AND CALIFORNIA
1856  2020      1   31                   31ST AND CALIFORNIA
1857  2020      2    1                   31ST AND CALIFORNIA
1858  2020      2    2                   31ST AND CALIFORNIA
1859  2020      2    3                   31ST AND CALIFORNIA
1860  2020      2    4                   31ST AND CALIFORNIA
1861  2020      2    5                   31ST AND CALIFORNIA
1862  2020      2    6                   31ST AND CALIFORNIA
1863  2020      2    7                   31ST AND CALIFORNIA
1864  2020      2    8                   31ST AND CALIFORNIA
1865  2020      2    9                   31ST AND CALIFORNIA
1866  2020      2   10                   31ST AND CALIFORNIA
1867  2020      2   11                   31ST AND CALIFORNIA
1868  2020      2   12                   31ST AND CALIFORNIA
1869  2020      2   13                   31ST AND CALIFORNIA
1870  2020      2   14                   31ST AND CALIFORNIA
1871  2020      2   15                   31ST AND CALIFORNIA
1872  2020      2   16                   31ST AND CALIFORNIA
1873  2020      2   17                   31ST AND CALIFORNIA
1874  2020      2   18                   31ST AND CALIFORNIA
1875  2020      2   19                   31ST AND CALIFORNIA
1876  2020      2   20                   31ST AND CALIFORNIA
1877  2020      2   21                   31ST AND CALIFORNIA
1878  2020      2   22                   31ST AND CALIFORNIA
1879  2020      2   23                   31ST AND CALIFORNIA
1880  2020      2   24                   31ST AND CALIFORNIA
1881  2020      2   25                   31ST AND CALIFORNIA
1882  2020      2   26                   31ST AND CALIFORNIA
1883  2020      2   27                   31ST AND CALIFORNIA
1884  2020      2   28                   31ST AND CALIFORNIA
1885  2020      2   29                   31ST AND CALIFORNIA
1886  2020      3    1                   31ST AND CALIFORNIA
1887  2020      3    2                   31ST AND CALIFORNIA
1888  2020      3    3                   31ST AND CALIFORNIA
1889  2020      3    4                   31ST AND CALIFORNIA
1890  2020      3    5                   31ST AND CALIFORNIA
1891  2020      3    6                   31ST AND CALIFORNIA
1892  2020      3    7                   31ST AND CALIFORNIA
1893  2020      3    8                   31ST AND CALIFORNIA
1894  2020      3    9                   31ST AND CALIFORNIA
1895  2020      3   10                   31ST AND CALIFORNIA
1896  2020      3   11                   31ST AND CALIFORNIA
1897  2020      3   12                   31ST AND CALIFORNIA
1898  2020      3   13                   31ST AND CALIFORNIA
1899  2020      3   14                   31ST AND CALIFORNIA
1900  2020      3   15                   31ST AND CALIFORNIA
1901  2020      3   16                   31ST AND CALIFORNIA
1902  2020      3   17                   31ST AND CALIFORNIA
1903  2020      3   18                   31ST AND CALIFORNIA
1904  2020      3   19                   31ST AND CALIFORNIA
1905  2020      3   20                   31ST AND CALIFORNIA
1906  2020      3   21                   31ST AND CALIFORNIA
1907  2020      3   22                   31ST AND CALIFORNIA
1908  2020      3   23                   31ST AND CALIFORNIA
1909  2020      3   24                   31ST AND CALIFORNIA
1910  2020      3   25                   31ST AND CALIFORNIA
1911  2020      3   26                   31ST AND CALIFORNIA
1912  2020      3   27                   31ST AND CALIFORNIA
1913  2020      3   28                   31ST AND CALIFORNIA
1914  2020      3   29                   31ST AND CALIFORNIA
1915  2020      3   30                   31ST AND CALIFORNIA
1916  2020      3   31                   31ST AND CALIFORNIA
1917  2020      4    1                   31ST AND CALIFORNIA
1918  2020      4    2                   31ST AND CALIFORNIA
1919  2020      4    3                   31ST AND CALIFORNIA
1920  2020      4    4                   31ST AND CALIFORNIA
1921  2020      4    5                   31ST AND CALIFORNIA
1922  2020      4    6                   31ST AND CALIFORNIA
1923  2020      4    7                   31ST AND CALIFORNIA
1924  2020      4    8                   31ST AND CALIFORNIA
1925  2020      4    9                   31ST AND CALIFORNIA
1926  2020      4   10                   31ST AND CALIFORNIA
1927  2020      4   11                   31ST AND CALIFORNIA
1928  2020      4   12                   31ST AND CALIFORNIA
1929  2020      4   13                   31ST AND CALIFORNIA
1930  2020      4   14                   31ST AND CALIFORNIA
1931  2020      4   15                   31ST AND CALIFORNIA
1932  2020      4   16                   31ST AND CALIFORNIA
1933  2020      4   17                   31ST AND CALIFORNIA
1934  2020      4   18                   31ST AND CALIFORNIA
1935  2020      4   19                   31ST AND CALIFORNIA
1936  2020      4   20                   31ST AND CALIFORNIA
1937  2020      4   21                   31ST AND CALIFORNIA
1938  2020      4   22                   31ST AND CALIFORNIA
1939  2020      4   23                   31ST AND CALIFORNIA
1940  2020      4   24                   31ST AND CALIFORNIA
1941  2020      4   25                   31ST AND CALIFORNIA
1942  2020      4   26                   31ST AND CALIFORNIA
1943  2020      4   27                   31ST AND CALIFORNIA
1944  2020      4   28                   31ST AND CALIFORNIA
1945  2020      4   29                   31ST AND CALIFORNIA
1946  2020      4   30                   31ST AND CALIFORNIA
1947  2020      5    1                   31ST AND CALIFORNIA
1948  2020      5    2                   31ST AND CALIFORNIA
1949  2020      5    3                   31ST AND CALIFORNIA
1950  2020      5    4                   31ST AND CALIFORNIA
1951  2020      5    5                   31ST AND CALIFORNIA
1952  2020      5    6                   31ST AND CALIFORNIA
1953  2020      5    7                   31ST AND CALIFORNIA
1954  2020      5    8                   31ST AND CALIFORNIA
1955  2020      5    9                   31ST AND CALIFORNIA
1956  2020      5   10                   31ST AND CALIFORNIA
1957  2020      5   11                   31ST AND CALIFORNIA
1958  2020      5   12                   31ST AND CALIFORNIA
1959  2020      5   13                   31ST AND CALIFORNIA
1960  2020      5   14                   31ST AND CALIFORNIA
1961  2020      5   15                   31ST AND CALIFORNIA
1962  2020      5   16                   31ST AND CALIFORNIA
1963  2020      5   17                   31ST AND CALIFORNIA
1964  2020      5   18                   31ST AND CALIFORNIA
1965  2020      5   19                   31ST AND CALIFORNIA
1966  2020      5   20                   31ST AND CALIFORNIA
1967  2020      5   21                   31ST AND CALIFORNIA
1968  2020      5   22                   31ST AND CALIFORNIA
1969  2020      5   23                   31ST AND CALIFORNIA
1970  2020      5   24                   31ST AND CALIFORNIA
1971  2020      5   25                   31ST AND CALIFORNIA
1972  2020      5   26                   31ST AND CALIFORNIA
1973  2020      5   27                   31ST AND CALIFORNIA
1974  2020      5   28                   31ST AND CALIFORNIA
1975  2020      5   29                   31ST AND CALIFORNIA
1976  2020      5   30                   31ST AND CALIFORNIA
1977  2020      5   31                   31ST AND CALIFORNIA
1978  2020      6    1                   31ST AND CALIFORNIA
1979  2020      6    2                   31ST AND CALIFORNIA
1980  2020      6    3                   31ST AND CALIFORNIA
1981  2020      6    4                   31ST AND CALIFORNIA
1982  2020      6    5                   31ST AND CALIFORNIA
1983  2020      6    6                   31ST AND CALIFORNIA
1984  2020      6    7                   31ST AND CALIFORNIA
1985  2020      6    8                   31ST AND CALIFORNIA
1986  2020      6    9                   31ST AND CALIFORNIA
1987  2020      6   10                   31ST AND CALIFORNIA
1988  2020      6   11                   31ST AND CALIFORNIA
1989  2020      6   12                   31ST AND CALIFORNIA
1990  2020      6   13                   31ST AND CALIFORNIA
1991  2020      6   14                   31ST AND CALIFORNIA
1992  2020      6   15                   31ST AND CALIFORNIA
1993  2020      6   16                   31ST AND CALIFORNIA
1994  2020      6   17                   31ST AND CALIFORNIA
1995  2020      6   18                   31ST AND CALIFORNIA
1996  2020      6   19                   31ST AND CALIFORNIA
1997  2020      6   20                   31ST AND CALIFORNIA
1998  2020      6   21                   31ST AND CALIFORNIA
1999  2020      6   22                   31ST AND CALIFORNIA
2000  2020      6   23                   31ST AND CALIFORNIA
2001  2020      6   24                   31ST AND CALIFORNIA
2002  2020      6   25                   31ST AND CALIFORNIA
2003  2020      6   26                   31ST AND CALIFORNIA
2004  2020      6   27                   31ST AND CALIFORNIA
2005  2020      6   28                   31ST AND CALIFORNIA
2006  2020      6   29                   31ST AND CALIFORNIA
2007  2020      6   30                   31ST AND CALIFORNIA
2008  2020      7    1                   31ST AND CALIFORNIA
2009  2020      7    2                   31ST AND CALIFORNIA
2010  2020      7    3                   31ST AND CALIFORNIA
2011  2020      7    4                   31ST AND CALIFORNIA
2012  2020      7    5                   31ST AND CALIFORNIA
2013  2020      7    6                   31ST AND CALIFORNIA
2014  2020      7    7                   31ST AND CALIFORNIA
2015  2020      7    8                   31ST AND CALIFORNIA
2016  2020      7    9                   31ST AND CALIFORNIA
2017  2020      7   10                   31ST AND CALIFORNIA
2018  2020      7   11                   31ST AND CALIFORNIA
2019  2020      7   12                   31ST AND CALIFORNIA
2020  2020      7   13                   31ST AND CALIFORNIA
2021  2020      7   14                   31ST AND CALIFORNIA
2022  2020      7   15                   31ST AND CALIFORNIA
2023  2020      7   16                   31ST AND CALIFORNIA
2024  2020      7   17                   31ST AND CALIFORNIA
2025  2020      7   18                   31ST AND CALIFORNIA
2026  2020      7   19                   31ST AND CALIFORNIA
2027  2020      7   20                   31ST AND CALIFORNIA
2028  2020      7   21                   31ST AND CALIFORNIA
2029  2020      7   22                   31ST AND CALIFORNIA
2030  2020      7   23                   31ST AND CALIFORNIA
2031  2020      7   24                   31ST AND CALIFORNIA
2032  2020      7   25                   31ST AND CALIFORNIA
2033  2020      7   26                   31ST AND CALIFORNIA
2034  2020      7   27                   31ST AND CALIFORNIA
2035  2020      7   28                   31ST AND CALIFORNIA
2036  2020      7   29                   31ST AND CALIFORNIA
2037  2020      7   30                   31ST AND CALIFORNIA
2038  2020      7   31                   31ST AND CALIFORNIA
2039  2020      8    1                   31ST AND CALIFORNIA
2040  2020      8    2                   31ST AND CALIFORNIA
2041  2020      8    3                   31ST AND CALIFORNIA
2042  2020      8    4                   31ST AND CALIFORNIA
2043  2020      8    5                   31ST AND CALIFORNIA
2044  2020      8    6                   31ST AND CALIFORNIA
2045  2020      8    7                   31ST AND CALIFORNIA
2046  2020      8    8                   31ST AND CALIFORNIA
2047  2020      8    9                   31ST AND CALIFORNIA
2048  2020      8   10                   31ST AND CALIFORNIA
2049  2020      8   11                   31ST AND CALIFORNIA
2050  2020      8   12                   31ST AND CALIFORNIA
2051  2020      8   13                   31ST AND CALIFORNIA
2052  2020      8   14                   31ST AND CALIFORNIA
2053  2020      8   15                   31ST AND CALIFORNIA
2054  2020      8   16                   31ST AND CALIFORNIA
2055  2020      8   17                   31ST AND CALIFORNIA
2056  2020      8   18                   31ST AND CALIFORNIA
2057  2020      8   19                   31ST AND CALIFORNIA
2058  2020      8   20                   31ST AND CALIFORNIA
2059  2020      8   21                   31ST AND CALIFORNIA
2060  2020      8   22                   31ST AND CALIFORNIA
2061  2020      8   23                   31ST AND CALIFORNIA
2062  2020      8   24                   31ST AND CALIFORNIA
2063  2020      8   25                   31ST AND CALIFORNIA
2064  2020      8   26                   31ST AND CALIFORNIA
2065  2020      8   27                   31ST AND CALIFORNIA
2066  2020      8   28                   31ST AND CALIFORNIA
2067  2020      8   29                   31ST AND CALIFORNIA
2068  2020      8   30                   31ST AND CALIFORNIA
2069  2020      8   31                   31ST AND CALIFORNIA
2070  2020      9    1                   31ST AND CALIFORNIA
2071  2020      9    2                   31ST AND CALIFORNIA
2072  2020      9    3                   31ST AND CALIFORNIA
2073  2020      9    4                   31ST AND CALIFORNIA
2074  2020      9    5                   31ST AND CALIFORNIA
2075  2020      9    6                   31ST AND CALIFORNIA
2076  2020      9    7                   31ST AND CALIFORNIA
2077  2020      9    8                   31ST AND CALIFORNIA
2078  2020      9    9                   31ST AND CALIFORNIA
2079  2020      9   10                   31ST AND CALIFORNIA
2080  2020      9   11                   31ST AND CALIFORNIA
2081  2020      9   12                   31ST AND CALIFORNIA
2082  2020      9   13                   31ST AND CALIFORNIA
2083  2020      9   14                   31ST AND CALIFORNIA
2084  2020      9   15                   31ST AND CALIFORNIA
2085  2020      9   16                   31ST AND CALIFORNIA
2086  2020      9   17                   31ST AND CALIFORNIA
2087  2020      9   18                   31ST AND CALIFORNIA
2088  2020      9   19                   31ST AND CALIFORNIA
2089  2020      9   20                   31ST AND CALIFORNIA
2090  2020      9   21                   31ST AND CALIFORNIA
2091  2020      9   22                   31ST AND CALIFORNIA
2092  2020      9   23                   31ST AND CALIFORNIA
2093  2020      9   24                   31ST AND CALIFORNIA
2094  2020      9   25                   31ST AND CALIFORNIA
2095  2020      9   26                   31ST AND CALIFORNIA
2096  2020      9   27                   31ST AND CALIFORNIA

In [206]:
print(365.25 * 6 * 153)
make_table(big_df, 'all_hours', c, conn)

335299.5
[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',)]

## FUTURE WORK? traffic_count TABLE from traffic_count
Congestion did not work in the model.  It is by region, and the regions added very little.
We have data from a traffic study that gives average volume of traffic by street segment.
We will try to match up the segment(s) to the cameras.  This might be tricky.

Problem: I have start/end dates for all of my cams.
I do not have start/end dates by intersection, and now all of my data is sorted by intersection.

In [215]:
cam_startend
int_cams.head()

,intersection,latitude,longitude,cam1,cam2,cam3,region_id
0,111TH AND HALSTED,41.692362,-87.642423,2422,2424,None,26
1,115TH AND HALSTED,41.685089,-87.642094,2552,2553,None,26
2,119TH AND HALSTED,41.677774,-87.641930,2402,2404,None,26
3,31ST AND CALIFORNIA,41.837424,-87.695022,2061,2064,None,14
4,31ST ST AND MARTIN LUTHER KING DRIVE,41.838441,-87.617338,2121,2123,None,16

In [231]:
def find_int(cam_id, int_cams):
    '''returns the intersection associated with the red light camera'''
    my_int = int_cams[(int_cams['cam1']==cam_id) |
                 (int_cams['cam2']==cam_id) |
                 (int_cams['cam3']==cam_id)
                    ]['intersection'].max()
    return my_int

int_startend = cam_startend.copy()
int_startend.head()
int_startend['intersection'] = int_startend['camera_id'].apply(lambda x: find_int(x, int_cams))

In [235]:
int_startend = int_startend.groupby('intersection').agg({'start':'min', 'end':'max'}).reset_index()

In [237]:
int_startend.head()

                           intersection      start        end
0                     111TH AND HALSTED 2015-01-01 2020-12-31
1                     115TH AND HALSTED 2015-01-01 2017-10-26
2                     119TH AND HALSTED 2015-01-01 2020-12-31
3                   31ST AND CALIFORNIA 2015-01-02 2015-03-05
4  31ST ST AND MARTIN LUTHER KING DRIVE 2015-01-01 2020-12-31

In [239]:
make_table(int_startend, 'int_startend', c, conn)

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',)]

In [240]:
crash_df[crash_df['crash_date']]

,crash_record_id,rd_no,crash_date,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,trafficway_type,...,work_zone_type,workers_present_i,intersection,year,month,day,hour,region_id,time,weekday
5,00e47f189660cd8ba1e85fc63061bf1d8465184393f134...,JC194776,2019-03-21 22:50:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,NOT DIVIDED,...,NaN,NaN,None,2019,3,21,22,22,2019-03-21 22:50:00,3
10,0209e21f298984f7375742b7ef27c9880b485f41123a12...,JB415436,2018-08-30 17:45:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,NOT DIVIDED,...,NaN,NaN,None,2018,8,30,17,12,2018-08-30 17:45:00,3
11,0211e1f766f3940dfa87375661d25b716655e908c320cc...,JC301403,2019-06-11 08:40:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,DIVIDED - W/MEDIAN BARRIER,...,NaN,NaN,None,2019,6,11,8,20,2019-06-11 08:40:00,1
12,f5464038ed524b7229878b786bcebdb35afaed6ce0a201...,JD280192,2020-06-29 14:49:00,30,TRAFFIC SIGNAL,NOT FUNCTIONING,CLEAR,DAYLIGHT,ANGLE,NOT DIVIDED,...,NaN,NaN,None,2020,6,29,14,14,2020-06-29 14:49:00,0
24,03c8fee8a0cb0d303e972a873228b444a47b7b1ed1e2d9...,JB317419,2018-06-22 07:25:00,35,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,TURNING,NOT DIVIDED,...,NaN,NaN,None,2018,6,22,7,22,2018-06-22 07:25:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466370,fffda22586c1498c1ce5938c8cf08fe08f5bbfbc393140...,JB122971,2018-01-20 11:00:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,ONE-WAY,...,NaN,NaN,None,2018,1,20,11,13,2018-01-20 11:00:00,5
466373,fffe2ad79f689b5663d074f2a73b3b826c7b7abf148b0a...,JB468314,2018-10-09 09:00:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,DIVIDED - W/MEDIAN (NOT RAISED),...,NaN,NaN,CICERO AND NORTH,2018,10,9,9,7,2018-10-09 09:00:00,1
466378,fffe7de9fb6094a34f29f93bbcee3aae28d5919b2f2869...,JC185540,2019-03-14 17:20:00,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DAYLIGHT,ANGLE,NOT DIVIDED,...,NaN,NaN,None,2019,3,14,17,2,2019-03-14 17:20:00,3
466381,ffff27f5ef6d4465bf2e6da46c1d07ac6f017c6ca1f477...,JC313689,2019-06-19 21:03:00,25,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",TURNING,DIVIDED - W/MEDIAN (NOT RAISED),...,NaN,NaN,None,2019,6,19,21,14,2019-06-19 21:03:00,2
466383,ffff5751c03ed1580b49a4f1782dd2001c2046d48e3937...,HZ175480,2016-03-05 12:00:00,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLOUDY/OVERCAST,DAYLIGHT,REAR END,NOT DIVIDED,...,NaN,NaN,None,2016,3,5,12,8,2016-03-05 12:00:00,5