# Building a SQL database
This notebook builds the necessary db files for the project using SQLite3.

Most data is taken from Chicago Data Portal https://data.cityofchicago.org/ using Socrata library.
The API endpoints for the data are:
- Red Light Violations: https://data.cityofchicago.org/resource/spqx-js37.json
- Congestion by Region 2018-Present: https://data.cityofchicago.org/resource/kf7e-cur8.json
- Congestion by Region 2013-2018: https://data.cityofchicago.org/resource/emtn-qqdi.json
- Traffic Crashes: https://data.cityofchicago.org/resource/85ca-t3if.json

Weather data is taken from https://openweathermap.org/weather-data and is saved as csv in data folder

Tables to build:
- daily_violations (one entry for each camera each day with total violations)
- intersection_locations (one entry for each intersection with lat/long)
- intersection_cams (one entry for each intersection with camera_ids)
- signal_crashes (one entry for each intersection crash with many columns)
- cam_locations (one entry for each cam, with lat/long)
- cam_startend (one entry for each cam with start end dates for min/max dates active)
- hourly_congestion (one entry per hour with bus speed averages for each region)
- hourly_weather (one entry per hour with many weather cols)
- region_data (one entry per region with locations and descriptions to place intersections)

## Connecting and Setup

### Required Imports

#!pip install "dask[complete]"
# from dask.distributed import Client, progress
# client = Client(n_workers=2, threads_per_worker=2, memory_limit='1GB')
# client

In [22]:
import pandas as pd
from sodapy import Socrata
#import matplotlib.pyplot as plt
from datetime import datetime
from modules.myfuncs import *
import warnings
import numpy as np
from geopy.geocoders import Nominatim
# import dask
# import dask.dataframe as dd
import gc
from scipy.stats import mode, percentileofscore

warnings.filterwarnings('ignore')

### Create/connect to db and build the TABLEs
We create the connection and cursor objects we will use to communicate with our SQLite database.

In [2]:
# Create a db file or open connection
conn = create_connection('database/rlc2.db')  # function I created in myfuncs file
c = conn.cursor()
#conn.close()

sqlite3 version: 2.6.0
connected to database/rlc2.db

### Set up the Socrata client
The Chicago Data Portal, which contains most of my data used in this project, uses the Socrata software which can be accessed through Python's sodapy library.
Here we create a client, which we will use to query the data at the portal.

The data API is at [data.cityofchicago.org](data.cityofchicago.org)
The individual db endpoints are found by browsing the site.

In [3]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:

url = "data.cityofchicago.org"
client = Socrata(url, None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

# Build the TABLEs

For every TABLE
- Use a Socrata client query to get all relevant data
- Preprocess data as needed
- Create Table

Our data
- rlc_cam is up to 1M redlight cams from 2015 to 2020
- crash_data is up to 1M crashes from 2015 to 2020
- traffic_data is up to 10M from 2015 to 2020
- wx_data is a csv file from [openweathermap.org](openweathermap.org)

Weather data is taken from csv in data folder

## 1) Build intersection_chars TABLE from int_df

This data is created by me.  It is a dictionary contained in this repository under the file 'int_chars.py'.

To create this file, I went through all 180+ intersections with red light cameras.  I cross referenced it with a map at https://data.cityofchicago.org/Transportation/Average-Daily-Traffic-Counts-Map/pf56-35rv and google maps to compile the following data.

- roads (list): of road segments as identified in average-daily-traffic-counts db in link above.  Used to determine volume of traffic.
- protected_turn (int): How any of the left turns are protected (left turn arrow).
- total_lanes (int): Count of total lanes.  If a road has one lane for all directions N/E/S/W bound traffic, that counts as 4.  Rangees from 3 to 14 lanes.
- medians (int): Count of physical median barriers that extend up to intersection.
- exit (int): 0 if no exit.  1 if exit on/off ramp within 100m of center of intersection.  Traffic flow is affected by proximity to exit.
- split (int): 1 if it is a divided boulevard (common in Chicago) where divided lanes are split by traffic signals in median. Look at examples on google map.
- way (int): directions of traffic flow. A 4 way intersection might be NESW.
- underpass (int): number of ways that have an underpass extending up to the intersection.  These are notoriously bad intersections in Chicago.
- no_left (int): number of no left turn signs.  Usually with smaller streets onto larger roads or high volumne intersections.
- angled (int): 1 if angle between two 2way roads is greater than 30 degrees (used 1/2/sqrt(3) rule to measure.
- triangle (int): 1 if three 2way roads meet intersect or form a triangle where all 3 roads <50m
- one_way (int): number of 1 way directions.
- turn_lanes (int): how many directions have physical and identified turn lanes for left hand turns.
- lat (float): latitude of center of inersection.  
- long (float): longitude 
- rlc (int): 1 for red light camera is present
- intersection (str): name of intersection as defined in signal_crashes table in db
- daily_traffic (int): volume of daily traffic through intersection.  Sum of incoming roads from roads list.

### Preprocess int_df
Import the dictionary and convert to DataFrame which will be written as Table in my db

In [75]:
from modules.int_chars import *
import pandas as pd

int_chars.keys()
int_df = pd.DataFrame.from_dict(int_chars, orient='index')
int_df['intersection'] = int_chars.keys()
int_df.isna().sum()

roads             0
protected_turn    0
total_lanes       0
medians           0
exit              0
split             0
way               0
underpass         0
no_left           0
angled            0
triangle          0
one_way           0
turn_lanes        0
lat               0
long              0
rlc               0
intersection      0
dtype: int64

For now, we will only use intersections with rlc of 1.  I may later add intersections without rlc to identify crash characterisics.

In [76]:
int_df = int_df[int_df['rlc']==1]
int_df.columns

Index(['roads', 'protected_turn', 'total_lanes', 'medians', 'exit', 'split',
       'way', 'underpass', 'no_left', 'angled', 'triangle', 'one_way',
       'turn_lanes', 'lat', 'long', 'rlc', 'intersection'],
      dtype='object')

They were read in as non_null objects.  Would like to cast them before creating a table

In [77]:
cols_toint = ['protected_turn', 'total_lanes', 'medians', 'exit', 'split',
       'way', 'underpass', 'no_left', 'angled', 'triangle', 'one_way',
       'turn_lanes', 'rlc']
cols_tofloat = ['lat', 'long',]

int_df[cols_toint] = int_df[cols_toint].astype(int)
int_df[cols_tofloat] = int_df[cols_tofloat].astype(float)
int_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 111TH AND HALSTED to WESTERN AND TOUHY
Data columns (total 17 columns):
roads             182 non-null object
protected_turn    182 non-null int64
total_lanes       182 non-null int64
medians           182 non-null int64
exit              182 non-null int64
split             182 non-null int64
way               182 non-null int64
underpass         182 non-null int64
no_left           182 non-null int64
angled            182 non-null int64
triangle          182 non-null int64
one_way           182 non-null int64
turn_lanes        182 non-null int64
lat               182 non-null float64
long              182 non-null float64
rlc               182 non-null int64
intersection      182 non-null object
dtypes: float64(2), int64(13), object(2)
memory usage: 25.6+ KB

In [188]:
int_df.head()  # verify my table data before commit

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic
111TH AND HALSTED,2,6,2,0,0,4,0,0,1,0,0,2,41.692362,-87.642423,1,111TH AND HALSTED,43100
115TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.685089,-87.642094,1,115TH AND HALSTED,42500
119TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.677774,-87.641930,1,119TH AND HALSTED,41800
31ST AND CALIFORNIA,2,6,0,0,0,4,0,0,0,0,0,4,41.837424,-87.695022,1,31ST AND CALIFORNIA,41100
31ST ST AND MARTIN LUTHER KING DRIVE,2,10,2,0,1,4,0,2,0,0,0,0,41.838441,-87.617338,1,31ST ST AND MARTIN LUTHER KING DRIVE,36500

### Add daily traffic volume
Now bring in my count information using my roads list associated with each intersection
This data is also from the data portal.  A survey was done in 2013 for two weeks.  Traffic flow was recoreding at many points around the city.  We make the assumption that the traffic patterns at that time are at least somewhat consistent with the more current patterns and can be used as an estimation of how busy the intersections is on a typical day.

In [79]:
daily_traffic = client.get("pfsx-4n4m", 
                     limit=2000,
                    )

daily_traffic = pd.DataFrame.from_records(daily_traffic) # Convert to pandas DataFrame

In [80]:
daily_traffic.info()
cols_tokeep = ['traffic_volume_count_location_address', 'total_passing_vehicle_volume',]
daily_traffic = daily_traffic[cols_tokeep]

daily_traffic.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 15 columns):
id                                             1279 non-null object
traffic_volume_count_location_address          1279 non-null object
street                                         1279 non-null object
date_of_count                                  1279 non-null object
total_passing_vehicle_volume                   1279 non-null object
vehicle_volume_by_each_direction_of_traffic    1279 non-null object
latitude                                       1279 non-null object
longitude                                      1279 non-null object
location                                       1279 non-null object
:@computed_region_rpca_8um6                    1266 non-null object
:@computed_region_vrxf_vc4k                    1266 non-null object
:@computed_region_6mkv_f3dw                    1279 non-null object
:@computed_region_bdys_3d7i                    1265 non-null object
:@computed_region_43wa_7qmu                    1266 non-null object
:@computed_region_awaf_s7ux                    1266 non-null object
dtypes: object(15)
memory usage: 150.0+ KB

  traffic_volume_count_location_address total_passing_vehicle_volume
0                             5838 West                         7100
1                              320 East                         8600
2                             1730 East                        53500
3                              125 East                          700
4                             2924 East                         4200

In [81]:
daily_traffic.total_passing_vehicle_volume = daily_traffic.total_passing_vehicle_volume.astype(int)

daily_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 2 columns):
traffic_volume_count_location_address    1279 non-null object
total_passing_vehicle_volume             1279 non-null int64
dtypes: int64(1), object(1)
memory usage: 20.1+ KB

Combine my characteristics with my daily_traffic by looking up traffic volume from daily_traffic df.

In [82]:
int_df.roads.head()

111TH AND HALSTED                        [28 West, 11600 South]
115TH AND HALSTED                       [714 West, 11600 South]
119TH AND HALSTED                       [446 West, 11600 South]
31ST AND CALIFORNIA                     [2825 West, 3026 South]
31ST ST AND MARTIN LUTHER KING DRIVE     [440 East, 3030 South]
Name: roads, dtype: object

In [83]:
def look_up_roads(road_list):
    '''
    Look up function to get the values and return the total
            Parameters:
                roads (list): road segment list for intersection
            Returns:
                total (int): combined traffic volume of every road in roads list.
    '''
    total = 0  
    for road in road_list:
        count = daily_traffic[daily_traffic['traffic_volume_count_location_address']==road]['total_passing_vehicle_volume'].values[0]
        total += count
    return total

int_df['daily_traffic'] = int_df['roads'].apply(look_up_roads)
int_df.drop(columns=['roads'], inplace=True)

In [84]:
int_df.head()

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic
111TH AND HALSTED,2,6,2,0,0,4,0,0,1,0,0,2,41.692362,-87.642423,1,111TH AND HALSTED,43100
115TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.685089,-87.642094,1,115TH AND HALSTED,42500
119TH AND HALSTED,4,6,2,0,0,4,0,0,0,0,0,4,41.677774,-87.641930,1,119TH AND HALSTED,41800
31ST AND CALIFORNIA,2,6,0,0,0,4,0,0,0,0,0,4,41.837424,-87.695022,1,31ST AND CALIFORNIA,41100
31ST ST AND MARTIN LUTHER KING DRIVE,2,10,2,0,1,4,0,2,0,0,0,0,41.838441,-87.617338,1,31ST ST AND MARTIN LUTHER KING DRIVE,36500

### Create intersection_chars TABLE

In [86]:
make_table(int_df, 'intersection_chars', c, conn)  # function from import

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',)]

## 2) Build daily_violations TABLE  from rlc_df

This table will hold the red light camera violations data.  It will include daily violations of every red light camera.
This is a large dataset.  (320 cameras with daily violations over the past 5 years)

### Query red light violations
Use the API endpoint to get data with Socrata query.

In [87]:
# Red light violations
# Takes several minutes to run and holds about 500mb in memory to build

# First 1000000 results, returned as JSON from API / converted to Python list of dictionaries by sodapy
rlc_df = client.get("spqx-js37", #speed cams are at 'hhkd-xvj4' if you want to investigate?
                     #where='violation_date > 01-01-2020',
                     where='violation_date > \'2016-01-01T00:00:00.000\'',
                     limit=10000000,
                    )

rlc_df = pd.DataFrame.from_records(rlc_df) # Convert to pandas DataFrame

### Preprocess Red Light Camera Data

Data Columns of interest (from API docs):

INTERSECTION -
Intersection of the location of the red light enforcement camera(s). There may be more than one camera at each intersection. Plain Text

CAMERA ID -
A unique ID for each physical camera at an intersection, which may contain more than one camera. Plain Text

ADDRESS	-
The address of the physical camera (CAMERA ID). The address may be the same for all cameras or different, based on the physical installation of each camera. Plain Text

VIOLATION DATE -
The date of when the violations occurred. NOTE: The citation may be issued on a different date. Date & Time

VIOLATIONS - 
Number of violations for each camera on a particular day. Number

LATITUDE -
The latitude of the physical location of the camera(s) based on the ADDRESS column. Geocoded using the WGS84. Number

LONGITUDE -
The longitude of the physical location of the camera(s) based on the ADDRESS column. Geocoded using the WGS84.
Number

#### Investigate violation data

In [88]:
rlc_df.info()
rlc_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484202 entries, 0 to 484201
Data columns (total 10 columns):
intersection      484202 non-null object
camera_id         484086 non-null object
address           484202 non-null object
violation_date    484202 non-null object
violations        484202 non-null object
x_coordinate      458942 non-null object
y_coordinate      458942 non-null object
latitude          458942 non-null object
longitude         458942 non-null object
location          458942 non-null object
dtypes: object(10)
memory usage: 36.9+ MB

intersection          0
camera_id           116
address               0
violation_date        0
violations            0
x_coordinate      25260
y_coordinate      25260
latitude          25260
longitude         25260
location          25260
dtype: int64

#### Drop nan values and unnecessary columns
We see that we have all text/non-null objects.  Need to convert first before manipulating for preprocess.

There are a fair number of missing locations/lat/long.  Hope to be able to replace those missing values.
This represents a large enough portion of dataset that we should look them up.

The na values for camera_id will have to be dropped, since we don't know what they are.

We will not be using x andy y_coordinate, so we drop those.  We will also drop location.  We already have lat long in other columns.

In [89]:
#client_df.dropna(subset=['camera_id']).isna().sum()
try:
    # put this is a try in case we run it twice, it will skip it.
    rlc_df.dropna(subset=['camera_id'], inplace=True)
    
    # drop xy coord and location columns
    rlc_df = rlc_df.drop(columns=['x_coordinate', 'y_coordinate', 'location'], index=1)
except:
    pass



rlc_df.isna().sum()

intersection          0
camera_id             0
address               0
violation_date        0
violations            0
latitude          25255
longitude         25255
dtype: int64

In [90]:
rlc_df.intersection.sort_values().unique()

array(['111TH AND HALSTED', '115TH AND HALSTED', '119TH AND HALSTED',
       '31ST ST AND MARTIN LUTHER KING DRIVE', '35TH AND WESTERN',
       '4700 WESTERN', '55TH AND KEDZIE', '55TH AND WESTERN',
       '55TH and PULASKI', '63RD AND STATE', '71ST AND ASHLAND',
       '75TH AND STATE', '79TH AND HALSTED', '79TH AND KEDZIE',
       '87TH AND VINCENNES', '95TH AND STONEY ISLAND', '99TH AND HALSTED',
       'ADDISON AND HARLEM', 'ARCHER AND CICERO', 'ASHLAND AND 87TH',
       'ASHLAND AND 95TH', 'ASHLAND AND DIVISION',
       'ASHLAND AND FULLERTON', 'ASHLAND AND IRVING PARK',
       'ASHLAND AND LAWRENCE', 'ASHLAND AND MADISON',
       'AUSTIN AND ADDISON', 'AUSTIN AND IRVING PARK',
       'BELMONT AND KEDZIE', 'BROADWAY/SHERIDAN AND DEVON',
       'CALIFORNIA AND DEVON', 'CALIFORNIA AND DIVERSEY',
       'CALIFORNIA AND PETERSON', 'CANAL AND ROOSEVELT',
       'CENTRAL AND ADDISON', 'CENTRAL AND BELMONT',
       'CENTRAL AND CHICAGO', 'CENTRAL AND DIVERSEY',
       'CENTRAL AND FULLERTON', 'CENTRAL AND IRVING PARK',
       'CENTRAL AND LAKE', 'CENTRAL AND MILWAUKEE', 'CERMAK AND PULASKI',
       'CHICAGO AND CLARK', 'CICERO AND 47TH', 'CICERO AND ADDISON',
       'CICERO AND ARMITAGE', 'CICERO AND CHICAGO', 'CICERO AND DIVERSEY',
       'CICERO AND FULLERTON', 'CICERO AND HARRISON', 'CICERO AND I55',
       'CICERO AND NORTH', 'CICERO AND PETERSON', 'CICERO AND WASHINGTON',
       'CLARK AND FULLERTON', 'CLARK AND IRVING PARK',
       'COLUMBUS AND ILLINOIS', 'CORTLAND AND ASHLAND',
       'COTTAGE GROVE AND 71ST', 'DAMEN AND 63RD', 'DAMEN AND DIVERSEY',
       'DAMEN AND ELSTON', 'DAMEN AND FULLERTON', 'DIVERSEY AND AUSTIN',
       'DIVERSEY AND WESTERN', 'DIVISION AND DAMEN', 'ELSTON AND ADDISON',
       'ELSTON AND IRVING PARK', 'ELSTON AND LAWRENCE',
       'FOSTER AND BROADWAY', 'FOSTER AND NAGLE',
       'FOSTER AND NORTHWEST HIGHWAY', 'FULLERTON AND NARRAGANSETT',
       'GRAND AND OAK PARK', 'HALSTED AND 103RD', 'HALSTED AND 95TH',
       'HALSTED AND DIVISION', 'HALSTED AND FULLERTON',
       'HALSTED AND MADISON', 'HALSTED AND NORTH', 'HAMLIN AND LAKE',
       'HAMLIN AND MADISON', 'HARLEM AND BELMONT',
       'HOLLYWOOD AND SHERIDAN', 'HOMAN/KIMBALL AND NORTH',
       'IRVING PARK AND CALIFORNIA', 'IRVING PARK AND KEDZIE',
       'IRVING PARK AND KILPATRICK', 'IRVING PARK AND LARAMIE',
       'IRVING PARK AND NARRAGANSETT', 'JEFFERY AND 95TH',
       'KEDZIE AND 26TH', 'KEDZIE AND 31ST', 'KEDZIE AND 47TH',
       'KEDZIE AND 63RD', 'KEDZIE AND 71ST', 'KEDZIE AND ARMITAGE',
       'KIMBALL AND DIVERSEY', 'KOSTNER AND NORTH', 'LAFAYETTE AND 87TH',
       'LAKE AND UPPER WACKER', 'LAKE SHORE DR AND BELMONT',
       'LARAMIE AND FULLERTON', 'LARAMIE AND MADISON',
       'LASALLE AND KINZIE', 'LAWRENCE AND CICERO',
       'LAWRENCE AND WESTERN', 'MADISON AND WESTERN',
       'MICHIGAN AND JACKSON', 'MICHIGAN AND ONTARIO',
       'MILWAUKEE AND CENTRAL', 'MILWAUKEE AND DEVON',
       'MILWAUKEE AND MONTROSE', 'MONTROSE AND WESTERN',
       'NORTHWEST HIGHWAY AND FOSTER', 'OGDEN AND KOSTNER',
       'PERSHING AND WESTERN', 'PETERSON AND WESTERN', 'PULASKI AND 63RD',
       'PULASKI AND 79TH', 'PULASKI AND ARCHER', 'PULASKI AND ARMITAGE',
       'PULASKI AND BELMONT', 'PULASKI AND CHICAGO',
       'PULASKI AND DIVERSEY', 'PULASKI AND DIVISION',
       'PULASKI AND FOSTER', 'PULASKI AND FULLERTON',
       'PULASKI AND IRVING PARK', 'PULASKI AND LAWRENCE',
       'PULASKI AND NORTH', 'PULASKI AND PETERSON', 'RIDGE AND CLARK',
       'ROOSEVELT AND HALSTED', 'ROOSEVELT AND KOSTNER',
       'ROOSEVELT AND PULASKI', 'SACRAMENTO AND CHICAGO',
       'SACRAMENTO AND LAKE', 'SHERIDAN AND FOSTER', 'STATE AND 79TH',
       'STONEY ISLAND AND 76TH', 'STONEY ISLAND AND 79TH',
       'STONY ISLAND/CORNELL AND 67TH', 'TOUHY AND OSCEOLA',
       'VAN BUREN AND WESTERN', 'WENTWORTH AND GARFIELD',
       'WESTERN AND 63RD', 'WESTERN AND 71ST', 'WESTERN AND 79TH',
       'WESTERN AND ADDISON', 'WESTERN AND CERMAK', 'WESTERN AND CHICAGO',
       'WESTERN AND DEVON', 'WESTERN AND FOSTER', 'WESTERN AND FULLERTON',
       'WESTERN AND MARQUETTE', 'WESTERN AND NORTH', 'WESTERN AND TOUHY'],
      dtype=object)

#### Fix intersection errors identified in EDA

In [91]:
# fix a specific intersection naming problem
# both 'NORTHWEST HIGHWAY AND FOSTER' and 'FOSTER AND NORTHWEST HIGHWAY' exist.  Only one should be used.  They are same.
# Also happens with "MILWAUKEE AND CENTRAL" / "CENTRAL AND MILWAUKEE"
rlc_df['intersection'] = rlc_df['intersection'].apply(lambda x: 'MILWAUKEE AND CENTRAL' if x=='CENTRAL AND MILWAUKEE' else x)
rlc_df['intersection'] = rlc_df['intersection'].apply(lambda x: 'FOSTER AND NORTHWEST HIGHWAY' if x=='NORTHWEST HIGHWAY AND FOSTER' else x)

#### Manipulate datatypes for preprocessing.

In [92]:
rlc_df['violations'] = rlc_df['violations'].astype(int)
rlc_df['latitude'] = rlc_df['latitude'].astype(float)
rlc_df['longitude'] = rlc_df['longitude'].astype(float)
rlc_df['violation_date'] = pd.to_datetime(rlc_df['violation_date'])
rlc_df['month'] = rlc_df['violation_date'].apply(lambda x: int(x.month))
rlc_df['day'] = rlc_df['violation_date'].apply(lambda x: int(x.day))  # fixed from dat to day!

rlc_df['weekday'] = rlc_df['violation_date'].apply(lambda x: int(datetime.weekday(x)))
rlc_df['year'] = rlc_df['violation_date'].apply(lambda x: int(x.year))

### Create daily_violations TABLE

In [93]:
make_table(rlc_df, 'daily_violations', c, conn)

[('cam_locations',), ('cam_startend',), ('all_crashes',), ('hourly_congestion',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('daily_violations',)]

## 3) Build cam_locations and cam_startend TABLEs
Build tables from cam_locs AND TABLE from cam_startend.
We wll bring in camera locations from data portal and identify the start and end date for each camera.  We will use the start end dates to develop a natural experiment where we identify which cameras were turned on or off during our study timeframe.

### Camera location preprocessing
Make a df with info for each camera
Will contain the following:
- camera_id
- location
- start date (when was the camera turned on)
- end date (when was the camera turned off)

In [94]:
cam_df = rlc_df.copy()
cam_df['start'] = cam_df['camera_id'].apply(lambda x: None)
cam_df['end'] = cam_df['camera_id'].apply(lambda x: None)

In [95]:
cam_start = cam_df.groupby(['camera_id'])['violation_date'].min().reset_index()
cam_end = cam_df.groupby(['camera_id'])['violation_date'].max().reset_index()

cam_startend = cam_start.copy()

#print(cam_end[cam_end['camera_id']=='1503'].values[0][1])  # for testing output
cam_startend['end'] = cam_start['camera_id'].apply(lambda x: cam_end[cam_end['camera_id']==x].values[0][1])

cam_startend.rename(columns={"violation_date": "start"}, inplace=True)
                                                   
print('NA values in cam_startend:', cam_startend.isna().sum(), end='\n\n', sep='\n')

print('Describe cam_startend:', cam_startend.describe(), end='\n\n', sep='\n')

NA values in cam_startend:
camera_id    0
start        0
end          0
dtype: int64

Describe cam_startend:
       camera_id                start                  end
count        316                  316                  316
unique       316                   19                   17
top         1202  2016-01-02 00:00:00  2021-02-02 00:00:00
freq           1                  251                  252
first        NaN  2016-01-02 00:00:00  2017-05-29 00:00:00
last         NaN  2018-03-05 00:00:00  2021-02-02 00:00:00

#### Make a df that has camera locations and intersections
Intersections are present (and addresses), but we do not have lat/long info for all cams

In [96]:
# we had some incorrect data in the code below, but have a creative fix.
cam_locs = rlc_df.groupby(['camera_id', 'intersection']).max().reset_index()
cam_locs.head()

# we find there is a mismatch between lens, one of them is duplicated
len(cam_locs)  # 364 total
len(cam_locs['camera_id'].unique()) # 363

cam_locs[cam_locs['camera_id'].duplicated()]  # 1421 is dupe
print('Two of them\n', cam_locs[cam_locs['camera_id'] == '1421'])  # we see two of them
print()

# Which one is it?
print('Damen/Diversey', rlc_df[(rlc_df['camera_id']=='1421') & (rlc_df['intersection']=='DAMEN AND DIVERSEY')]['camera_id'].count())
print('Laramie/Fullerton:', rlc_df[(rlc_df['camera_id']=='1421') & (rlc_df['intersection']=='LARAMIE AND FULLERTON')]['camera_id'].count())

# Turns out that a camera has two locations. One was only used one time.  We drop it.
cam_locs = cam_locs[(cam_locs['camera_id']!='1421') | (cam_locs['intersection']!='DAMEN AND DIVERSEY')]
print("Total cams", len(cam_locs))  # 363 total (got rid of the bad one)

Two of them
    camera_id           intersection                  address violation_date  \
75      1421     DAMEN AND DIVERSEY  2000 W DIVERSEY PARKWAY     2017-11-30
76      1421  LARAMIE AND FULLERTON    2400 N LARAMIE AVENUE     2021-02-02

    violations   latitude  longitude  month  day  weekday  year
75           1  41.932394 -87.678173     11   30        3  2017
76           6  41.924152 -87.756295     12   31        6  2021

Damen/Diversey 1
Laramie/Fullerton: 1082
Total cams 316

In [97]:
cam_locs.isna().sum()  # missing location for 19 cameras.  Let's fix it

camera_id          0
intersection       0
address            0
violation_date     0
violations         0
latitude          17
longitude         17
month              0
day                0
weekday            0
year               0
dtype: int64

Looks like we also are missing 19 of the 363 cam locations.  Let's look it up!

We actually changed this code.  We have gone to the maps to get intersection locations, but will leave old code in case we ever need exact location of cameras.

In [98]:

'''
This section goes through all of the rlc and assigns latlong
Many lights are missing it.  
For each light, there is an address though.
We use geocoding to get the latlong
'''

# let's get all of the red light cameras with their gps location.  
# This will aid in placing the accidents at rlc intersections later (if closer than threshold point to point)
# Some RLCs are missing location data,  but have addresses.  I can use geocoding I guess to look them up.


# geolocator = Nominatim(user_agent="https://github.com/sciencelee/chicago_rlc")  # please change to match repo
 
 
# def get_geocode(lat, long, address):
#     if lat > 0:  # it's a location
#         return (lat, long)
#     else: # it's a proper location tuple, and assumed to be correct latlong
#         if address in address_fix.keys(): address = address_fix[address]  # errors in the dataset chars omitted
#         # if we make it this far, we have no record of this cam_id yet, and it doesn't have a proper location
#         location = geolocator.geocode(address + ', Chicago, IL')
#         if location == None:
#             print(address+':'+address+' : could not geolocate') # print it out if we can't find (address errors)
#         else:
#             return (location.latitude, location.longitude)

        


# Got it down to one-liner for this. Found out you can't extract and assign series like you can variables
#cam_locs['location'] = cam_locs.apply(lambda x: get_geocode(x.latitude, x.longitude, x.address), axis=1)

'\nThis section goes through all of the rlc and assigns latlong\nMany lights are missing it.  \nFor each light, there is an address though.\nWe use geocoding to get the latlong\n'

In [99]:
# cam_locs['location'].head()
# cam_locs['latitude'] = cam_locs['location'].apply(lambda x: x[0])
# cam_locs['longitude'] = cam_locs['location'].apply(lambda x: x[1])

# cam_locs = cam_locs.drop(columns=['violation_date', 'violations', 'month', 'weekday', 'year', 'location'])

In [100]:
cam_locs.info()
cam_locs.isna().sum() # No longer missing location for 19 cameras.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316 entries, 0 to 316
Data columns (total 11 columns):
camera_id         316 non-null object
intersection      316 non-null object
address           316 non-null object
violation_date    316 non-null datetime64[ns]
violations        316 non-null int64
latitude          299 non-null float64
longitude         299 non-null float64
month             316 non-null int64
day               316 non-null int64
weekday           316 non-null int64
year              316 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(3)
memory usage: 29.6+ KB

camera_id          0
intersection       0
address            0
violation_date     0
violations         0
latitude          17
longitude         17
month              0
day                0
weekday            0
year               0
dtype: int64

### Create cam_locations TABLE
from cam_locs AND cam_startend from cam_startend

In [102]:
make_table(cam_locs, 'cam_locations', c, conn)
make_table(cam_startend, 'cam_startend', c, conn)

[('cam_startend',), ('all_crashes',), ('hourly_congestion',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('daily_violations',), ('cam_locations',)]
[('all_crashes',), ('hourly_congestion',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('daily_violations',), ('cam_locations',), ('cam_startend',)]

###  Fix lat/long data
We still have missing lat/long info for our rlc_df.  Let's fix it
Before moving on.  Now that we have cam_locs, we can fix our rlc_df

In [103]:
rlc_df.isna().sum()

intersection          0
camera_id             0
address               0
violation_date        0
violations            0
latitude          25255
longitude         25255
month                 0
day                   0
weekday               0
year                  0
dtype: int64

### Change cam position to intersection lat/lon
During EDA, we found out that five cameras were in completely wrong lat/long location.  
Several others were located a little too far from the intersection to work properly.  When we rebuild the db, we will use bigger number than 30 m.

I intend to use intersection locations in lieu of camera locations.  I hope this makes all of my position data consistent for gathering crash info, and eliminates chicago data portal errors.

When using cam location, it is sometimes up to 35 m up road where cam position is.  This would cause us to misidentify crashes from other intersections or miss some in the intersection of interest. 

Remedy: Use center point of intersection for all cams.  I have done this in the intersection_chars (looked it up on google maps for all 180+ intersections)

In [104]:
int_df.columns

Index(['protected_turn', 'total_lanes', 'medians', 'exit', 'split', 'way',
       'underpass', 'no_left', 'angled', 'triangle', 'one_way', 'turn_lanes',
       'lat', 'long', 'rlc', 'intersection', 'daily_traffic'],
      dtype='object')

In [105]:
def location_correction(int_df, intersect, latlong):
    # lookup function from intersection df to get the lat long
    # int_df is the intersection characteristic frame from 1) above
    # intersect is the intersection name used to link tables/df
    # latlong is either 'lat' or 'long'
    if latlong == 'lat':
        lat = int_df[int_df['intersection']==intersect]['lat'].values[0]
        if lat==None: print(lat, intersect)
        return lat
    else:
        long = int_df[int_df['intersection']==intersect]['long'].values[0]
        return long

cam_locs['latitude'] = cam_locs['intersection'].apply(lambda x: location_correction(int_df, x, 'lat'))
cam_locs['longitude'] = cam_locs['intersection'].apply(lambda x: location_correction(int_df, x, 'long'))

In [106]:
rlc_df.intersection.head()

0                 4700 WESTERN
2           CICERO AND ADDISON
3    LAKE SHORE DR AND BELMONT
4       SACRAMENTO AND CHICAGO
5         PETERSON AND WESTERN
Name: intersection, dtype: object

In [107]:
int_df[int_df['intersection']=='IRVING PARK AND KILPATRICK']

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic
IRVING PARK AND KILPATRICK,1,6,0,0,0,4,0,0,0,0,1,3,41.953395,-87.744635,1,IRVING PARK AND KILPATRICK,37100

Make my cameras have a location that is center of intersection instead of exact cam location.

In [108]:
#  (8min on my macbook pro)
def read_loc(int_df, intersection):
    # This function looks up the new camera/intersction location using the intersection name as key
    cam = int_df[int_df['intersection']==intersection]
    #print(cam)
    return (float(cam['lat']), float(cam['long']))
        


# create a location column so we only have to do it once
rlc_df['location'] = rlc_df['intersection'].apply(lambda x: read_loc(int_df, x))
rlc_df.head()

,intersection,camera_id,address,violation_date,violations,latitude,longitude,month,day,weekday,year,location
0,4700 WESTERN,2141,4700 S WESTERN AVENUE,2019-06-05,3,41.808378,-87.684571,6,5,2,2019,"(41.808442084381, -87.68418270817706)"
2,CICERO AND ADDISON,1612,3600 N CICERO AVENUE,2019-06-05,7,41.946164,-87.747215,6,5,2,2019,"(41.946123417859745, -87.74705265633155)"
3,LAKE SHORE DR AND BELMONT,1413,400 W BELMONT AVE,2019-06-05,75,41.940241,-87.639639,6,5,2,2019,"(41.94046398185605, -87.6383448872575)"
4,SACRAMENTO AND CHICAGO,1814,3000 W CHICAGO AVENUE,2019-06-05,8,41.895705,-87.702219,6,5,2,2019,"(41.89559271274954, -87.70223070169483)"
5,PETERSON AND WESTERN,1014,2400 W PETERSON,2019-06-05,6,41.990609,-87.689735,6,5,2,2019,"(41.99053050329496, -87.68961714584131)"

In [109]:
# then add in the new lat longs to the df
rlc_df['latitude'] = rlc_df['location'].apply(lambda x: x[0])
rlc_df['longitude'] = rlc_df['location'].apply(lambda x: x[1])

In [110]:
rlc_df[rlc_df.latitude.isna()]['intersection'].unique()  # which intersections am I still missing

array([], dtype=object)

In [111]:
rlc_df.head()

,intersection,camera_id,address,violation_date,violations,latitude,longitude,month,day,weekday,year,location
0,4700 WESTERN,2141,4700 S WESTERN AVENUE,2019-06-05,3,41.808442,-87.684183,6,5,2,2019,"(41.808442084381, -87.68418270817706)"
2,CICERO AND ADDISON,1612,3600 N CICERO AVENUE,2019-06-05,7,41.946123,-87.747053,6,5,2,2019,"(41.946123417859745, -87.74705265633155)"
3,LAKE SHORE DR AND BELMONT,1413,400 W BELMONT AVE,2019-06-05,75,41.940464,-87.638345,6,5,2,2019,"(41.94046398185605, -87.6383448872575)"
4,SACRAMENTO AND CHICAGO,1814,3000 W CHICAGO AVENUE,2019-06-05,8,41.895593,-87.702231,6,5,2,2019,"(41.89559271274954, -87.70223070169483)"
5,PETERSON AND WESTERN,1014,2400 W PETERSON,2019-06-05,6,41.990531,-87.689617,6,5,2,2019,"(41.99053050329496, -87.68961714584131)"

In [190]:
# get rid of location column.  We have latitude and longitude in separate columns and don't want BLOBs for now
if 'location' in rlc_df.columns:
    rlc_df.drop(columns=['location'], inplace=True)

### Create daily_violations TABLE
Now we have gone back to rlc_df and fixd the location data to line up with intersections.
We commit it to our database.

In [113]:
make_table(rlc_df, 'daily_violations', c, conn)

[('all_crashes',), ('hourly_congestion',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',)]

## 4) Build intersection_cams TABLE
Create a table to store intersection and camera data using int_cams df.

### Preprocess intersection_cams
We will now focus on trying to bring rlc intersections to our crashes
We find that we have 363 cameras at 183 intersections.

Group my data by intersection and pull out the individual camera_id.  We place them into separate columns.  This allows us to store the individual camera ids associated with each intersection should we need them for a query.

In [115]:
int_cams = cam_locs.groupby(['intersection']) \
                    .agg({'latitude':pd.Series.max, 'longitude':pd.Series.max,}) \
                    .reset_index()

int_cams['cam1'] = int_cams['intersection'] \
                            .apply(lambda x: cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[0])

int_cams['cam2'] = int_cams['intersection'].apply( \
                            lambda x: None if len(cam_locs[cam_locs['intersection']==x])==1 \
                            else cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[1])

int_cams['cam3'] = int_cams['intersection'].apply( \
                            lambda x: None if len(cam_locs[cam_locs['intersection']==x])<3 \
                            else cam_locs[cam_locs['intersection']==x]['camera_id'].iloc[2])                             

int_cams.head()

,intersection,latitude,longitude,cam1,cam2,cam3
0,111TH AND HALSTED,41.692362,-87.642423,2422,2424,None
1,115TH AND HALSTED,41.685089,-87.642094,2552,2553,None
2,119TH AND HALSTED,41.677774,-87.641930,2402,2404,None
3,31ST ST AND MARTIN LUTHER KING DRIVE,41.838441,-87.617338,2121,2123,None
4,35TH AND WESTERN,41.830281,-87.684775,2091,2092,None

In [116]:
print('Total Cameras', len(cam_locs))
print('Total Intersections', len(int_cams))

Total Cameras 316
Total Intersections 157

### Create intersection_cams TABLE 
Create it from int_cams

In [117]:
make_table(int_cams, 'intersection_cams', c, conn)

[('all_crashes',), ('hourly_congestion',), ('region_data',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',)]

## 5) Create signal_crashes and all_crashes TABLE
Create all_crashes from crash_df.  All crashes will include all signal crashes in the city.

Create signal_crashes from crash_df. This will only be the signal crashes at red light cam intersections.

The crash data has a column for 'intersection related crashes', and another for 'traffic signal'.  We use this to filter our data.

### Crash data preprocessing

In [118]:
# Crash Data
crash_data = client.get("85ca-t3if", 
                     where="crash_date > \'2016-01-01T00:00:00.000\'",
                     limit=1000000,
                    )

crash_df = pd.DataFrame.from_records(crash_data) # Convert to pandas DataFrame

In [119]:
# drop a few columns we don't need, including location (we have lat/long)
dropme = ['statements_taken_i', 'private_property_i', 'photos_taken_i', 'dooring_i', 'date_police_notified','location']

crash_df.drop(columns=dropme, inplace=True)

In [120]:
crash_df.isna().sum()

crash_record_id                       0
rd_no                              4223
crash_date                            0
posted_speed_limit                    0
traffic_control_device                0
device_condition                      0
weather_condition                     0
lighting_condition                    0
first_crash_type                      0
trafficway_type                       0
alignment                             0
roadway_surface_cond                  0
road_defect                           0
report_type                       11576
crash_type                            0
damage                                0
prim_contributory_cause               0
sec_contributory_cause                0
street_no                             0
street_direction                      3
street_name                           1
beat_of_occurrence                    5
num_units                             0
most_severe_injury                  956
injuries_total                      945
injuries_fatal                      945
injuries_incapacitating             945
injuries_non_incapacitating         945
injuries_reported_not_evident       945
injuries_no_indication              945
injuries_unknown                    945
crash_hour                            0
crash_day_of_week                     0
crash_month                           0
latitude                           2584
longitude                          2584
lane_cnt                         277809
intersection_related_i           362032
hit_and_run_i                    330491
crash_date_est_i                 433538
work_zone_i                      465107
work_zone_type                   465728
workers_present_i                467384
dtype: int64

We have 2.5k entries that have no location.  Let's drop them

In [121]:
crash_df.dropna(subset=['latitude',], inplace=True)  # get rid of na locations

### Contents of crash data

Let's look at what is in the data.  We have over 30 columns.  Much of it is categorical.  We want to look and see what is in here before we continue.  

We start with over half a million crashes.

In [122]:
# What's in this data?
col_interest = ['traffic_control_device', 'device_condition', 'weather_condition',
       'lighting_condition', 'first_crash_type', 'trafficway_type',
       'alignment', 'roadway_surface_cond', 'road_defect', 'report_type',
       'crash_type', 'hit_and_run_i', 'damage', 'prim_contributory_cause',
       'sec_contributory_cause', 'street_no', 'street_direction',
       'street_name', 'beat_of_occurrence', 'num_units', 'most_severe_injury', 
        'injuries_fatal', 'injuries_incapacitating',
       'injuries_non_incapacitating', 'injuries_reported_not_evident',
       'injuries_no_indication', 'injuries_unknown', 'crash_hour',
       'crash_day_of_week', 'crash_month', 'latitude', 'longitude', 'lane_cnt',
       'intersection_related_i', 'crash_date_est_i',
       'work_zone_i', 'work_zone_type',
       'workers_present_i']

for col in col_interest:
    print(col, crash_df[col].unique())

traffic_control_device ['NO CONTROLS' 'STOP SIGN/FLASHER' 'TRAFFIC SIGNAL' 'UNKNOWN'
 'OTHER WARNING SIGN' 'PEDESTRIAN CROSSING SIGN' 'OTHER' 'YIELD'
 'OTHER REG. SIGN' 'LANE USE MARKING' 'DELINEATORS'
 'FLASHING CONTROL SIGNAL' 'POLICE/FLAGMAN' 'RAILROAD CROSSING GATE'
 'SCHOOL ZONE' 'OTHER RAILROAD CROSSING' 'RR CROSSING SIGN' 'NO PASSING'
 'BICYCLE CROSSING SIGN']
device_condition ['NO CONTROLS' 'FUNCTIONING PROPERLY' 'NOT FUNCTIONING' 'UNKNOWN' 'OTHER'
 'FUNCTIONING IMPROPERLY' 'WORN REFLECTIVE MATERIAL' 'MISSING']
weather_condition ['CLEAR' 'RAIN' 'SNOW' 'UNKNOWN' 'CLOUDY/OVERCAST' 'SLEET/HAIL'
 'FREEZING RAIN/DRIZZLE' 'FOG/SMOKE/HAZE' 'OTHER' 'BLOWING SNOW'
 'SEVERE CROSS WIND GATE' 'BLOWING SAND, SOIL, DIRT']
lighting_condition ['DAYLIGHT' 'DARKNESS' 'DARKNESS, LIGHTED ROAD' 'UNKNOWN' 'DAWN' 'DUSK']
first_crash_type ['TURNING' 'REAR END' 'PARKED MOTOR VEHICLE'
 'SIDESWIPE OPPOSITE DIRECTION' 'ANGLE' 'SIDESWIPE SAME DIRECTION'
 'OTHER OBJECT' 'HEAD ON' 'PEDESTRIAN' 'FIXED OBJECT' 'PEDALCYCLIST'
 'REAR TO FRONT' 'REAR TO SIDE' 'REAR TO REAR' 'ANIMAL'
 'OTHER NONCOLLISION' 'OVERTURNED' 'TRAIN']
trafficway_type ['ONE-WAY' 'NOT DIVIDED' 'FOUR WAY' 'DIVIDED - W/MEDIAN (NOT RAISED)'
 'DIVIDED - W/MEDIAN BARRIER' 'UNKNOWN' 'PARKING LOT' 'ALLEY'
 'T-INTERSECTION' 'OTHER' 'CENTER TURN LANE' 'FIVE POINT, OR MORE'
 'TRAFFIC ROUTE' 'NOT REPORTED' 'Y-INTERSECTION' 'RAMP' 'DRIVEWAY'
 'UNKNOWN INTERSECTION TYPE' 'ROUNDABOUT' 'L-INTERSECTION']
alignment ['STRAIGHT AND LEVEL' 'CURVE ON HILLCREST' 'STRAIGHT ON GRADE'
 'CURVE, LEVEL' 'STRAIGHT ON HILLCREST' 'CURVE ON GRADE']
roadway_surface_cond ['DRY' 'WET' 'UNKNOWN' 'SNOW OR SLUSH' 'ICE' 'OTHER' 'SAND, MUD, DIRT']
road_defect ['NO DEFECTS' 'UNKNOWN' 'RUT, HOLES' 'SHOULDER DEFECT' 'OTHER'
 'WORN SURFACE' 'DEBRIS ON ROADWAY']
report_type ['ON SCENE' 'NOT ON SCENE (DESK REPORT)' nan 'AMENDED']
crash_type ['NO INJURY / DRIVE AWAY' 'INJURY AND / OR TOW DUE TO CRASH']
hit_and_run_i [nan 'Y' 'N']
damage ['OVER $1,500' '$500 OR LESS' '$501 - $1,500']
prim_contributory_cause ['IMPROPER BACKING' 'FAILING TO YIELD RIGHT-OF-WAY' 'UNABLE TO DETERMINE'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'IMPROPER OVERTAKING/PASSING' 'IMPROPER LANE USAGE'
 'IMPROPER TURNING/NO SIGNAL' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'FOLLOWING TOO CLOSELY' 'DISTRACTION - FROM INSIDE VEHICLE'
 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE' 'WEATHER'
 'FAILING TO REDUCE SPEED TO AVOID CRASH' 'DISREGARDING TRAFFIC SIGNALS'
 'NOT APPLICABLE' 'EXCEEDING AUTHORIZED SPEED LIMIT'
 'ROAD CONSTRUCTION/MAINTENANCE' 'DISTRACTION - FROM OUTSIDE VEHICLE'
 'EQUIPMENT - VEHICLE CONDITION' 'DISREGARDING STOP SIGN'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'DRIVING ON WRONG SIDE/WRONG WAY' 'DISREGARDING OTHER TRAFFIC SIGNS'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS' 'PHYSICAL CONDITION OF DRIVER'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)' 'TEXTING'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST'
 'DISREGARDING YIELD SIGN' 'CELL PHONE USE OTHER THAN TEXTING'
 'DISREGARDING ROAD MARKINGS' 'BICYCLE ADVANCING LEGALLY ON RED LIGHT'
 'ANIMAL'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'RELATED TO BUS STOP' 'TURNING RIGHT ON RED' 'OBSTRUCTED CROSSWALKS'
 'PASSING STOPPED SCHOOL BUS' 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT']
sec_contributory_cause ['UNABLE TO DETERMINE' 'NOT APPLICABLE' 'FAILING TO YIELD RIGHT-OF-WAY'
 'IMPROPER LANE USAGE' 'FOLLOWING TOO CLOSELY'
 'DISTRACTION - FROM INSIDE VEHICLE' 'WEATHER'
 'FAILING TO REDUCE SPEED TO AVOID CRASH' 'DISREGARDING STOP SIGN'
 'EXCEEDING AUTHORIZED SPEED LIMIT' 'DRIVING SKILLS/KNOWLEDGE/EXPERIENCE'
 'EQUIPMENT - VEHICLE CONDITION' 'PHYSICAL CONDITION OF DRIVER'
 'DISREGARDING OTHER TRAFFIC SIGNS' 'IMPROPER BACKING'
 'IMPROPER OVERTAKING/PASSING' 'DISREGARDING TRAFFIC SIGNALS'
 'HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)'
 'IMPROPER TURNING/NO SIGNAL' 'ROAD CONSTRUCTION/MAINTENANCE'
 'UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)'
 'OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER'
 'DISTRACTION - FROM OUTSIDE VEHICLE'
 'VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)'
 'DRIVING ON WRONG SIDE/WRONG WAY' 'DISREGARDING ROAD MARKINGS'
 'DISREGARDING YIELD SIGN' 'EXCEEDING SAFE SPEED FOR CONDITIONS'
 'EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST'
 'ROAD ENGINEERING/SURFACE/MARKING DEFECTS'
 'DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)'
 'PASSING STOPPED SCHOOL BUS' 'MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT'
 'RELATED TO BUS STOP' 'TURNING RIGHT ON RED'
 'CELL PHONE USE OTHER THAN TEXTING' 'ANIMAL' 'OBSTRUCTED CROSSWALKS'
 'BICYCLE ADVANCING LEGALLY ON RED LIGHT' 'TEXTING']
street_no ['2158' '8301' '1632' ... '12437' '11181' '11167']
street_direction ['N' 'S' 'E' 'W']
street_name ['MARMORA AVE' 'CICERO AVE' '67TH ST' ... 'CRESTLINE ST' 'PARK PL'
 'BALDWIN AVE']
beat_of_occurrence ['2515' '834' '331' '224' '1732' '1115' '1822' '225' '1034' '1113' '131'
 '511' '2511' '234' '623' '1011' '222' '612' '1412' '815' '2411' '1821'
 '1654' '814' '524' '1922' '1414' '2212' '1215' '1235' '1925' '1221' '411'
 '2223' '2412' '1111' '334' '523' '1911' '1832' '1611' '1513' '733' '1224'
 '1032' '413' '1214' '1431' '423' '1634' '2521' '1621' '114' '233' '2211'
 '1523' '324' '1921' '1724' '824' '2534' '1733' '1834' '911' '822' '611'
 '1713' '1622' '614' '211' '2423' '823' '833' '1813' '1532' '1632' '724'
 '1934' '1935' '1135' '1031' '2531' '933' '1923' '1233' '1234' '711'
 '1924' '1023' '2031' '923' '1012' '722' '1614' '1824' '633' '1133' '1432'
 '2432' '111' '1711' '1013' '1912' '1422' '2533' '1712' '2024' '533' '122'
 '212' '2032' '121' '1433' '1932' '1212' '2222' '831' '1022' '2433' '1913'
 '714' '1222' '811' '432' '725' '1424' '313' '1624' '422' '2512' '2233'
 '632' '1731' '2524' '622' '912' '2532' '2523' '1522' '2535' '821' '914'
 '932' '2213' '1121' '1124' '2022' '1434' '913' '434' '1232' '1814' '123'
 '321' '812' '431' '1833' '2424' '1411' '513' '532' '723' '1211' '825'
 '1531' '433' '1631' '221' '2525' '2011' '1722' '835' '915' '832' '634'
 '2033' '1123' '924' '412' '1223' '2012' '1122' '132' '323' '1524' '713'
 '1024' '1225' '1213' '1125' '1014' '214' '223' '1112' '935' '813' '732'
 '2013' '2522' '1723' '2413' '1623' '934' '1612' '322' '1511' '621' '2232'
 '1512' '1633' '726' '1131' '421' '1613' '1811' '1132' '1021' '922' '1933'
 '624' '631' '1421' '1033' '231' '2514' '731' '734' '1914' '931' '1931'
 '312' '735' '925' '522' '1413' '715' '2221' '2431' '124' '113' '332'
 '1423' '1134' '414' '235' '512' '333' '2234' '424' '1231' '1533' '921'
 '1823' '213' '112' '133' '712' '314' '1915' '1114' '1831' '2422' '311'
 '2513' '1812' '2023' '613' '215' '531' '232' '1651' nan]
num_units ['2' '3' '1' '4' '5' '8' '7' '6' '9' '11' '10' '12' '14' '15' '18' '16']
most_severe_injury ['NO INDICATION OF INJURY' 'NONINCAPACITATING INJURY'
 'REPORTED, NOT EVIDENT' 'INCAPACITATING INJURY' 'FATAL' nan]
injuries_fatal ['0' '1' nan '2' '3' '4']
injuries_incapacitating ['0' '1' '2' nan '4' '3' '5' '6' '7']
injuries_non_incapacitating ['0' '1' '2' '3' '4' nan '5' '6' '7' '10' '8' '21' '14' '18' '9' '12' '11'
 '16']
injuries_reported_not_evident ['0' '1' '2' nan '3' '5' '4' '11' '8' '6' '7' '9' '10' '15']
injuries_no_indication ['3' '2' '1' '5' '4' '0' '6' nan '8' '9' '7' '11' '10' '24' '12' '27' '31'
 '16' '13' '30' '50' '18' '21' '17' '14' '42' '46' '26' '15' '22' '61'
 '38' '19' '20' '34' '29' '40' '37' '28' '36' '33' '32' '25' '39']
injuries_unknown ['0' nan]
crash_hour ['17' '16' '10' '1' '22' '14' '8' '4' '12' '11' '18' '15' '7' '19' '6' '5'
 '20' '3' '21' '13' '9' '23' '2' '0']
crash_day_of_week ['4' '6' '7' '5' '2' '3' '1']
crash_month ['7' '6' '3' '8' '5' '1' '12' '2' '10' '11' '9' '4']
latitude ['41.919663833' '41.741803599' '41.773455972' ... '41.946498423'
 '41.765745906' '41.92470866']
longitude ['-87.773287883' '-87.740953582' '-87.585022352' ... '-87.726311667'
 '-87.651852167' '-87.717371333']
lane_cnt [nan '4' '2' '6' '3' '0' '5' '1' '99' '8' '10' '7' '40' '9' '16' '15' '12'
 '28' '20' '11' '14' '22' '41' '433634' '25' '30' '35' '1191625' '60' '19'
 '400' '21' '902' '100' '299679' '17' '45' '218474' '80' '24' '44']
intersection_related_i [nan 'Y' 'N']
crash_date_est_i [nan 'Y' 'N']
work_zone_i [nan 'Y' 'N']
work_zone_type [nan 'MAINTENANCE' 'CONSTRUCTION' 'UTILITY' 'UNKNOWN']
workers_present_i [nan 'Y' 'N']

### Create all_crashes TABLE
We create this and will continue to process it to deliver a table with only crashes at signaled intersections.

In [123]:
make_table(crash_df, 'all_crashes', c, conn)

[('hourly_congestion',), ('region_data',), ('signal_crashes',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',)]

### Filter for desired crashes (intersections with signal)
The contents of crash data section has helped us.  
We can filter 'traffic_control_device' == 'TRAFFIC SIGNAL'.  
We can filter 'intersection_related_i' == 'Y'

This will leave us with only crashes that occurred at/because of intersections, and with a signal at the intersection.

intersection_related_i: A field observation by the police officer whether an intersection played a role in the crash. Does not represent whether or not the crash occurred within the intersection.

In [ ]:
crash_df = crash_df[(crash_df['traffic_control_device']=='TRAFFIC SIGNAL') & \
                    (crash_df['intersection_related_i']=='Y')]

### Add intersection to my signal crashes

Look up each lat long for crash and get the corresponding intersection if we have it.

Tried to look up using geo equations took forever.  Also slow using pythag thrm, took long time.  Finally settled on using a simple box.  I basically check to see if the crash location is inside a box defining the intersection (within 50m of the intersection centerpoint)

In [124]:
#
# This takes too long to process.  Let's simplify it and make it a box instead.
box_side = 100  # effectively makes it check for crash being within 40m of intersection
box_lat = box_side / 111070 / 2 # 111070 is meters in deg lat in Chicago
box_long = box_side / 83000 / 2 # 83000 is meters in deg long in Chicago

def box_check(lat, long, int_df):
    answer = (int_df[  (int_df['lat'] > (lat - box_lat)) & 
                      (int_df['lat'] < (lat + box_lat)) &
                      (int_df['long'] > (long - box_long)) &
                      (int_df['long'] < (long + box_long))
                     ])
    if answer.empty: return None
    return answer['intersection'].values[0]
    
# THIS SEEMS TO WORK WITH SPEED AND ELIMINATES MEMORY PROBLEM
crash_df['intersection'] = crash_df.apply(lambda x: box_check(float(x.latitude), 
                                                              float(x.longitude), 
                                                              int_df), axis=1)

Extract the integer date data from the crash_date column

In [125]:
# #Ex: df[['two', 'three']] = df[['two', 'three']].astype(float)
crash_df['crash_date'] = pd.to_datetime(crash_df['crash_date'])
crash_df['year'] = crash_df['crash_date'].apply(lambda x: int(x.year))
crash_df['month'] = crash_df['crash_date'].apply(lambda x: int(x.month))
crash_df['day'] = crash_df['crash_date'].apply(lambda x: int(x.day))
crash_df['hour'] = crash_df['crash_date'].apply(lambda x: int(x.hour))

In [191]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60677 entries, 5 to 468103
Data columns (total 51 columns):
crash_record_id                  60677 non-null object
rd_no                            60145 non-null object
crash_date                       60677 non-null datetime64[ns]
posted_speed_limit               60677 non-null object
traffic_control_device           60677 non-null object
device_condition                 60677 non-null object
weather_condition                60677 non-null object
lighting_condition               60677 non-null object
first_crash_type                 60677 non-null object
trafficway_type                  60677 non-null object
alignment                        60677 non-null object
roadway_surface_cond             60677 non-null object
road_defect                      60677 non-null object
report_type                      58839 non-null object
crash_type                       60677 non-null object
damage                           60677 non-null object
prim_contributory_cause          60677 non-null object
sec_contributory_cause           60677 non-null object
street_no                        60677 non-null object
street_direction                 60677 non-null object
street_name                      60677 non-null object
beat_of_occurrence               60677 non-null object
num_units                        60677 non-null object
most_severe_injury               60660 non-null object
injuries_total                   60660 non-null object
injuries_fatal                   60660 non-null object
injuries_incapacitating          60660 non-null object
injuries_non_incapacitating      60660 non-null object
injuries_reported_not_evident    60660 non-null object
injuries_no_indication           60660 non-null object
injuries_unknown                 60660 non-null object
crash_hour                       60677 non-null object
crash_day_of_week                60677 non-null object
crash_month                      60677 non-null object
latitude                         60677 non-null float64
longitude                        60677 non-null float64
lane_cnt                         25965 non-null object
intersection_related_i           60677 non-null object
hit_and_run_i                    11597 non-null object
crash_date_est_i                 2646 non-null object
work_zone_i                      459 non-null object
work_zone_type                   358 non-null object
workers_present_i                98 non-null object
intersection                     8724 non-null object
year                             60677 non-null int64
month                            60677 non-null int64
day                              60677 non-null int64
hour                             60677 non-null int64
region_id                        60373 non-null object
time                             60677 non-null datetime64[ns]
weekday                          60677 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(5), object(42)
memory usage: 24.1+ MB

### Create signal_crashes TABLE
Create from crash_df.  These 60k crashes are labeled with region_id and intersection as foreign keys for SQL queries.

In [127]:
make_table(crash_df, 'signal_crashes', c, conn)

[('hourly_congestion',), ('region_data',), ('int_startend',), ('hourly_weather',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',)]

## 6) Build hourly_congestion TABLE 

Chicago tracks periodic (irregular) bus speed data.  The data is aggregated so that we get an average bus_speed for every region at least once an hour while buses are running.  

Build from all_traffic DataFrame.

For this one, we have to combine two different datasets.  Chicago changed the way data was recorded in 2018.  Columns are similar, but more data collected.

### First dataset
Won't be able to table it until we get both datasets.

In [4]:
# Congestion Data
traffic_df = client.get("emtn-qqdi", 
                     #where="TIME > \'2015-01-01T00:00:00.000\'",
                     where='TIME > \'2016-01-01T00:00:00.000\'',
                     limit=10000000,
                    )

traffic_df = pd.DataFrame.from_records(traffic_df) # Convert to pandas DataFrame

In [5]:
traffic_df.rename(columns={'number_of_reads':'num_reads'}, inplace=True)
traffic_df['time'] = pd.to_datetime(traffic_df['time'])
traffic_df['bus_count'] = traffic_df['bus_count'].astype(int)
traffic_df['num_reads'] = traffic_df['num_reads'].astype(int)
traffic_df['speed'] = traffic_df['speed'].astype(float)

### Second dataset

In [6]:
# Congestion data from later
traffic_df2 = client.get("kf7e-cur8", #2018 to present
                     select='time, region_id, speed, bus_count, num_reads',  # this set is huge, so we won't get all       
                     where="TIME < \'2021-01-01T00:00:00.000\'",
                     limit=10000000,
                    )

# Convert to pandas DataFrame
traffic_df2 = pd.DataFrame.from_records(traffic_df2)

In [7]:
#traffic2_df.rename(columns={'number_of_reads':'num_reads'}, inplace=True)
traffic_df2['time'] = pd.to_datetime(traffic_df2['time'])
traffic_df2['bus_count'] = traffic_df2['bus_count'].astype(int)
traffic_df2['num_reads'] = traffic_df2['num_reads'].astype(int)
traffic_df2['speed'] = traffic_df2['speed'].astype(float)

### Preprocess hourly_congestion
We have two separate traffic_dfs.  There is data prior to 2018 and after in two different api endpoints.

In [8]:
traffic_df.head()
traffic_df2.head()
traffic_df2.info()
print()
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959185 entries, 0 to 3959184
Data columns (total 5 columns):
time         datetime64[ns]
region_id    object
speed        float64
bus_count    int64
num_reads    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 151.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3507463 entries, 0 to 3507462
Data columns (total 5 columns):
time         datetime64[ns]
region_id    object
bus_count    int64
num_reads    int64
speed        float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 133.8+ MB

In [9]:
# Merge my two data sets for congestion by region
all_traffic = pd.merge(traffic_df, traffic_df2, how='outer')
print('traffic dfs merged')

traffic dfs merged

In [10]:
all_traffic['hour'] = all_traffic['time'].dt.hour
print('added hour column')

all_traffic['day'] = all_traffic.time.dt.day
print('added day column')

all_traffic['month'] = all_traffic.time.dt.month
print('added month column')

all_traffic['year'] = all_traffic.time.dt.year
print('added year column')

all_traffic['weekday'] = all_traffic.time.dt.weekday
print('added weekday column')

added hour column
added day column
added month column
added year column
added weekday column

In [11]:
print(len(all_traffic))  # lots of dupes 
all_traffic = all_traffic.groupby(['year', 'month', 'day', 'hour', 'region_id']).mean().reset_index()
all_traffic.info()

7256572
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242940 entries, 0 to 1242939
Data columns (total 9 columns):
year         1242940 non-null int64
month        1242940 non-null int64
day          1242940 non-null int64
hour         1242940 non-null int64
region_id    1242940 non-null object
bus_count    1242940 non-null float64
num_reads    1242940 non-null float64
speed        1242940 non-null float64
weekday      1242940 non-null float64
dtypes: float64(4), int64(4), object(1)
memory usage: 85.3+ MB

In [12]:
all_traffic.head()

   year  month  day  hour region_id  bus_count  num_reads   speed  weekday
0  2016      1    1     0         1        6.8      120.2  27.062      4.0
1  2016      1    1     0        10       34.0      390.8  24.834      4.0
2  2016      1    1     0        11       16.2      265.8  26.004      4.0
3  2016      1    1     0        12       25.0      350.8  16.526      4.0
4  2016      1    1     0        13       33.6      511.4  18.136      4.0

In [13]:
# couple minutes
make_table(all_traffic, 'hourly_congestion', c, conn)

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',), ('intersection_chars',), ('hourly_congestion',)]

### Speed fix for congestion
Congestion is measured by average bus speed.

The problem:
- Overnight (between 11 and 5am) we have few bus routes.
- Some regions have no buses overnight
- Some regions have only a few buses 
- Some buses are ending routes and have only a few reads
- Some buses are stationary (next morning staging)

The fix:
- replace speed for few buses/reads if speed is low
- we assume low buses/reads to be overnight when congestion is minimal
- replacement speed is a low congestion quantile speed (90% or so)

In [14]:
## Let's get the 0.90 quantile for every region, and then use that to fill in missing data

regions_90 = all_traffic.groupby(['region_id'])['speed'].quantile(0.9).reset_index()

In [15]:
regions_90.head()

  region_id      speed
0         1  25.068333
1        10  26.453400
2        11  26.808033
3        12  23.136667
4        13  24.143667

In [16]:
#### 5 MINUTES OR SO

#my read on this is that few buses run 24/7, so the data is unreliable.  
# buses stage for next morning.  You can see them all along Clark, LSD etc.  
# They have speed=0 and may be recording.  Could talk to owner of dataset.

# I will draw the cutoff at 100 reads, 5 buses, speed < 10
# in that case I will put in a quantile speed for the region


def speed_check(bus, speed, reads, region_id, regions_90):
    if (bus <= 5 or reads < 100) and speed < 25 or speed > 40:
        return regions_90[regions_90['region_id']==region_id]['speed'].values[0]
    else:
        return speed
    

# apply is SLOOOOOOWWW, but not sure how else to accomplish this without iterating
all_traffic['speed'] = all_traffic.apply(lambda x: speed_check(x.bus_count, x.speed, x.num_reads, x.region_id, regions_90), axis=1)

### Create hourly_congestion TABLE

In [17]:
make_table(all_traffic, 'hourly_congestion', c, conn)

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',), ('intersection_chars',), ('hourly_congestion',)]

#### Add quantile speed
In models, congestion was not as useful as the EDA suggested.  I would like to create a quantile speed for each area.  That way downtown traffic midday is not worse than peak traffic in other regions.

In [65]:
import timeit

# This is slow!  Original speed took about 0.01s per iteration!  (200 minutes!!!!)
# used dictionary of smaller dfs and looked up inside lambda function (0.003 per iteration) (60 minutes!!!)

# split into 29 dfs, cycle perform lambda on each (no need for df.apply x, could do series.apply) (2 minutes...)

def quant_speed(speed, df):
    # returns a percentile speed for the region
    quant = percentileofscore(df['speed'], speed)
    return quant
    
    
new_df = pd.DataFrame(columns=all_traffic.columns)
new_df['quantile_speed'] = None

for i in all_traffic.region_id.unique():
    df = all_traffic[all_traffic['region_id'] == str(i)]
    df['quantile_speed'] = df['speed'].apply(lambda x: quant_speed(x, df))
    new_df = new_df.append(df)
    
new_df.head()
# filtering first and pull from dict increased speed by 15x by using dictionary lookup
# starttime = timeit.default_timer()
# all_traffic['quantile_speed'] = all_traffic.apply(lambda x: quant_speed(x.speed, x.region_id, df_dict[x.region_id]), axis=1)
# print("The time difference is :", timeit.default_timer() - starttime)

     year  month  day  hour region_id  bus_count   num_reads      speed  \
0    2016      1    1     0         1   6.800000  120.200000  27.062000
29   2016      1    1     1         1   5.000000   69.500000  25.068333
58   2016      1    1     2         1   3.000000   34.000000  25.068333
87   2016      1    1     3         1   3.500000   58.166667  25.068333
116  2016      1    1     4         1   3.666667   43.000000  25.068333

     weekday  quantile_speed
0        4.0       97.881475
29       4.0       82.092860
58       4.0       82.092860
87       4.0       82.092860
116      4.0       82.092860
     year  month  day  hour region_id  bus_count   num_reads      speed  \
1    2016      1    1     0        10  34.000000  390.800000  24.834000
30   2016      1    1     1        10  37.500000  421.333333  24.000000
59   2016      1    1     2        10  26.000000  247.000000  25.435000
88   2016      1    1     3        10  17.666667  168.000000  25.823333
117  2016      1    1     4        10  20.166667  200.166667  25.068333

     weekday  quantile_speed
1        4.0       72.461503
30       4.0       64.438871
59       4.0       79.052730
88       4.0       83.523098
117      4.0       74.949837
     year  month  day  hour region_id  bus_count   num_reads   speed  weekday  \
2    2016      1    1     0        11  16.200000  265.800000  26.004      4.0
31   2016      1    1     1        11  23.333333  318.000000  24.740      4.0
60   2016      1    1     2        11  13.500000  181.833333  25.150      4.0
89   2016      1    1     3        11   8.000000  114.500000  28.870      4.0
118  2016      1    1     4        11   9.166667  142.500000  27.295      4.0

     quantile_speed
2         82.091694
31        70.618292
60        74.804013
89        97.772982
118       92.680821
     year  month  day  hour region_id  bus_count   num_reads      speed  \
3    2016      1    1     0        12  25.000000  350.800000  16.526000
32   2016      1    1     1        12  29.333333  391.000000  16.876667
61   2016      1    1     2        12  12.500000  146.333333  19.540000
90   2016      1    1     3        12   6.000000   86.833333  23.136667
119  2016      1    1     4        12   5.666667   62.166667  23.136667

     weekday  quantile_speed
3        4.0       19.157723
32       4.0       22.281848
61       4.0       47.821979
90       4.0       83.580261
119      4.0       83.580261
     year  month  day  hour region_id  bus_count   num_reads      speed  \
4    2016      1    1     0        13  33.600000  511.400000  18.136000
33   2016      1    1     1        13  32.166667  480.166667  18.181667
62   2016      1    1     2        13  15.666667  211.166667  22.396667
91   2016      1    1     3        13  10.166667  161.000000  23.341667
120  2016      1    1     4        13   8.000000  130.166667  25.471667

     weekday  quantile_speed
4        4.0       50.619459
33       4.0       50.897107
62       4.0       77.529165
91       4.0       82.656323
120      4.0       95.017499
     year  month  day  hour region_id  bus_count   num_reads      speed  \
5    2016      1    1     0        14  16.200000  256.400000  26.862000
34   2016      1    1     1        14   9.000000  134.833333  28.621667
63   2016      1    1     2        14   4.333333   59.166667  27.680000
92   2016      1    1     3        14   3.833333   53.666667  27.680000
121  2016      1    1     4        14   9.666667  159.833333  28.573333

     weekday  quantile_speed
5        4.0       73.043630
34       4.0       95.270649
63       4.0       85.678955
92       4.0       85.678955
121      4.0       95.139991
     year  month  day  hour region_id  bus_count   num_reads      speed  \
6    2016      1    1     0        15  11.000000  172.800000  30.458000
35   2016      1    1     1        15   9.666667  137.666667  28.566667
64   2016      1    1     2        15   6.333333   88.833333  27.318333
93   2016      1    1     3        15   6.500000   99.000000  31.361667
122  2016      1    1     4        15   8.500000  124.833333  29.613333

     weekday  quantile_speed
6        4.0       96.894540
35       4.0       84.730518
64       4.0       74.878675
93       4.0       98.426272
122      4.0       94.527531
     year  month  day  hour region_id  bus_count   num_reads      speed  \
7    2016      1    1     0        16   9.000000  116.000000  38.676000
36   2016      1    1     1        16  13.500000  199.666667  33.453333
65   2016      1    1     2        16   5.666667   65.666667  34.033333
94   2016      1    1     3        16   4.500000   83.500000  29.832650
123  2016      1    1     4        16   4.833333   89.666667  29.832650

     weekday  quantile_speed
7        4.0       99.713019
36       4.0       97.389174
65       4.0       97.755483
94       4.0       83.140457
123      4.0       83.140457
     year  month  day  hour region_id  bus_count  num_reads      speed  \
8    2016      1    1     0        17   4.800000  52.400000  31.568333
37   2016      1    1     1        17   3.333333  52.666667  31.568333
66   2016      1    1     2        17   2.000000  15.833333  31.568333
95   2016      1    1     3        17   1.000000   3.166667  31.568333
124  2016      1    1     4        17   3.500000  42.166667  31.568333

     weekday  quantile_speed
8        4.0       78.268782
37       4.0       78.268782
66       4.0       78.268782
95       4.0       78.268782
124      4.0       78.268782
     year  month  day  hour region_id  bus_count   num_reads      speed  \
9    2016      1    1     0        18  19.200000  370.400000  26.454000
38   2016      1    1     1        18  13.333333  255.500000  28.410000
67   2016      1    1     2        18   6.666667  106.500000  25.745000
96   2016      1    1     3        18   6.666667  117.666667  30.735000
125  2016      1    1     4        18   9.833333  182.333333  29.626667

     weekday  quantile_speed
9        4.0       67.837144
38       4.0       91.819879
67       4.0       58.541764
96       4.0       98.117126
125      4.0       96.335744
     year  month  day  hour region_id  bus_count  num_reads      speed  \
10   2016      1    1     0        19  17.400000      288.6  27.382000
39   2016      1    1     1        19  15.500000      249.5  27.931667
68   2016      1    1     2        19  10.000000      124.5  29.765000
97   2016      1    1     3        19   7.166667      121.0  30.006667
126  2016      1    1     4        19  12.166667      190.0  28.158333

     weekday  quantile_speed
10       4.0       79.307046
39       4.0       85.884274
68       4.0       97.329678
97       4.0       97.911806
126      4.0       88.010966
     year  month  day  hour region_id  bus_count  num_reads      speed  \
11   2016      1    1     0         2  10.200000  78.600000  26.570000
40   2016      1    1     1         2   7.666667  65.166667  28.348333
69   2016      1    1     2         2   5.833333  43.500000  29.773333
98   2016      1    1     3         2   6.000000  34.833333  29.773333
127  2016      1    1     4         2   7.833333  54.333333  29.773333

     weekday  quantile_speed
11       4.0       16.390574
40       4.0       52.566496
69       4.0       84.172888
98       4.0       84.172888
127      4.0       84.172888
     year  month  day  hour region_id  bus_count   num_reads      speed  \
12   2016      1    1     0        20  13.200000  187.600000  28.540000
41   2016      1    1     1        20  14.166667  232.000000  29.613333
70   2016      1    1     2        20   8.500000   98.333333  30.501667
99   2016      1    1     3        20   5.333333   85.000000  28.148500
128  2016      1    1     4        20   8.166667  119.000000  30.233333

     weekday  quantile_speed
12       4.0       93.400607
41       4.0       97.841811
70       4.0       99.043397
99       4.0       86.446570
128      4.0       98.759916

     year  month  day  hour region_id  bus_count   num_reads      speed  \
13   2016      1    1     0        21  15.600000  282.800000  26.862000
42   2016      1    1     1        21  13.833333  250.000000  28.365000
71   2016      1    1     2        21  10.000000  134.833333  30.615000
100  2016      1    1     3        21   6.333333  107.666667  21.905000
129  2016      1    1     4        21   8.666667  135.166667  29.263333

     weekday  quantile_speed
13       4.0       72.601493
42       4.0       94.893840
71       4.0       99.101727
100      4.0       15.090994
129      4.0       97.526832
     year  month  day  hour region_id  bus_count   num_reads   speed  weekday  \
14   2016      1    1     0        22  10.200000  161.400000  31.990      4.0
43   2016      1    1     1        22   8.000000   87.833333  26.755      4.0
72   2016      1    1     2        22   4.166667   29.333333  31.125      4.0
101  2016      1    1     3        22   3.000000   18.833333  31.125      4.0
130  2016      1    1     4        22   3.833333   26.833333  31.125      4.0

     quantile_speed
14        95.661456
43        11.231918
72        84.272049
101       84.272049
130       84.272049
     year  month  day  hour region_id  bus_count   num_reads      speed  \
15   2016      1    1     0        23  37.600000  379.800000  25.254000
44   2016      1    1     1        23  34.166667  354.333333  25.795000
73   2016      1    1     2        23  28.833333  270.500000  27.125000
102  2016      1    1     3        23  13.666667  158.166667  25.453333
131  2016      1    1     4        23  18.166667  210.166667  26.123333

     weekday  quantile_speed
15       4.0       77.307513
44       4.0       82.728651
73       4.0       94.778348
102      4.0       79.098227
131      4.0       85.986934
     year  month  day  hour region_id  bus_count   num_reads      speed  \
16   2016      1    1     0        24  16.400000  305.000000  28.078000
45   2016      1    1     1        24  12.833333  257.000000  27.783333
74   2016      1    1     2        24   6.833333  121.833333  21.818333
103  2016      1    1     3        24   5.666667  116.166667  26.360000
132  2016      1    1     4        24   8.000000  170.666667  29.558333

     weekday  quantile_speed
16       4.0       80.807280
45       4.0       77.916472
74       4.0       12.607326
103      4.0       59.546197
132      4.0       97.267849
     year  month  day  hour region_id  bus_count  num_reads   speed  weekday  \
17   2016      1    1     0        25   4.200000  40.400000  31.705      4.0
46   2016      1    1     1        25   1.833333  19.166667  31.705      4.0
75   2016      1    1     2        25   1.666667  10.000000  31.705      4.0
104  2016      1    1     3        25   1.500000   6.500000  31.705      4.0
133  2016      1    1     4        25   1.333333   7.333333  31.705      4.0

     quantile_speed
17        80.816612
46        80.816612
75        80.816612
104       80.816612
133       80.816612
     year  month  day  hour region_id  bus_count   num_reads      speed  \
18   2016      1    1     0        26  11.200000  173.200000  32.132000
47   2016      1    1     1        26   8.166667  118.333333  34.460000
76   2016      1    1     2        26  10.333333  122.833333  36.115000
105  2016      1    1     3        26   5.666667   77.333333  29.026667
134  2016      1    1     4        26   8.166667  125.166667  32.250000

     weekday  quantile_speed
18       4.0       83.408773
47       4.0       95.807280
76       4.0       97.644657
105      4.0       54.743350
134      4.0       83.980401
     year  month  day  hour region_id  bus_count  num_reads    speed  weekday  \
19   2016      1    1     0        27  10.600000  87.600000  27.9260      4.0
48   2016      1    1     1        27   7.500000  44.500000  31.7851      4.0
77   2016      1    1     2        27   7.000000  34.166667  31.7851      4.0
106  2016      1    1     3        27   3.833333  23.833333  31.7851      4.0
135  2016      1    1     4        27   5.666667  32.666667  31.7851      4.0

     quantile_speed
19        11.146757
48        84.762016
77        84.762016
106       84.762016
135       84.762016
     year  month  day  hour region_id  bus_count  num_reads  speed  weekday  \
20   2016      1    1     0        28   1.000000  14.600000  35.84      4.0
49   2016      1    1     1        28   0.666667  10.833333  35.84      4.0
78   2016      1    1     2        28   1.166667  18.166667  35.84      4.0
107  2016      1    1     3        28   0.500000  10.666667  35.84      4.0
136  2016      1    1     4        28   0.500000  11.166667  35.84      4.0

     quantile_speed
20        67.449837
49        67.449837
78        67.449837
107       67.449837
136       67.449837
     year  month  day  hour region_id  bus_count   num_reads      speed  \
21   2016      1    1     0        29  51.200000  695.000000   5.456000
50   2016      1    1     1        29  25.000000  247.000000  17.103333
79   2016      1    1     2        29   7.333333   48.500000  25.731700
108  2016      1    1     3        29   3.166667   22.333333  25.731700
137  2016      1    1     4        29   2.333333   13.500000  25.731700

     weekday  quantile_speed
21       4.0        0.027998
50       4.0        3.310779
79       4.0       79.175222
108      4.0       79.175222
137      4.0       79.175222
     year  month  day  hour region_id  bus_count   num_reads      speed  \
22   2016      1    1     0         3  26.200000  305.600000  25.094000
51   2016      1    1     1         3  14.333333  195.666667  25.400000
80   2016      1    1     2         3   9.666667  110.333333  26.476667
109  2016      1    1     3         3   8.666667   92.500000  29.488333
138  2016      1    1     4         3  12.500000  139.500000  27.658333

     weekday  quantile_speed
22       4.0       68.852077
51       4.0       72.202520
80       4.0       82.393840
109      4.0       99.251050
138      4.0       95.169155
     year  month  day  hour region_id  bus_count   num_reads      speed  \
23   2016      1    1     0         4   8.600000  144.000000  25.904000
52   2016      1    1     1         4   8.666667  144.833333  25.030000
81   2016      1    1     2         4   5.833333   86.500000  24.511667
110  2016      1    1     3         4   5.000000   82.833333  24.511667
139  2016      1    1     4         4   4.833333   84.166667  24.511667

     weekday  quantile_speed
23       4.0       95.529631
52       4.0       92.645824
81       4.0       84.385208
110      4.0       84.385208
139      4.0       84.385208
     year  month  day  hour region_id  bus_count   num_reads      speed  \
24   2016      1    1     0         5  12.600000  222.800000  26.488000
53   2016      1    1     1         5   9.166667  148.833333  29.018333
82   2016      1    1     2         5   6.333333  100.833333  19.316667
111  2016      1    1     3         5   3.500000   63.333333  27.100000
140  2016      1    1     4         5   5.333333   81.666667  27.100000

     weekday  quantile_speed
24       4.0       74.293047
53       4.0       98.196454
82       4.0        3.258283
111      4.0       84.912506
140      4.0       84.912506
     year  month  day  hour region_id  bus_count   num_reads      speed  \
25   2016      1    1     0         6  14.400000  252.200000  24.080000
54   2016      1    1     1         6  12.833333  212.333333  26.011667
83   2016      1    1     2         6   7.333333  109.166667  26.251667
112  2016      1    1     3         6   4.500000   72.833333  26.223333
141  2016      1    1     4         6   6.166667  111.833333  27.941667

     weekday  quantile_speed
25       4.0       63.576762
54       4.0       80.425805
83       4.0       90.422305
112      4.0       85.930938
141      4.0       97.180355
     year  month  day  hour region_id  bus_count   num_reads    speed  \
26   2016      1    1     0         7  11.400000  204.800000  25.3440
55   2016      1    1     1         7  11.166667  163.666667  25.8300
84   2016      1    1     2         7   4.166667   48.000000  25.5785
113  2016      1    1     3         7   3.333333   38.666667  25.5785
142  2016      1    1     4         7   5.666667   89.833333  25.5785

     weekday  quantile_speed
26       4.0       79.316379
55       4.0       91.539897
84       4.0       85.419972
113      4.0       85.419972
142      4.0       85.419972

     year  month  day  hour region_id  bus_count   num_reads      speed  \
27   2016      1    1     0         8  24.800000  425.000000  23.194000
56   2016      1    1     1         8  22.666667  425.000000  20.795000
85   2016      1    1     2         8  14.333333  223.333333  21.443333
114  2016      1    1     3         8   7.833333  139.833333  27.181667
143  2016      1    1     4         8  10.500000  186.833333  25.461667

     weekday  quantile_speed
27       4.0       69.255716
56       4.0       48.006300
85       4.0       54.892674
114      4.0       97.648157
143      4.0       91.436071
     year  month  day  hour region_id  bus_count  num_reads    speed  weekday  \
28   2016      1    1     0         9   5.800000  78.000000  26.9041      4.0
57   2016      1    1     1         9   4.166667  59.500000  26.9041      4.0
86   2016      1    1     2         9   3.000000  37.000000  26.9041      4.0
115  2016      1    1     3         9   1.500000  17.666667  26.9041      4.0
144  2016      1    1     4         9   2.666667  40.833333  26.9041      4.0

     quantile_speed
28        82.456836
57        82.456836
86        82.456836
115       82.456836
144       82.456836

,year,month,day,hour,region_id,bus_count,num_reads,speed,weekday,quantile_speed
0,2016,1,1,0,1,6.800000,120.200000,27.062000,4.0,97.881475
29,2016,1,1,1,1,5.000000,69.500000,25.068333,4.0,82.092860
58,2016,1,1,2,1,3.000000,34.000000,25.068333,4.0,82.092860
87,2016,1,1,3,1,3.500000,58.166667,25.068333,4.0,82.092860
116,2016,1,1,4,1,3.666667,43.000000,25.068333,4.0,82.092860

In [64]:
new_df.region_id.unique()

array(['1', '2'], dtype=object)

In [66]:
make_table(new_df, 'hourly_congestion', c, conn)

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',), ('intersection_chars',), ('hourly_congestion',)]

## 7) Create hourly_weather 
Created from wx_df dataframe.  

This data is hourly historical data from a bulk query from openweathermap.org for the city of Chicago.
Columns of interest:
- temp (deg K)
- rain_1h (mm rain in last hour)
- snow_1h (mm snow in last hour)
- weather_main (description)

### Preprocess hourly_weather

In [200]:
# Import weather data from csv
wx_df = pd.read_csv('data/chi_wx.csv')

In [201]:
wx_df.weather_main.unique()

array(['Clear', 'Clouds', 'Snow', 'Mist', 'Rain', 'Drizzle', 'Haze',
       'Fog', 'Thunderstorm', 'Smoke', 'Tornado', 'Dust', 'Squall'],
      dtype=object)

In [202]:
wx_df['time'] = pd.to_datetime(wx_df['dt_iso'].apply(lambda x: x[:-4]))
wx_df.head()
wx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57306 entries, 0 to 57305
Data columns (total 26 columns):
dt                     57306 non-null int64
dt_iso                 57306 non-null object
timezone               57306 non-null int64
city_name              57306 non-null object
lat                    57306 non-null float64
lon                    57306 non-null float64
temp                   57306 non-null float64
feels_like             57306 non-null float64
temp_min               57306 non-null float64
temp_max               57306 non-null float64
pressure               57306 non-null int64
sea_level              0 non-null float64
grnd_level             0 non-null float64
humidity               57306 non-null int64
wind_speed             57306 non-null float64
wind_deg               57306 non-null int64
rain_1h                6750 non-null float64
rain_3h                820 non-null float64
snow_1h                1991 non-null float64
snow_3h                113 non-null float64
clouds_all             57306 non-null int64
weather_id             57306 non-null int64
weather_main           57306 non-null object
weather_description    57306 non-null object
weather_icon           57306 non-null object
time                   57306 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(13), int64(7), object(5)
memory usage: 11.4+ MB

In [203]:
wx_df['rain_3h'] = wx_df['rain_3h'].fillna(0)
wx_df['rain_1h'] = wx_df['rain_1h'].fillna(0)
wx_df['snow_3h'] = wx_df['snow_3h'].fillna(0)
wx_df['snow_1h'] = wx_df['snow_1h'].fillna(0)
wx_df['temp'] = wx_df['temp_max']
wx_df['year'] = wx_df.time.dt.year
wx_df['month'] = wx_df.time.dt.month
wx_df['day'] = wx_df.time.dt.day
wx_df['hour'] = wx_df.time.dt.hour
wx_df['weekday'] = wx_df.time.dt.weekday

In [204]:
wx_df.describe()

,dt,timezone,lat,lon,temp,feels_like,temp_min,temp_max,pressure,sea_level,...,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,year,month,day,hour,weekday
count,5.730600e+04,57306.000000,5.730600e+04,5.730600e+04,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,0.0,...,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000,57306.000000
mean,1.517459e+09,-19338.016962,4.187811e+01,-8.762980e+01,285.037523,279.694640,281.447694,285.037523,1016.055526,NaN,...,0.046291,0.015908,0.001911,61.439361,750.328482,2017.599745,6.354082,15.741196,11.457648,3.002181
std,5.588673e+07,1739.719658,1.421098e-14,2.842196e-14,11.189403,13.319188,10.489184,11.189403,7.644737,NaN,...,0.695364,0.127158,0.066529,32.006648,111.551016,1.768262,3.527509,8.822858,6.909577,2.001015
min,1.420070e+09,-21600.000000,4.187811e+01,-8.762980e+01,245.370000,233.180000,242.150000,245.370000,965.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,200.000000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,1.469056e+09,-21600.000000,4.187811e+01,-8.762980e+01,276.103000,269.340000,273.710000,276.103000,1011.000000,NaN,...,0.000000,0.000000,0.000000,40.000000,800.000000,2016.000000,3.000000,8.000000,5.000000,1.000000
50%,1.517942e+09,-18000.000000,4.187811e+01,-8.762980e+01,284.260000,278.355000,280.645000,284.260000,1016.000000,NaN,...,0.000000,0.000000,0.000000,75.000000,802.000000,2018.000000,6.000000,16.000000,11.000000,3.000000
75%,1.565992e+09,-18000.000000,4.187811e+01,-8.762980e+01,294.850000,291.510000,290.714500,294.850000,1021.000000,NaN,...,0.000000,0.000000,0.000000,90.000000,803.000000,2019.000000,9.000000,23.000000,17.000000,5.000000
max,1.613430e+09,-18000.000000,4.187811e+01,-8.762980e+01,311.480000,309.890000,306.132000,311.480000,1044.000000,NaN,...,35.000000,8.400000,6.000000,100.000000,804.000000,2021.000000,12.000000,31.000000,23.000000,6.000000

In [205]:
try:
    wx_df = wx_df.drop(columns=['dt', 
                        'dt_iso', 
                        'timezone', 
                        'city_name', 
                        'lat', 
                        'lon', 
                        'feels_like', 
                        'temp_min', 
                        'temp_max',
                        'pressure',
                        'sea_level',
                        'grnd_level',
                        'humidity',
                        'wind_speed',
                        'wind_deg',
                        'clouds_all',
                        'weather_description',
                        'weather_icon',
                        'weather_id',
                       ], axis=1)
except:
    print('Failed')

In [206]:
print(len(wx_df))
print(wx_df.duplicated().sum())


print('Total hours in 6 years:', 365.25 * 24 * 6)
print('Unique entries:', len(wx_df.drop_duplicates()))  
# missing a few entries (700+ out of 52k)  Am I missing a month??

print()
print(wx_df.time.min(), wx_df.time.max())  # OH!!!!  I am missin last month
print('Total hours in 6 years (-1 mos):', 365.25 * 24 * 6 - 31 * 24)  # okay, we are only missing a few


wx_df.drop_duplicates(inplace=True)

57306
0
Total hours in 6 years: 52596.0
Unique entries: 57306

2015-01-01 00:00:00+00:00 2021-02-15 23:00:00+00:00
Total hours in 6 years (-1 mos): 51852.0

### Create hourly_weather TABLE

In [149]:
make_table(wx_df, 'hourly_weather', c, conn)

[('region_data',), ('int_startend',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',), ('hourly_weather',)]

## 8) Create region_data TABLE 
Created from region_df dataframe.

Wanted to add a table which contained the region information.  Congestion TABLE uses region_id to break city into 29 traffic regions.  We use the regions for congestion (bus speed) data.

### Preprocess region_data TABLE

In [150]:
# THis time we only grab what we need

region_df = client.get("kf7e-cur8", # regional congestion current data
                         select='region_id, region, description, north, south, east, west',
                         limit=1000
                    )

# Convert to pandas DataFrame
region_df = pd.DataFrame.from_records(region_df)  # should only return most recent for each region

In [151]:
region_df = region_df.groupby('region_id').max().reset_index()

In [152]:
# need these as floats so we can compare them
region_df[['north', 'south', 'east', 'west']] = region_df[['north', 'south', 'east', 'west']].astype(float)
region_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
region_id      29 non-null object
region         29 non-null object
description    29 non-null object
north          29 non-null float64
south          29 non-null float64
east           29 non-null float64
west           29 non-null float64
dtypes: float64(4), object(3)
memory usage: 1.7+ KB

### Add region to my crash df

In [153]:
crash_df[['latitude', 'longitude']] = crash_df[['latitude', 'longitude']].astype(float)
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60677 entries, 5 to 468103
Data columns (total 48 columns):
crash_record_id                  60677 non-null object
rd_no                            60145 non-null object
crash_date                       60677 non-null datetime64[ns]
posted_speed_limit               60677 non-null object
traffic_control_device           60677 non-null object
device_condition                 60677 non-null object
weather_condition                60677 non-null object
lighting_condition               60677 non-null object
first_crash_type                 60677 non-null object
trafficway_type                  60677 non-null object
alignment                        60677 non-null object
roadway_surface_cond             60677 non-null object
road_defect                      60677 non-null object
report_type                      58839 non-null object
crash_type                       60677 non-null object
damage                           60677 non-null object
prim_contributory_cause          60677 non-null object
sec_contributory_cause           60677 non-null object
street_no                        60677 non-null object
street_direction                 60677 non-null object
street_name                      60677 non-null object
beat_of_occurrence               60677 non-null object
num_units                        60677 non-null object
most_severe_injury               60660 non-null object
injuries_total                   60660 non-null object
injuries_fatal                   60660 non-null object
injuries_incapacitating          60660 non-null object
injuries_non_incapacitating      60660 non-null object
injuries_reported_not_evident    60660 non-null object
injuries_no_indication           60660 non-null object
injuries_unknown                 60660 non-null object
crash_hour                       60677 non-null object
crash_day_of_week                60677 non-null object
crash_month                      60677 non-null object
latitude                         60677 non-null float64
longitude                        60677 non-null float64
lane_cnt                         25965 non-null object
intersection_related_i           60677 non-null object
hit_and_run_i                    11597 non-null object
crash_date_est_i                 2646 non-null object
work_zone_i                      459 non-null object
work_zone_type                   358 non-null object
workers_present_i                98 non-null object
intersection                     8724 non-null object
year                             60677 non-null int64
month                            60677 non-null int64
day                              60677 non-null int64
hour                             60677 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(41)
memory usage: 22.7+ MB

In [154]:
# add in the region for my crashes
# Resource hog
crash_df.columns


def which_region(lat, long, region_df):
    #print(lat, long)
    row = region_df[(region_df['east'] >= long) &
                    (region_df['west'] < long) &
                    (region_df['north'] >= lat) &
                    (region_df['south'] < lat)]['region_id'].max()
    return row

#df.iloc[:5]
# takes some 5min
crash_df['region_id'] = crash_df.apply(lambda x: which_region(x.latitude, x.longitude, region_df), axis=1)

In [155]:
len(crash_df)
crash_df.columns

crash_df['time'] = pd.to_datetime(crash_df.crash_date)
crash_df['year'] = crash_df.time.dt.year
crash_df['month'] = crash_df.time.dt.month
crash_df['day'] = crash_df.time.dt.day
crash_df['hour'] = crash_df.time.dt.hour
crash_df['weekday'] = crash_df.time.dt.weekday

### Create region_df TABLE and update signal_crashes TABLE

With new info added to crash table, we overwrite previous table.

In [156]:
make_table(region_df, 'region_data', c, conn)
print()
make_table(crash_df, 'signal_crashes', c, conn)  # also update my crash data

[('int_startend',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('signal_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',)]

[('int_startend',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('intersection_cams',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',)]

### Add region_id to intersection_cams
While I'm here and I have the function ready.
I would like to add region_id number to my red light camera (daily_violations TABLE)
The region there will help me link the daily_violations and hourly_congestion TABLEs

*** NOTE: Makes more sense to come back and put the region into the intersection_cameras table to speed this up

In [157]:
# 1 minutes
#rlc['region_id'] = 
int_cams['region_id'] = int_cams.apply(lambda x: which_region(x.latitude, x.longitude, region_df), axis=1)

In [158]:
## commit my change
make_table(int_cams, 'intersection_cams', c, conn)

[('int_startend',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('signal_crashes',), ('intersection_cams',)]

<b> Use this code to test any of your tables for proper data storage </b>

In [159]:
query = c.execute("SELECT camera_id, violations FROM daily_violations;").fetchall()
print(query[:5])
print(len(query))

[('2141', 3), ('1612', 7), ('1413', 75), ('1814', 8), ('1014', 6)]
484085

### Add intersections to signal_crashes 
Want to add this as a foreign key to help with queries.

In [160]:
sql_fetch_tables(c, conn)

[('int_startend',),
 ('all_hours',),
 ('intersection_chars',),
 ('cam_locations',),
 ('cam_startend',),
 ('daily_violations',),
 ('all_crashes',),
 ('hourly_congestion',),
 ('hourly_weather',),
 ('region_data',),
 ('signal_crashes',),
 ('intersection_cams',)]

In [161]:
# read data back in to prevent having to rerun code.
df = pd.read_sql_query("SELECT * FROM signal_crashes", conn)
camloc_df = pd.read_sql_query('SELECT * FROM cam_locations', conn)
ints_df = pd.read_sql_query('SELECT * FROM intersection_cams', conn)

In [162]:
#ints_df.astype({'longitude':float})
pd.options.display.max_rows = 200

### Add intersection data to crashes

In [163]:
# Let's simplify it and make it a box instead.
box_side = 100  # effectively makes it check for crash being within 25m of interscection
box_lat = box_side / 111070 / 2 # 111070 is meters in deg lat in Chicago
box_long = box_side / 83000 / 2 # 83000 is meters in deg long in Chicago

def box_check(lat, long, int_df):
    n = lat + box_lat
    s = lat - box_lat
    e = long + box_long
    w = long - box_long
    # print('n', n, 's', s, 'e', e, 'w', w, 'lat:', lat, 'long:', long)
    answer = int_df[  (int_df['lat'] > s) &
                      (int_df['lat'] < n) &
                      (int_df['long'] > w) &
                      (int_df['long'] < e)
                      
                     ]
    if answer.empty: return None
    return answer['intersection'].values[0]

    
# THIS SEEMS TO WORK AT SPEED AND ELIMINATES MEMORY PROBLEM
# this code is just to test out a chunk of data
for i in range(5000, 5100): 
    lat = float(df.iloc[i]['latitude'])
    long = float(df.iloc[i]['longitude'])
    n = lat + box_lat
    s = lat - box_lat
    e = long + box_long
    w = long - box_long
    answer = int_df[  (int_df['lat'] > s) &
                      (int_df['lat'] < n) &
                      (int_df['long'] > w) &
                      (int_df['long'] < e)]['intersection'].values
    if len(answer): print(answer[0])
    
# 99th Halsted: 41.714230	-87.643043
# MOMENT OF TRUTH
df['intersection'] = df.apply(lambda x: box_check(float(x.latitude), float(x.longitude), int_df), axis=1)

CALIFORNIA AND PETERSON
CALIFORNIA AND DIVERSEY
STONY ISLAND/CORNELL AND 67TH
WESTERN AND ADDISON
PULASKI AND FULLERTON
ASHLAND AND 47TH
ASHLAND AND 47TH
ROOSEVELT AND PULASKI
WESTERN AND PRATT
PULASKI AND 79TH
95TH AND STONEY ISLAND
WESTERN AND 79TH
AUSTIN AND IRVING PARK
CENTRAL AND ADDISON
STONEY ISLAND AND 79TH
STONY ISLAND/CORNELL AND 67TH
55TH and PULASKI
HAMLIN AND MADISON
WESTERN AND NORTH
CENTRAL AND LAKE
ASHLAND AND 87TH
WESTERN AND ARMITAGE
BLUE ISLAND AND DAMEN
CANAL AND ROOSEVELT
79TH AND KEDZIE
STONEY ISLAND AND 79TH
95TH AND STONEY ISLAND
DAMEN AND DIVERSEY

### Overwrite signal_crashes TABLE
Now it is updated with intersections

In [165]:
make_table(df, 'signal_crashes', c, conn)

[('int_startend',), ('all_hours',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',)]

## 9) Create all_hours TABLE
Make a table that just has every date and hour for every intersection.  Will help out my queries so I can use LEFT JOINS only.  Will use the weather data (hourly) to build my table.

In [166]:
#int_chars = pd.read_sql_query("SELECT * FROM intersection_chars", conn)
v_df = pd.read_sql_query("SELECT * FROM daily_violations", conn)
wx_df = pd.read_sql_query("SELECT * FROM hourly_weather", conn)

In [167]:
grouped_dates = wx_df.groupby(['year', 'month', 'day', 'hour']).max().reset_index()[['year', 'month', 'day', 'hour']]
grouped_dates = grouped_dates[grouped_dates['year']>2015]

In [168]:
# didn't work 
grouped_dates.head()
grouped_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44952 entries, 8760 to 53711
Data columns (total 4 columns):
year     44952 non-null int64
month    44952 non-null int64
day      44952 non-null int64
hour     44952 non-null int64
dtypes: int64(4)
memory usage: 1.7 MB

In [169]:
# Should only have to do this once
#for i in range(len(wx_df)):
big_df = grouped_dates.copy()
big_df['intersection'] = my_ints[0]


for i in range(1, len(my_ints)):
    df = grouped_dates.copy()
    df['intersection'] = my_ints[i]
    big_df = pd.concat([big_df, df])

In [170]:
big_df.intersection.isna().sum()

0

In [171]:
big_df.intersection.unique()
big_df.dropna(subset=['intersection'], inplace=True)

In [172]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7102416 entries, 8760 to 53711
Data columns (total 5 columns):
year            int64
month           int64
day             int64
hour            int64
intersection    object
dtypes: int64(4), object(1)
memory usage: 325.1+ MB

In [173]:
pd.options.display.max_rows = 500
print(365.25 * 5 * 158 * 24)  # 5 years, 365 days, 158ish intersections

6925140.0

### Create all_hours TABLE

In [174]:
make_table(big_df, 'all_hours', c, conn)

[('int_startend',), ('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',)]

## 10) Build int_startend TABLE 

Create a table which serves to provide start and end dates for camera functioning at every intersection.

We will just look at the earliest and latest entries from the violations.
When cameras are off, they just disappear from the database.

All cameras have gaps (maintenance and malfunctions). I do not differentiate these in this project.

### Preprocess int_startend
Add intersection start-end dates

In [175]:
v_df = pd.read_sql_query("SELECT * FROM daily_violations", conn)

In [176]:
v_df['start'] = v_df['violation_date']
v_df['end'] = v_df['violation_date']

start_end = v_df.groupby('intersection').agg({'start':'min', 'end':'max'}).reset_index()

In [177]:
start_end.start.sort_values().tail(50)
start_end.head()

,intersection,start,end
0,111TH AND HALSTED,2016-01-02 00:00:00,2021-02-02 00:00:00
1,115TH AND HALSTED,2016-01-02 00:00:00,2017-10-26 00:00:00
2,119TH AND HALSTED,2016-01-02 00:00:00,2021-02-02 00:00:00
3,31ST ST AND MARTIN LUTHER KING DRIVE,2016-01-02 00:00:00,2021-02-02 00:00:00
4,35TH AND WESTERN,2016-01-02 00:00:00,2021-02-02 00:00:00

### Create start_end

In [178]:
make_table(start_end, 'int_startend', c, conn)

[('intersection_chars',), ('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',)]

## Add speed to int_char TABLE
Use the average (or mode speed) from crashes at intersection to add to my intersection charateristics.

In [179]:
speed_df = pd.read_sql_query("SELECT * FROM signal_crashes", conn)
int_char_df = pd.read_sql_query("SELECT * FROM intersection_chars", conn)

In [180]:
speed_df.posted_speed_limit = speed_df.posted_speed_limit.astype(int)

In [181]:
speed_df = speed_df.groupby('intersection').agg({'posted_speed_limit':max}).reset_index()  # mode is from scipy

In [182]:
speed_df.posted_speed_limit.unique()
speed_df.head()

                           intersection  posted_speed_limit
0                     111TH AND HALSTED                  35
1                     115TH AND HALSTED                  35
2                     119TH AND HALSTED                  35
3                   31ST AND CALIFORNIA                  35
4  31ST ST AND MARTIN LUTHER KING DRIVE                  35

In [183]:

# df is defined globally
def speed_lookup(intersection):
    # needed to put a try in there because one intersection had no crashes over time period
    try:
        speed = speed_df[speed_df['intersection']==intersection]['posted_speed_limit'].values[0]
    except:
        speed=30
    return speed
    
int_char_df['speed'] = int_char_df['intersection'].apply(speed_lookup)

In [184]:
int_char_df.head()

,protected_turn,total_lanes,medians,exit,split,way,underpass,no_left,angled,triangle,one_way,turn_lanes,lat,long,rlc,intersection,daily_traffic,speed
0,2,6,2,0,0,4,0,0,1,0,0,2,41.692362,-87.642423,1,111TH AND HALSTED,43100,35
1,4,6,2,0,0,4,0,0,0,0,0,4,41.685089,-87.642094,1,115TH AND HALSTED,42500,35
2,4,6,2,0,0,4,0,0,0,0,0,4,41.677774,-87.641930,1,119TH AND HALSTED,41800,35
3,2,6,0,0,0,4,0,0,0,0,0,4,41.837424,-87.695022,1,31ST AND CALIFORNIA,41100,35
4,2,10,2,0,1,4,0,2,0,0,0,0,41.838441,-87.617338,1,31ST ST AND MARTIN LUTHER KING DRIVE,36500,35

### Rewrite int_char

In [185]:
make_table(int_char_df, 'intersection_chars', c, conn)

[('cam_locations',), ('cam_startend',), ('daily_violations',), ('all_crashes',), ('hourly_congestion',), ('hourly_weather',), ('region_data',), ('intersection_cams',), ('signal_crashes',), ('all_hours',), ('int_startend',), ('intersection_chars',)]

## Close my connection to the db

In [67]:
c.close()